<!--编辑用户信息-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent"   methodName="Update_UserInfo" actionName="UserBianji" resulttype="showmessage">
    <params name="Email"    datatype="string" require="true" length="128" htmlencode="false" defaultvalue="" format="" errmsg="邮箱{0}" />
    <params name="Username" datatype="string" require="true" length="32"  htmlencode="false" defaultvalue="" format="" errmsg="用户名{0}" />
    <params name="Realname" datatype="string" require=""     length="128" htmlencode="false" defaultvalue="" format="" errmsg="真实姓名{0}" />
    <params name="Qq"       datatype="string" require=""     length="16"  htmlencode="false" defaultvalue="" format="" errmsg="QQ{0}" />
    <params name="Password" datatype="string" require=""     length="32"  htmlencode="false" defaultvalue="" format="" errmsg="密码{0}" />
    <params name="Zipcode"  datatype="string" require=""     length="16"  htmlencode="false" defaultvalue="" format="" errmsg="邮编{0}" />
    <params name="Address"  datatype="string" require=""     length="255" htmlencode="false" defaultvalue="" format="" errmsg="地址{0}" />
    <params name="Mobile"   datatype="string" require=""     length="16"  htmlencode="false" defaultvalue="" format="" errmsg="手机{0}" />
    <params name="Enable"   datatype="string" require=""     length="1"   htmlencode="false" defaultvalue="" format="" errmsg="是否激活{0}" />
    <params name="Secret"   datatype="string" require=""     length="32"  htmlencode="false" defaultvalue="" format="" errmsg="邮件验证码{0}" />
    <params name="Manager"  datatype="string" require=""     length="1"   htmlencode="false" defaultvalue="" format="" errmsg="是否有管理权限{0}" />
    <params name="user_id"  datatype="int"    require="true" length=""    htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>
<!--新建分站-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.PartnerEvent" methodName="Insert_ShanghuBranch" actionName="CreateShanghuBranch" resulttype="showmessage">
    <params name="partnerid"    datatype="int"     require="true"  length=""     htmlencode="false" defaultvalue=""  format="" errmsg="商家ID{0}"/>
    <params name="username"     datatype="string"  require="false" length="30"   htmlencode="true"  defaultvalue=""  format="" errmsg="用户名{0}"/>
    <params name="userpwd"      datatype="string"  require="false" length="30"   htmlencode="false" defaultvalue=""  format="" errmsg="密码{0}"/>
    <params name="newuserpwd"   datatype="string"  require="false" length="30"   htmlencode="false" defaultvalue=""  format="" errmsg="确认密码{0}"/>   
    <params name="branchname"   datatype="string"  require="true"  length="30"   htmlencode="true"  defaultvalue=""  format="" errmsg="分站名称{0}"/>
    <params name="contact"      datatype="string"  require="true"  length="30"   htmlencode="true"  defaultvalue=""  format="" errmsg="联系人{0}"/>
    <params name="phone"        datatype="string"  require="true"  length="30"   htmlencode="true"  defaultvalue=""  format="" errmsg="联系电话{0}"/>
    <params name="address"      datatype="string"  require="true"  length="500"  htmlencode="true"  defaultvalue=""  format="" errmsg="分站地址{0}"/>
    <params name="mobile"       datatype="string"  require="false" length="30"   htmlencode="true"  defaultvalue=""  format="" errmsg="手机号码{0}"/>
    <params name="secret"       datatype="string"  require="false" length="500"  htmlencode="true"  defaultvalue=""  format="" errmsg="消费密码{0}"/>
    <params name="jingweidu"    datatype="string"  require="false" length="500"  htmlencode="true"  defaultvalue=""  format="" errmsg="分站经纬度{0}"/>
</action>
<!--编辑分站-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.PartnerEvent" methodName="Update_ShangHuBranch" actionName="ShanghuBranch_Bianji" resulttype="showmessage">
    <params name="id"           datatype="int"     require="true"  length=""     htmlencode="false" defaultvalue=""  format="" errmsg="分站ID{0}"/>
    <params name="partnerid"    datatype="int"     require="true"  length=""     htmlencode="false" defaultvalue=""  format="" errmsg="商家ID{0}"/>
    <params name="username"     datatype="string"  require="false" length="100"  htmlencode="true"  defaultvalue=""  format="" errmsg="用户名{0}"/>
    <params name="userpwd"      datatype="string"  require="false" length="100"  htmlencode="false" defaultvalue=""  format="" errmsg="密码{0}"/>
    <params name="userpwda"     datatype="string"  require="false" length="100"  htmlencode="false" defaultvalue=""  format="" errmsg="新密码{0}"/>
    <params name="newuserpwd"   datatype="string"  require="false" length="100"  htmlencode="false" defaultvalue=""  format="" errmsg="确认新密码{0}"/>
    <params name="branchname"   datatype="string"  require="true"  length="30"   htmlencode="true"  defaultvalue=""  format="" errmsg="分站名称{0}"/>
    <params name="contact"      datatype="string"  require="true"  length="30"   htmlencode="true"  defaultvalue=""  format="" errmsg="联系人{0}"/>
    <params name="phone"        datatype="string"  require="true"  length="30"   htmlencode="true"  defaultvalue=""  format="" errmsg="联系电话{0}"/>
    <params name="address"      datatype="string"  require="true"  length="500"  htmlencode="true"  defaultvalue=""  format="" errmsg="分站地址{0}"/>
    <params name="mobile"       datatype="string"  require="false" length="30"   htmlencode="true"  defaultvalue=""  format="" errmsg="手机号码{0}"/>
    <params name="secret"       datatype="string"  require="false" length="500"  htmlencode="true"  defaultvalue=""  format="" errmsg="消费密码{0}"/>
    <params name="jingweidu"    datatype="string"  require="false" length="500"  htmlencode="true"  defaultvalue=""  format="" errmsg="分站经纬度{0}"/>
</action>
<!--新建商户分类-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.PartnerEvent" methodName="Insert_ShangHu_Type" actionName="Add_ShangHu_Type" resulttype="showmessage">
    <params name="name"         datatype="string"  require="true"  length="50"   htmlencode="true"  defaultvalue=""  format="" errmsg="中文名称{0}"/>
    <params name="ename"        datatype="string"  require="true"  length="30"   htmlencode="true"  defaultvalue=""  format="" errmsg="英文名称{0}"/>
    <params name="letter"       datatype="string"  require="true"  length="1"    htmlencode="true"  defaultvalue=""  format="" errmsg="首字母{0}"/>
    <params name="czone"        datatype="string"  require="false" length="100"  htmlencode="true"  defaultvalue=""  format="" errmsg="自定义分组{0}"/>
    <params name="disp"         datatype="string"  require="false" length="1"    htmlencode="true"  defaultvalue=""  format="" errmsg="导航显示{0}"/>
    <params name="sortorder"    datatype="int"     require="true"  length=""     htmlencode="false" defaultvalue="0" format="" errmsg="排序{0}"/>
</action>
<!--编辑商户分类-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.PartnerEvent" methodName="Update_ShangHu_Type" actionName="Bianji_ShangHu_Type" resulttype="showmessage">
    <params name="categoryid"   datatype="int"     require="true"  length=""     htmlencode="false" defaultvalue="0" format="" errmsg="商户ID{0}"/>
    <params name="name"         datatype="string"  require="true"  length="50"   htmlencode="true"  defaultvalue=""  format="" errmsg="中文名称{0}"/>
    <params name="ename"        datatype="string"  require="true"  length="30"   htmlencode="true"  defaultvalue=""  format="" errmsg="英文名称{0}"/>
    <params name="letter"       datatype="string"  require="true"  length="1"    htmlencode="true"  defaultvalue=""  format="" errmsg="首字母{0}"/>
    <params name="czone"        datatype="string"  require="false" length="100"  htmlencode="true"  defaultvalue=""  format="" errmsg="自定义分组{0}"/>
    <params name="disp"         datatype="string"  require="false" length="1"    htmlencode="true"  defaultvalue=""  format="" errmsg="导航显示{0}"/>
    <params name="sortorder"    datatype="int"     require="true"  length=""     htmlencode="false" defaultvalue="0" format="" errmsg="排序{0}"/>
</action>
<!--商户结算-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.PartnerEvent" methodName="JieSuanShangHu" actionName="JieSuan" resulttype="showmessage">
    <params name="teamid"      datatype="int"      require="true"  length=""    htmlencode="false" defaultvalue="0" format="" errmsg="项目ID{0}"/>
    <params name="number"      datatype="int"      require="true"  length=""    htmlencode="false" defaultvalue="0" format="" errmsg="结算份数{0}"/>
    <params name="pmoneys"     datatype="decimal"  require="true"  length=""    htmlencode="false" defaultvalue="0" format="" errmsg="结算金额{0}"/>
    <params name="remark"      datatype="string"   require="false" length="1000" htmlencode="true"  defaultvalue=""  format="" errmsg="备注{0}"/>
    <params name="pid"         datatype="int"      require="true"  length=""    htmlencode="false" defaultvalue="0" format="" errmsg="商户ID{0}"/>
</action>

