<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="ChangeSales" actionName="changesales" resulttype="showmessage">
  <params name="username" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="username" errmsg="用户名{0}" />
  <params name="realname" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="真实姓名{0}" />
  <params name="password" datatype="string" require="" length="500" htmlencode="false" defaultvalue="" format="" errmsg="密码{0}" />
  <params name="contact" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="联系电话{0}" />
  <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="AddSales" actionName="addsales" resulttype="showmessage">
  <params name="username" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="username" errmsg="用户名{0}" />
  <params name="realname" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="真实姓名{0}" />
  <params name="password" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="密码{0}" />
  <params name="contact" datatype="string" require="" length="500" htmlencode="false" defaultvalue="" format="" errmsg="联系电话{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.AskEvent" methodName="xmdb_Update" actionName="xmdb_update" resulttype="showmessage">
	<params name="comment" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="编辑内容{0}" />
	<params name="id" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="askid{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.AskEvent" methodName="xmdb_Edit" actionName="xmdb_edit" resulttype="showmessage">
	<params name="comment" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="回复内容{0}" />
	<params name="id" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="askid{0}" />
</action>

<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="qdadminfz" actionName="qdadminfz" resulttype="showmessage">
	<params name="city" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="管理城市{0}" />
	<params name="userid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="userid{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="qxadminfz" actionName="qxadminfz" resulttype="showmessage">
	<params name="city" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="管理城市{0}" />
	<params name="userid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="userid{0}" />
</action>
<action assemblyName="AS.UserEvent" typeName="AS.UserEvent.Event" methodName="LoginAdminUser" actionName="adminlogin" resulttype="showmessage">
  <params name="username" datatype="string" require="true" length="20" htmlencode="true" defaultvalue="" format="username" errmsg="用户名{0}" />
  <params name="password" datatype="string" require="true" length="20" htmlencode="false" defaultvalue="" format="" errmsg="密码{0}" />
  <params name="code" datatype="string" require="false" length="4" htmlencode="false" defaultvalue="" format="" errmsg="验证码{0}" />
  <params name="type" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="UpdateUser" actionName="updateuser" resulttype="showmessage">
  <params name="email" datatype="string" require="true" length="128" htmlencode="false" defaultvalue="" format="" errmsg="邮箱{0}" />
  <params name="username" datatype="string" require="true" length="32" htmlencode="false" defaultvalue="" format="username" errmsg="用户名{0}" />
  <params name="realname" datatype="string" require="" length="128" htmlencode="false" defaultvalue="" format="" errmsg="真实姓名{0}" />
  <params name="qq" datatype="string" require="" length="16" htmlencode="false" defaultvalue="" format="" errmsg="QQ{0}" />
  <params name="password" datatype="string" require="" length="32" htmlencode="false" defaultvalue="" format="" errmsg="密码{0}" />
  <params name="zipcode" datatype="string" require="" length="16" htmlencode="false" defaultvalue="" format="" errmsg="邮编{0}" />
  <params name="address" datatype="string" require="" length="255" htmlencode="false" defaultvalue="" format="" errmsg="地址{0}" />
  <params name="mobile" datatype="string" require="" length="16" htmlencode="false" defaultvalue="" format="" errmsg="手机{0}" />
  <params name="enablevalue" datatype="string" require="" length="1" htmlencode="false" defaultvalue="" format="" errmsg="是否激活{0}" />
  <params name="secret" datatype="string" require="" length="32" htmlencode="false" defaultvalue="" format="" errmsg="邮件验证码{0}" />
  <params name="manager" datatype="string" require="" length="1" htmlencode="false" defaultvalue="" format="" errmsg="是否有管理权限{0}" />
  <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="AddRole" actionName="addrole" resulttype="showmessage">
  <params name="rolename" datatype="string" require="true" length="50" htmlencode="false" defaultvalue="" format="" errmsg="角色名称{0}" />
  <params name="code" datatype="string" require="true" length="20" htmlencode="false" defaultvalue="" format="" errmsg="简称{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="UpdateRole" actionName="updaterole" resulttype="showmessage">
  <params name="rolename" datatype="string" require="true" length="50" htmlencode="false" defaultvalue="" format="" errmsg="角色名称{0}" />
  <params name="code" datatype="string" require="true" length="20" htmlencode="false" defaultvalue="" format="" errmsg="简称{0}" />
  <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>

<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="UpdateGuid" actionName="updateguid" resulttype="showmessage">
  <params name="title" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="栏目标题{0}" />
  <params name="url" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="栏目链接地址{0}" />
  <params name="guidsort" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="栏目排序{0}" />
  <params name="openguid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="显示状态{0}" />
  <params name="openparent" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="新窗口打开{0}" />
  <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="AddGuid" actionName="addguid" resulttype="showmessage">
  <params name="title" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="栏目标题{0}" />
  <params name="url" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="栏目链接地址{0}" />
  <params name="guidsort" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="栏目排序{0}" />
  <params name="openguid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="显示状态{0}" />
  <params name="openparent" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="新窗口打开{0}" />
  <params name="teamormall" datatype="int" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="导航分类{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="UpdateTgGuid" actionName="updatetgguid" resulttype="showmessage">
  <params name="title" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="栏目标题{0}" />
  <params name="url" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="栏目链接地址{0}" />
  <params name="guidsort" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="栏目排序{0}" />
  <params name="openguid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="显示状态{0}" />
  <params name="openparent" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="新窗口打开{0}" />
  <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="AddTgGuid" actionName="addtgguid" resulttype="showmessage">
  <params name="title" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="栏目标题{0}" />
  <params name="url" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="栏目链接地址{0}" />
  <params name="guidsort" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="栏目排序{0}" />
  <params name="openguid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="显示状态{0}" />
  <params name="openparent" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="新窗口打开{0}" />
  <params name="teamormall" datatype="int" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="导航分类{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.ConfigEvent" methodName="UpdateTuanJiBen" actionName="updatetuanjiben" resulttype="showmessage">

  <params name="sitename" datatype="string" require="" length="500" htmlencode="false" defaultvalue="" format="" errmsg="网站名称{0}" />
  <params name="sitetitle" datatype="string" require="" length="500" htmlencode="false" defaultvalue="" format="" errmsg="网站标题{0}" />
  <params name="abbreviation" datatype="string" require="" length="500" htmlencode="false" defaultvalue="" format="" errmsg="网站简称{0}" />
  <params name="title" datatype="string" require="" length="500" htmlencode="false" defaultvalue="" format="" errmsg="SEO标题{0}" />
  <params name="keyword" datatype="string" require="" length="500" htmlencode="false" defaultvalue="" format="" errmsg="SEO关键字{0}" />
  <params name="description" datatype="string" require="" length="2000" htmlencode="false" defaultvalue="" format="" errmsg="SEO描述{0}" />
  <params name="jobtime" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="工作日期{0}" />
  <params name="couponname" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="优惠券名{0}" />
  <params name="currency" datatype="string" require="" length="50" htmlencode="false" defaultvalue="" format="" errmsg="货币符号{0}" />
  <params name="currencyname" datatype="string" require="" length="50" htmlencode="false" defaultvalue="" format="" errmsg="货币代码{0}" />
  <params name="invitecredit" datatype="decimal" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="邀请返利{0}" />
  
  <params name="shanhu" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="项目详情页展示{0}" />
  <params name="sideteam" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="详情右侧团购个数{0}" />
  <params name="conduser" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="成团条件{0}" />
  <params name="partnerdown" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="优惠券下载{0}" />
  <params name="kefuqq" datatype="string" require="" length="200" htmlencode="false" defaultvalue="" format="" errmsg="客服QQ{0}" />
  <params name="kefumsn" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="客服MSN{0}" />
  <params name="tuanphone" datatype="string" require="" length="50" htmlencode="false" defaultvalue="" format="" errmsg="团购电话{0}" />
  <params name="icp" datatype="string" require="" length="50" htmlencode="false" defaultvalue="" format="" errmsg="ICP编号{0}" />
  <params name="statcode" datatype="string" require="" length="200" htmlencode="false" defaultvalue="" format="" errmsg="统计代码{0}" />
  <params name="sinajiwai" datatype="string" require="" length="500" htmlencode="false" defaultvalue="" format="" errmsg="新浪微博{0}" />
  <params name="tencentjiwai" datatype="string" require="" length="500" htmlencode="false" defaultvalue="" format="" errmsg="腾讯微博{0}" />
  <params name="drawimg" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="水印文字{0}" />
  <params name="ddlmore" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="一日多团{0}" />
  <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
  <params name="more" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="选择模式{0}" />
  <params name="thost" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="首页推荐显示个数{0}" />
  <params name="row" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="2排或3排{0}" />
  <params name="indexteam" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="首页今日团购个数{0}" />
  <params name="teamdetailnum" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="详情显示项目数{0}" />
  <params name="couponlength" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="优惠券长度{0}" />
  <params name="usedrawimg" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="启用水印{0}" />
  <params name="drawimgType" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="水印类型{0}" />
  <params name="drawfont" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="水印文字字体{0}" />
  <params name="drawsize" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="水印文字大小{0}" />
  <params name="drawmimgurl" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="图片型水印文件{0}" />
  
  <params name="drawalpha" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="水印透明度{0}" />
  <params name="watermarkstatus" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="水印位置{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.ConfigEvent" methodName="UpdateXuanXiang" actionName="upxuanxiang" resulttype="showmessage">
  <params name="ddlnew" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="启用新闻公告{0}" />
  <params name="txtshu" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="团购分页数量控制{0}" />
  <params name="txtshuGood" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="热销分页数量控制{0}" />
  <params name="CloseShopcarEvent" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="关闭购物车{0}" />
  <params name="ddlisguige" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="项目购物车开关QQ{0}" />
  <params name="navUserreview" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="是否开启{0}" />
  <params name="UserreviewYesOrNo" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="是否自动返利{0}" />
  <params name="DetailMoney" datatype="decimal" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="返利金额{0}" />
  <params name="ddlOpenUserreviewPartner" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="是否开启商户评论{0}" />
  <params name="ddlDoUserreviewPartner" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="自动处理商户评论{0}" />
  <params name="ddlinventory" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="启用库存{0}" />
  <params name="ddlinven_war" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="库存报警{0}" />
  <params name="inventmobile" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="库存电话{0}" />
  <params name="coupon" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="优惠券到期提醒{0}" />
  <params name="couponDay" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="提醒日期{0}" />
  <params name="opencoupon" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="优惠券消费提醒{0}" />
  <params name="ddlorder" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="订单打印提醒{0}" />
  <params name="ddlorderpay" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="订单付款成功{0}" />
  <params name="orderpartner" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="订单付款成功2{0}" />
  <params name="displayTitle" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="显示栏团购标题{0}" />
  <params name="displayInvite_Top" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="显示邀请排名{0}" />
  <params name="closeLocationEvent" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="开启底部友情链接{0}" />
  <params name="displayfailure" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="失败团购显示{0}" />
  <params name="teamask" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="全部答疑显示{0}" />
  <params name="creditseconds" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="仅余额可秒杀{0}" />
  <params name="smssubscribe" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="开启短信订阅{0}" />
  <params name="trsimple" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="简体繁体转换{0}" />
  <params name="moneysave" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="用户节省钱数{0}" />
  <params name="shoppar" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="商务信息验证{0}" />
  <params name="teamwhole" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="显示商户{0}" />
  <params name="CloseSite" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="网站关闭{0}" />
  <params name="ischeckcode" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="验证码开关{0}" />
  <params name="slowimage" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="开启图片延迟加载{0}" />
  <params name="ddlchagecity" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="切换城市开关{0}" />
  <params name="DropDownListmail" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="下单需填写邮箱{0}" />
  <params name="maptype" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="选择地图{0}" />
  <params name="mapkey" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="Google地图key{0}" />
  <params name="kuaidikey" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="快递100接口key{0}" />
  <params name="ddlSplitOrder" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="开启订单拆分{0}" />
  <params name="pagecache" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="启用页面缓存{0}" />
  <params name="ddlTeamPredict" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="团购预告{0}" />
  <params name="cateteam" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="往期团购{0}" />
  <params name="catepartner" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="品牌商户1{0}" />
  <params name="citypartner" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="品牌商户2{0}" />
  <params name="cateseconds" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="秒杀抢团{0}" />
  <params name="categoods" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="热销商品{0}" />
  <params name="emailverify" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="邮箱验证{0}" />
  <params name="needmobile" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="手机号码必填{0}" />
  <params name="mobileverify" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="手机验证码{0}" />
  <params name="logintongbinduser" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="强制用户绑定{0}" />
  <params name="opensign" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="启用签到{0}" />
  <params name="loginscore" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="积分{0}" />
  <params name="loginmoney" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="金额{0}" />
  <params name="ddlOpenOrderTeam" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="启用项目订阅{0}" />
  <params name="orderteamnum" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="订阅项目数{0}" />
  <params name="ddlCouponPattern" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="优惠券生成模式{0}" />
  <params name="ddlsmsnum" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="优惠券发送次数{0}" />
  <params name="ddlVerifyCoupon" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="优惠券验证{0}" />
  <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
  <params name="point" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="开启积分商城{0}"/>
  <params name="regscore" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="用户注册积分{0}"/>
  <params name="invitescore" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="邀请好友积分{0}"/>
  <params name="chargescore" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="充值返积分{0}"/>
  <params name="totalNumber" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="积分区间{0}"/>
  <params name="irange" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="积分搜索条件{0}"/>
  <params name="Shanghufz" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="开启商户分站{0}"/>
  <params name="openwapindex" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="启用首页自动判断{0}"/>
  <params name="openwaplogin" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="启用手机验证登录{0}"/>
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.ConfigEvent" methodName="UpdateZhifu" actionName="upzhifu" resulttype="showmessage"> 
  <params name="alipaytype" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="支付接口类型{0}" />
  <params name="alipay_acc" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="支付宝邮箱{0}" />
  <params name="alipay_mid" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="合作者身份(PID){0}" />
  <params name="alipay_sec" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="安全校验码(Key){0}" />
  <params name="alipay_anti_phishing" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="防钓鱼功能{0}" />
  <params name="alipay_Manual_SecuredTransactions" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="担保接口方式{0}" />
  <params name="autodeliver" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="自动发货{0}" />
  <params name="yeepay_mid" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="商户ID号{0}" />
  <params name="yeepay_sec" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="交易密钥{0}" />
  <params name="chinabank_mid" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="商户ID号{0}" />
  <params name="chinabank_sec" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="交易密钥{0}" />
  <params name="ddltenpaytype" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="支付接口类型{0}" />
  <params name="tenpay_mid" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="商户ID号{0}" />
  <params name="tenpay_sec" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="交易密钥{0}" />
  <params name="paypal_mid" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="商户账号{0}" />
  <params name="paypal_sec" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="交易密钥{0}" />  
  <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.ConfigEvent" methodName="UpdateSMS" actionName="updatesms" resulttype="showmessage">
  <params name="user" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="短信用户{0}" />
  <params name="pass" datatype="string" require="" length="100" htmlencode="false" defaultvalue="" format="" errmsg="短信密码{0}" />
  <params name="interval" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="点发频率{0}" />
  <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="UpdatePower" actionName="uppower" resulttype="showmessage">
  <params name="auth" datatype="string" require="" length="500" htmlencode="false" defaultvalue="" format="" errmsg="用户权限{0}" />
  <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="BindTeam" actionName="bindteam" resulttype="showmessage">
  <params name="teamid" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="项目ID{0}" />
  <params name="saleid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="销售ID{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.ExpressEvent" methodName="UpdateOrder" actionName="uporder" resulttype="showmessage">
  <params name="express_no" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="快递单号{0}" />
  <params name="express_id" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="快递公司ID{0}" />
  <params name="hid" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>

<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.ExpressEvent" methodName="UpdateKuaidi" actionName="updatekuaidi" resulttype="showmessage">
  <params name="express_id" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="快递公司ID{0}" />
  <params name="hiId" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.ExpressEvent" methodName="UpKuaidi" actionName="upkuaidi" resulttype="showmessage">
  <params name="express_id" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="快递公司ID{0}" />
  <params name="hiId" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>

<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="UpdateUser1" actionName="updateuser1" resulttype="showmessage">
  <params name="email" datatype="string" require="true" length="128" htmlencode="false" defaultvalue="" format="" errmsg="邮箱{0}" />
  <params name="username" datatype="string" require="true" length="32" htmlencode="false" defaultvalue="" format="username" errmsg="用户名{0}" />
  <params name="realname" datatype="string" require="" length="128" htmlencode="false" defaultvalue="" format="" errmsg="真实姓名{0}" />
  <params name="qq" datatype="string" require="" length="16" htmlencode="false" defaultvalue="" format="" errmsg="QQ{0}" />
  <params name="zipcode" datatype="string" require="" length="16" htmlencode="false" defaultvalue="" format="" errmsg="邮编{0}" />
  <params name="address" datatype="string" require="" length="255" htmlencode="false" defaultvalue="" format="" errmsg="地址{0}" />
  <params name="mobile" datatype="string" require="" length="16" htmlencode="false" defaultvalue="" format="" errmsg="手机{0}" />
  <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>

<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.UserEvent" methodName="UpdatePwd" actionName="updatepwd" resulttype="showmessage">
  <params name="email" datatype="string" require="true" length="128" htmlencode="false" defaultvalue="" format="" errmsg="邮箱{0}" />
  <params name="username" datatype="string" require="true" length="32" htmlencode="false" defaultvalue="" format="username" errmsg="用户名{0}" />
  <params name="password" datatype="string" require="" length="128" htmlencode="false" defaultvalue="" format="" errmsg="登录密码{0}" />
  <params name="newpwd" datatype="string" require="" length="16" htmlencode="false" defaultvalue="" format="" errmsg="新密码{0}" />
  <params name="confirmpwd" datatype="string" require="" length="16" htmlencode="false" defaultvalue="" format="" errmsg="确认新密码{0}" />
  <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>

<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.TeamEvent" methodName="Check" actionName="check" resulttype="showmessage">
  <params name="ddlproductstatus" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="状态{0}" />
  <params name="remark" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="备注{0}" />
  <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.TeamEvent" methodName="ManCheck" actionName="checks" resulttype="showmessage">
	<params name="ddlproductstatus" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="状态{0}" />
	<params name="remark" datatype="string" require="" length="" htmlencode="false" defaultvalue="" format="" errmsg="备注{0}" />
	<params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="ID{0}" />
</action>