<!--友情链接（添加）-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="AddFriendLink" actionName="addfriendlink" resulttype="showmessage">
    <params name="title" datatype="string" require="true" length="32" htmlencode="false" defaultvalue="" format="" errmsg="网站名称{0}" />
    <params name="url" datatype="string" require="true" length="255" htmlencode="false" defaultvalue="" format="url" errmsg="网站网址{0}" />
    <params name="log" datatype="string" require="false" length="255" htmlencode="false" defaultvalue="" format="" errmsg="LOGO地址{0}" />
    <params name="sort" datatype="int" require="true" length="" htmlencode="" defaultvalue="0" format="integer" errmsg="排序(降序){0}" />
</action>

<!--友情链接（修改）-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="UpdateFriendLink" actionName="updatefriendlink" resulttype="showmessage">
    <params name="title" datatype="string" require="true" length="32" htmlencode="false" defaultvalue="" format="" errmsg="网站名称{0}" />
    <params name="url" datatype="string" require="true" length="255" htmlencode="false" defaultvalue="" format="url" errmsg="网站网址{0}" />
    <params name="log" datatype="string" require="false" length="255" htmlencode="false" defaultvalue="" format="" errmsg="LOGO地址{0}" />
    <params name="sort" datatype="int" require="true" length="" htmlencode="" defaultvalue="0" format="integer" errmsg="排序(降序){0}" />
    <params name="sid" datatype="int" require="true" length="" htmlencode="" defaultvalue="0" format="integer" errmsg="Id{0}" />
</action>

<!--新建代金劵-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="AddDaiJinQuan" actionName="adddaijinquan" resulttype="showmessage">
    <params name="partner_id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="商户ID{0}" />
    <params name="team_id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="项目ID{0}" />
    <params name="money" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="代金券面额{0}" />
    <params name="quantity" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="生成数量{0}" />
    <params name="begin_time" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="开始日期{0}" />
    <params name="end_time" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="结束日期{0}" />
    <params name="code" datatype="string" require="true" length="16" htmlencode="false" defaultvalue="" format="" errmsg="行动代号{0}" />
    <params name="consume" datatype="string" require="false" length="1" htmlencode="false" defaultvalue="N" format="" errmsg="是否已使用{0}" />
    <params name="ip" datatype="string" require="false" length="16" htmlencode="false" defaultvalue="" format="" errmsg="IP{0}" />
</action>

<!--新建api分类|子分类-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="AddApiClass" actionName="addapiclass" resulttype="showmessage">
    <params name="zone" datatype="string" require="false" length="16" htmlencode="false" defaultvalue="group" format="" errmsg="类别{0}" />
    <params name="czone" datatype="string" require="false" length="32" htmlencode="false" defaultvalue="" format="" errmsg="自定义分组{0}" />
    <params name="name" datatype="string" require="true" length="32" htmlencode="false" defaultvalue="" format="" errmsg="中文名称{0}" />
    <params name="ename" datatype="string" require="true" length="16" htmlencode="false" defaultvalue="" format="" errmsg="英文名称{0}" />
    <params name="letter" datatype="string" require="true" length="1" htmlencode="false" defaultvalue="" format="" errmsg="首字母{0}" />
    <params name="sort_order" datatype="int" require="true" length="" htmlencode="false" defaultvalue="0" format="integer" errmsg="排序(降序){0}" />
    <params name="display" datatype="string" require="true" length="1" htmlencode="false" defaultvalue="N" format="" errmsg="导航显示(Y/N){0}" />
    <params name="content" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="城市公告{0}" />
    <params name="city_pid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="0" format="integer" errmsg="二级城市Id{0}" />
</action>

<!--修改api分类|子分类-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="UpdateApiClass" actionName="updateapiclass" resulttype="showmessage">
    <params name="zone" datatype="string" require="false" length="16" htmlencode="false" defaultvalue="group" format="" errmsg="类别{0}" />
    <params name="czone" datatype="string" require="false" length="32" htmlencode="false" defaultvalue="" format="" errmsg="自定义分组{0}" />
    <params name="name" datatype="string" require="true" length="32" htmlencode="false" defaultvalue="" format="" errmsg="中文名称{0}" />
    <params name="ename" datatype="string" require="true" length="16" htmlencode="false" defaultvalue="" format="" errmsg="英文名称{0}" />
    <params name="letter" datatype="string" require="true" length="1" htmlencode="false" defaultvalue="" format="" errmsg="首字母{0}" />
    <params name="sort_order" datatype="int" require="true" length="" htmlencode="false" defaultvalue="0" format="integer" errmsg="排序(降序){0}" />
    <params name="display" datatype="string" require="true" length="1" htmlencode="false" defaultvalue="N" format="" errmsg="导航显示(Y/N){0}" />
    <params name="content" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="城市公告{0}" />
    <params name="city_pid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="0" format="integer" errmsg="二级城市Id{0}" />
    <params name="sid" datatype="int" require="true" length="" htmlencode="" defaultvalue="0" format="integer" errmsg="Id{0}" />
</action>

<!--新增群发邮件 -->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="AddMailtasks" actionName="addmailtasks" resulttype="showmessage">
    <params name="subject" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="邮件标题{0}" />
    <params name="url" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="邮件地址{0}" />
    <params name="gbk" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="编码格式{0}" />
    <params name="cityall" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="全部城市ID{0}" />
    <params name="SeCity" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="部分城市ID{0}" />
    <params name="nostartteam" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="包含未开始项目{0}" />
</action>

<!--修改群发邮件 -->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="UpdateMailtasks" actionName="updatemailtasks" resulttype="showmessage">
    <params name="subject" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="邮件标题{0}" />
    <params name="url" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="邮件地址{0}" />
    <params name="gbk" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="编码格式{0}" />
    <params name="cityall" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="全部城市ID{0}" />
    <params name="SeCity" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="部分城市ID{0}" />
    <params name="nostartteam" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="包含未开始项目{0}" />
    <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="Id{0}" />
</action>

<!--新增邮件服务 -->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="AddMailserver" actionName="addmailserver" resulttype="showmessage">
    <params name="mail[host]" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="SMTP主机{0}" />
    <params name="mail[port]" datatype="int" require="true" length="" htmlencode="false" defaultvalue="25" format="" errmsg="SMTP端口{0}" />
    <params name="mailssl" datatype="string" require="false" length="" htmlencode="false" defaultvalue="0" format="" errmsg="SSL方式{0}" />
    <params name="mail[user]" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="验证用户名{0}" />
    <params name="mail_username" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="用户别名{0}" />
    <params name="mail[pass]" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="验证密码{0}" />
    <params name="mail[from]" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="发信地址{0}" />
    <params name="mail[reply]" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="回信地址{0}" />
    <params name="sendcount" datatype="int" require="true" length="" htmlencode="false" defaultvalue="5" format="" errmsg="最多发送数量{0}" />
</action>

<!--修改邮件服务 -->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="UpdateMailserver" actionName="updatemailserver" resulttype="showmessage">
    <params name="mail[host]" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="SMTP主机{0}" />
    <params name="mail[port]" datatype="int" require="true" length="" htmlencode="false" defaultvalue="25" format="" errmsg="SMTP端口{0}" />
    <params name="mailssl" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="SSL方式{0}" />
    <params name="mail[user]" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="验证用户名{0}" />
    <params name="mail_username" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="用户别名{0}" />
    <params name="mail[pass]" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="验证密码{0}" />
    <params name="mail[from]" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="发信地址{0}" />
    <params name="mail[reply]" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="回信地址{0}" />
    <params name="sendcount" datatype="int" require="true" length="" htmlencode="false" defaultvalue="5" format="" errmsg="最多发送数量{0}" />
    <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="Id{0}" />
</action>

<!--新闻公告（添加）-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="AddNews" actionName="addnews" resulttype="showmessage">
    <params name="title" datatype="string" require="true" length="1000" htmlencode="false" defaultvalue="" format="" errmsg="标题{0}" />
    <params name="content" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="内容{0}" />
    <params name="newsurl" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="新闻外链地址{0}" />
    <params name="seotitle" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="新闻SEO标题{0}" />
    <params name="seokeyword" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="SEO关键字{0}" />
    <params name="seodescription" datatype="string" require="false" length="1000" htmlencode="false" defaultvalue="" format="" errmsg="SEO描述{0}" />
    <params name="createtime" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="发布时间{0}" />
    <params name="adminid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="integer" errmsg="管理员ID{0}" />
    <params name="newstype" datatype="int" require="true" length="" htmlencode="false" defaultvalue="0" format="integer" errmsg="类型{0}" />
</action>

<!--新闻公告（修改）-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="UpdateNews" actionName="updatenews" resulttype="showmessage">
    <params name="title" datatype="string" require="true" length="1000" htmlencode="false" defaultvalue="" format="" errmsg="标题{0}" />
    <params name="newscontent" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="内容{0}" />
    <params name="newsurl" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="新闻外链地址{0}" />
    <params name="seotitle" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="新闻SEO标题{0}" />
    <params name="seokeyword" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="SEO关键字{0}" />
    <params name="seodescription" datatype="string" require="false" length="1000" htmlencode="false" defaultvalue="" format="" errmsg="SEO描述{0}" />
    <params name="createtime" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="发布时间{0}" />
    <params name="upadminid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="integer" errmsg="管理员ID{0}" />
    <params name="newstype" datatype="int" require="true" length="" htmlencode="false" defaultvalue="0" format="integer" errmsg="类型{0}" />
    <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="integer" errmsg="Id{0}" />
</action>

<!--促销活动（添加）-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="AddCuXiaoHuoDong" actionName="addcuxiaohuodong" resulttype="showmessage">
    <params name="cxname" datatype="string" require="true" length="200" htmlencode="false" defaultvalue="" format="" errmsg="促销活动名称{0}" />
    <params name="enable" datatype="int" require="true" length="" htmlencode="false" defaultvalue="0" format="integer" errmsg="是否发布{0}" />
    <params name="startime" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="开始时间{0}" />
    <params name="endtime" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="结束时间{0}" />
    <params name="sort" datatype="int" require="true" length="" htmlencode="" defaultvalue="0" format="integer" errmsg="排序{0}" />
    <params name="description" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="促销活动描述{0}" />
</action>

<!--促销活动（修改）-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="UpdateCuXiaoHuoDong" actionName="updatecuxiaohuodong" resulttype="showmessage">
    <params name="cxname" datatype="string" require="true" length="200" htmlencode="false" defaultvalue="" format="" errmsg="促销活动名称{0}" />
    <params name="enable" datatype="int" require="true" length="" htmlencode="false" defaultvalue="0" format="integer" errmsg="是否发布{0}" />
    <params name="startime" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="开始时间{0}" />
    <params name="endtime" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="结束时间{0}" />
    <params name="sort" datatype="int" require="true" length="" htmlencode="" defaultvalue="0" format="integer" errmsg="排序{0}" />
    <params name="description" datatype="string" require="true" length="500" htmlencode="false" defaultvalue="" format="" errmsg="促销活动描述{0}" />
    <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="integer" errmsg="Id{0}" />
</action>

<!--促销规则（添加）-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="AddCuXiaoGuize" actionName="addcuxiaoguize" resulttype="showmessage">
    <params name="ddlparent" datatype="int" require="true" length="" htmlencode="false" defaultvalue="0" format="integer" errmsg="促销活动类别{0}" />
    <params name="fullmoney" datatype="decimal" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="订单优惠条件{0}" />
    <params name="starttime" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="活动规则开始时间{0}" />
    <params name="endtime" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="活动规则结束时间{0}" />
    <params name="sort" datatype="int" require="true" length="" htmlencode="" defaultvalue="0" format="integer" errmsg="排序{0}" />
    <params name="free_shipping" datatype="int" require="true" length="" htmlencode="" defaultvalue="0" format="integer" errmsg="是否免运费{0}" />
    <params name="enable" datatype="int" require="true" length="" htmlencode="" defaultvalue="0" format="integer" errmsg="是否启用{0}" />
    <params name="deduction" datatype="string" require="false" length="" htmlencode="" defaultvalue="" format="" errmsg="请输入减少的金额{0}" />
    <params name="feeding_amount" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="请输入返回余额的金额{0}" />
    <params name="description" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="规则描述{0}" />
    <params name="activtyid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="integer" errmsg="活动编号{0}" />
</action>

<!--促销规则（修改）-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="UpdateCuXiaoGuize" actionName="updatecuxiaoguize" resulttype="showmessage">
    <params name="ddlparent" datatype="int" require="true" length="" htmlencode="false" defaultvalue="0" format="integer" errmsg="促销活动类别{0}" />
    <params name="fullmoney" datatype="decimal" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="订单优惠条件{0}" />
    <params name="starttime" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="活动规则开始时间{0}" />
    <params name="endtime" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="活动规则结束时间{0}" />
    <params name="sort" datatype="int" require="true" length="" htmlencode="" defaultvalue="0" format="integer" errmsg="排序{0}" />
    <params name="free_shipping" datatype="int" require="true" length="" htmlencode="" defaultvalue="0" format="integer" errmsg="是否免运费{0}" />
    <params name="enable" datatype="int" require="true" length="" htmlencode="" defaultvalue="0" format="integer" errmsg="是否启用{0}" />
    <params name="deduction" datatype="string" require="false" length="" htmlencode="" defaultvalue="" format="" errmsg="请输入减少的金额{0}" />
    <params name="feeding_amount" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="请输入返回余额的金额{0}" />
    <params name="description" datatype="string" require="false" length="500" htmlencode="false" defaultvalue="" format="" errmsg="规则描述{0}" />
    <params name="activtyid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="integer" errmsg="活动编号{0}" />
    <params name="id" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="integer" errmsg="活动编号{0}" />
</action>


<!--红包充值-->
<action assemblyName="AS.AdminEvent" typeName="AS.AdminEvent.MarketingEvent" methodName="AddHBChongZhi" actionName="addhbChongZhi" resulttype="showmessage">
    <params name="txtMoney" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="充值金额{0}" />
    <params name="txtId" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="用户ID{0}" />
    <params name="txtCode" datatype="string" require="false" length="" htmlencode="false" defaultvalue="" format="" errmsg="代金券代号{0}" />
    <params name="txtCount" datatype="string" require="false" length="" htmlencode="" defaultvalue="" format="" errmsg="派发数量{0}" />
    <params name="hidCardCount" datatype="string" require="false" length="" htmlencode="" defaultvalue="" format="" errmsg="代金劵数量{0}" />
    <params name="selPacket" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="红包类型{0}" />
    <params name="hidOk" datatype="string" require="true" length="" htmlencode="false" defaultvalue="" format="" errmsg="确认派发{0}" />
    <params name="adminid" datatype="int" require="true" length="" htmlencode="false" defaultvalue="" format="integer" errmsg="管理员ID{0}" />
</action>
