<?xml version="1.0"?>
<root>
  <!--<module name="sms" assemblyname="SMS" typename="SMS.SMS"></module>-->
  <!--短信模块-->
  <!--<module name="sms" assemblyname="assmshttp" typename="assmshttp.sms"></module> -->
  <module name="sms" assemblyname="ASDHTSMS" typename="ASDHTSMS.SMS"></module>
</root>
