<?xml version="1.0" encoding="UTF-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ASDHTSMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.web>
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN" />
		<!--<httpRuntime requestValidationMode="2.0" />-->
		<customErrors mode="Off" />
		<pages enableViewStateMac="false" validateRequest="false" viewStateEncryptionMode="Never" enableEventValidation="false" />
		<authentication mode="Forms">
		</authentication>
		<compilation debug="true" />
	</system.web>
	<applicationSettings>
		<ASDHTSMS.Properties.Settings>
			<setting name="ASDHTSMS_ASDHTSMSService_parametersOperate" serializeAs="String">
				<value>http://sms.asdht.com/parametersOperate.asmx</value>
			</setting>
		</ASDHTSMS.Properties.Settings>
	</applicationSettings>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="post" type="AS.GroupOn.UrlRewrite.HttpModule,AS.GroupOn.UrlRewrite" />
		</modules>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.html" />
				<add value="index.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="iisstart.htm" />
				<add value="default.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>

