<?xml version="1.0"?>
<root>
  <system>
    <rootpath>/</rootpath>
    <domain>http://hmw249186.chinaw3.com</domain>
    <record>1</record>
    <drawimg>宗正大团</drawimg>
    <moretuan>5</moretuan>
    <thost>2</thost>
    <row>2</row>
    <indexteam>0</indexteam>
    <teamdetailnum>0</teamdetailnum>
    <couponlength>10</couponlength>
    <usedrawimg>1</usedrawimg>
    <drawimgType>0</drawimgType>
    <drawfont>Aharoni</drawfont>
    <drawsize>10</drawsize>
    <drawalpha>0.2</drawalpha>
    <drawposition>RigthBottom</drawposition>
    <newgao>1</newgao>
    <txtshuGood>9</txtshuGood>
    <closeshopcar>0</closeshopcar>
    <isguige>0</isguige>
    <navUserreview>0</navUserreview>
    <UserreviewYN>1</UserreviewYN>
    <userreview_rebate>0</userreview_rebate>
    <openUserreviewPartner>0</openUserreviewPartner>
    <doUserreviewPartner>0</doUserreviewPartner>
    <inventory>1</inventory>
    <invent_war>0</invent_war>
    <inventmobile>0</inventmobile>
    <displayCoupon>0</displayCoupon>
    <displayCouponDay>0</displayCouponDay>
    <opencoupon>1</opencoupon>
    <printorder>0</printorder>
    <orderpay>0</orderpay>
    <orderpartner>0</orderpartner>
    <displayTitle>1</displayTitle>
    <displayInvite_Top>0</displayInvite_Top>
    <closeLocation>1</closeLocation>
    <shop>1</shop>
    <isCloseSite>0</isCloseSite>
    <ischeckcode>1</ischeckcode>
    <slowimage>1</slowimage>
    <changecity>1</changecity>
    <orderemailvalid>0</orderemailvalid>
    <maptype>1</maptype>
    <mapkey>
    </mapkey>
    <kuaidikey>8dd917531459b866</kuaidikey>
    <opensplitorder>0</opensplitorder>
    <pagecache>0</pagecache>
    <teamdpredict>0</teamdpredict>
    <mobileverify>1</mobileverify>
    <logintongbinduser>0</logintongbinduser>
    <opensign>0</opensign>
    <loginscore>0</loginscore>
    <loginmoney>0</loginmoney>
    <orderteam>1</orderteam>
    <orderteamnum>5</orderteamnum>
    <couponPattern>0</couponPattern>
    <couponSmsNum>5</couponSmsNum>
    <verifycoupon>0</verifycoupon>
    <point>0</point>
    <regscore>0</regscore>
    <invitescore>0</invitescore>
    <chargescore>0</chargescore>
    <irange>
    </irange>
    <dramimgurl>/upfile/dramimgurl/6350639843356250002145332563.jpg</dramimgurl>
    <headcatanum>12</headcatanum>
    <setmallindex>0</setmallindex>
    <MallTemplate>0</MallTemplate>
    <listcatanum>5</listcatanum>
    <mallsitename>宗正大商城</mallsitename>
    <malltitle>宗正大商城</malltitle>
    <mallkeyword>宗正大商城</mallkeyword>
    <malldescription>宗正大商城，总有一块属于您</malldescription>
    <malldrawimg>宗正大商城 zzdtuan.com</malldrawimg>
    <malldrawfont>Aharoni</malldrawfont>
    <malldrawalpha>0</malldrawalpha>
    <malldrawposition>RigthBottom</malldrawposition>
    <malldrawsize>48</malldrawsize>
    <mallusedrawimg>1</mallusedrawimg>
    <malldrawimgType>0</malldrawimgType>
    <recommendnum>12</recommendnum>
    <malldiscount>
    </malldiscount>
    <mallprice>
    </mallprice>
    <mallheadlogo>/upfile/logo/6351280983118750002099771213.png</mallheadlogo>
    <mallfootlogo>/upfile/logo/635128098312031250596665596.png</mallfootlogo>
    <sendname>宗正大团</sendname>
    <mobile>021-58857939</mobile>
    <address>上海市浦东新区浦东大道1139号2座101室</address>
    <zipcode>200135</zipcode>
    <remark>
    </remark>
    <danwei>上海玖宽网络通讯技术有限公司</danwei>
    <tuosu>
    </tuosu>
    <kefu>4008004080</kefu>
    <drawimgurl>/upfile/dramimgurl/63511867496687500083422706.png</drawimgurl>
    <Shanghufz>0</Shanghufz>
    <openwapindex>1</openwapindex>
    <openwaplogin>1</openwaplogin>
    <zuijin>8,24,21,10,7,23,20,15,13</zuijin>
    <alipay_SecuredTransactions>1</alipay_SecuredTransactions>
    <alipay_anti_phishing>
    </alipay_anti_phishing>
    <alipay_Manual_SecuredTransactions>0</alipay_Manual_SecuredTransactions>
    <autodeliver>0</autodeliver>
    <isybbank>1</isybbank>
    <is_Certify_Tenpay>1</is_Certify_Tenpay>
    <iscftbank>1</iscftbank>
    <is360login>
    </is360login>
    <login360key>
    </login360key>
    <login360secret>
    </login360secret>
    <is2345login>
    </is2345login>
    <login2345key>
    </login2345key>
    <login2345secret>
    </login2345secret>
    <istuan800login>
    </istuan800login>
    <logintuan800key>
    </logintuan800key>
    <logintuan800secret>
    </logintuan800secret>
    <isqqlogin>1</isqqlogin>
    <loginqqkey>100498380</loginqqkey>
    <loginqqsecret>2670663d3757349a6618e326b7e4230f</loginqqsecret>
    <is163login>
    </is163login>
    <login163key>
    </login163key>
    <login163secret>
    </login163secret>
    <Isalipaylogin>1</Isalipaylogin>
    <isSinalogin>1</isSinalogin>
    <loginSinakey>371692317</loginSinakey>
    <loginSinasecret>55a88b55cb024136ab2dd19952b46c1e</loginSinasecret>
    <istaobaologin>
    </istaobaologin>
    <logintaobaokey>
    </logintaobaokey>
    <logintaobaosecret>
    </logintaobaosecret>
    <isbaidulogin>
    </isbaidulogin>
    <baiduid>
    </baiduid>
    <baidukey>
    </baidukey>
    <baidusecret>
    </baidusecret>
    <renrenkey>
    </renrenkey>
    <renrensecret>
    </renrensecret>
    <isrenrenlogin>
    </isrenrenlogin>
    <iskaixin001login>
    </iskaixin001login>
    <kaixin001id>
    </kaixin001id>
    <kaixin001key>
    </kaixin001key>
    <kaixin001secret>
    </kaixin001secret>
    <loginqqkey1>100731816</loginqqkey1>
    <loginqqsecret1>5992ed83cb5e12fd4e4970b79d76036e</loginqqsecret1>
  </system>
</root>