<?xml version="1.0"?>
<root>
  <!--手机端开始-->
  <url url="/wap/index.html(.{0,})" mapper="{0}/index.aspx$1" id="手机版首页" remapper="index.aspx(.{0,})" reurl="/wap/index.html$1"></url>
  <url url="/wap/deal/(.{0,}).html" mapper="{0}/team_view.aspx?id=$1" id="手机版项目详情" remapper="team_view.aspx(.{0,})" reurl="/wap/deal/$1.html"></url>
  <url url="/wap/deal/details/(.{0,})" mapper="{0}/team_details.aspx?id=$1" id="手机版项目详情更多" remapper="team_details.aspx(.{0,})" reurl="/wap/deal/details/$1"></url>
	<url url="/wap/deal/addressinfo/(.{0,})" mapper="{0}/team_addressinfo.aspx?id=$1" id="手机版商家地图" remapper="team_addressinfo.aspx(.{0,})" reurl="/wap/deal/addressinfo/$1"></url>
	<url url="/wap/account" mapper="{0}/account_index.aspx" id="手机版个人中心" remapper="account_index.aspx" reurl="/wap/account"></url>
    <url url="/wap/account/card/product/(.{0,})" mapper="{0}/account_card_product.aspx$1" id="手机版个人中心代金卷查看商户项目" remapper="account_card_product.aspx(.{0,})" reurl="/wap/account/card/product/$1"></url>
    <url url="/wap/account/card(.{0,})" mapper="{0}/account_card.aspx$1" id="手机版个人中心代金卷" remapper="account_card.aspx(.{0,})" reurl="/wap/account/card$1"></url>
    <url url="/wap/account/setpassword" mapper="{0}/account_setpassword.aspx" id="手机版设置新密码" remapper="account_setpassword.aspx" reurl="/wap/account/setpassword"></url>
    <url url="/wap/account/orders/view(.{0,})" mapper="{0}/account_orders_view.aspx$1" id="手机版个人中心订单详情" remapper="account_orders_view.aspx(.{0,})" reurl="/wap/account/orders/view$1"></url>
    <url url="/wap/account/orders(.{0,})" mapper="{0}/account_orders.aspx$1" id="手机版个人中心订单" remapper="account_orders.aspx(.{0,})" reurl="/wap/account/orders$1"></url>
    <url url="/wap/account/order/list/used(.{0,})" mapper="{0}/account_order_list_used.aspx$1" id="手机版个人中心订单已消费" remapper="account_order_list_used.aspx(.{0,})" reurl="/wap/account/order/list/used$1"></url>
    <url url="/wap/account/order/list/refund(.{0,})" mapper="{0}/account_order_list_refund.aspx$1" id="手机版个人中心订单已退款" remapper="account_order_list_refund.aspx(.{0,})" reurl="/wap/account/order/list/refund$1"></url>
    <url url="/wap/account/order/list/lottery(.{0,})" mapper="{0}/account_order_list_lottery.aspx$1" id="手机版个人中心订单抽奖单" remapper="account_order_list_lottery.aspx(.{0,})" reurl="/wap/account/order/list/lottery$1"></url>
    <url url="/wap/account/order/lottery/view(.{0,})" mapper="{0}/account_order_lottery_view.aspx$1" id="手机版个人中心订单抽奖单详情" remapper="account_order_lottery_view.aspx(.{0,})" reurl="/wap/account/order/lottery/view$1"></url>   
  <url url="/wap/index/category(.{0,})" mapper="{0}/category.aspx$1" id="手机版分类" remapper="category.aspx(.{0,})" reurl="/wap/index/category$1"></url>
  <url url="/wap/index/changecity" mapper="{0}/city.aspx" id="手机版城市" remapper="city.aspx(.{0,})" reurl="/wap/index/changecity"></url>
  <url url="/wap/index/selectprov" mapper="{0}/selectprov.aspx" id="手机版省份选择" remapper="selectprov.aspx" reurl="/wap/index/selectprov"></url>
  <url url="/wap/selectcity/(.{0,})" mapper="{0}/selectcity.aspx?id=$1" id="手机版城市选择" remapper="selectcity.aspx(.{0,})" reurl="/wap/selectcity/$1"></url>
  <url url="/wap/help/" mapper="{0}/help_pay.aspx" id="手机版用户购买帮助" remapper="help_pay.aspx" reurl="/wap/help/"></url>
  <url url="/wap/help/card" mapper="{0}/help_card.aspx" id="手机版用户代金卷帮助" remapper="help_card.aspx" reurl="/wap/help/card"></url>
  <url url="/wap/feedback" mapper="{0}/help_feedback.aspx" id="手机版反馈意见" remapper="help_feedback.aspx(.{0,})" reurl="/wap/feedback"></url>
  <url url="/wap/deal/buy/(.{0,})" mapper="{0}/team_buy.aspx?id=$1" id="手机版订单购买" remapper="team_buy.aspx(.{0,})" reurl="/wap/deal/buy/$1"></url>
  <url url="/wap/order/verifycard/(.{0,})" mapper="{0}/order_verifycard.aspx?id=$1" id="手机版使用代金券" remapper="order_verifycard.aspx(.{0,})" reurl="/wap/order/verifycard/$1"></url>
  <url url="/wap/order/check/(.{0,})" mapper="{0}/order_check.aspx?orderid=$1" id="手机版订单确认" remapper="order_check.aspx(.{0,})" reurl="/wap/order/check/$1"></url>
  <url url="/wap/order/pay/(.{0,})" mapper="{0}/order_pay.aspx?id=$1" id="手机版支付跳转" remapper="order_pay.aspx(.{0,})" reurl="/wap/order/pay/$1"></url>
  <url url="/wap/search/(.{0,})" mapper="{0}/search.aspx$1" id="手机版搜索" remapper="search.aspx(.{0,})" reurl="/wap/search/$1"></url>
  <url url="/wap/loginout" mapper="{0}/loginout.aspx" id="手机版退出" remapper="loginout.aspx" reurl="/wap/loginout"></url>
  <url url="/wap/account/login(.{0,})" mapper="{0}/account_login.aspx$1" id="手机版登录" remapper="account_login.aspx(.{0,})" reurl="/wap/account/login$1"></url>
  <url url="/wap/account/signup" mapper="{0}/account_signup.aspx" id="手机版注册" remapper="account_signup.aspx" reurl="/wap/account/signup"></url>
  <url url="/wap/account/repass" mapper="{0}/account_repass.aspx" id="手机版找回密码" remapper="account_repass.aspx" reurl="/wap/account/repass"></url>
  <url url="/wap/(.{0,})/" mapper="{0}/index.aspx?city=$1" id="手机版城市首页" remapper="index.aspx(.{0,})" reurl="/wap/index.html$1"></url>
 <url url="/wap/account/signupcheck" mapper="{0}/account_signupcheck.aspx" id="手机版注册短信验证" remapper="account_signupcheck.aspx" reurl="/wap/account/signupcheck"></url>
  <url url="/wap/account/signupset" mapper="{0}/account_signupset.aspx" id="手机版注册设置密码" remapper="account_signupset.aspx" reurl="/wap/account/signupset"></url>
  <url url="/wap/about/terms" mapper="{0}/about_terms.aspx" id="手机版用户协议" remapper="about_terms.aspx" reurl="/wap/about/terms"></url>
  <url url="/wap/account/resetpwd" mapper="{0}/account_resetpwd.aspx" id="手机版修改密码" remapper="account_resetpwd.aspx" reurl="/wap/account/resetpwd"></url>
  <url url="/wap/return/credit/(.{0,})" mapper="{0}/return_credit.aspx?id=$1" id="手机版支付通知" remapper="return_credit.aspx(.{0,})" reurl="/wap/return/credit/$1"></url>
  
	<!--手机端结束-->
  
  
  <url url="/index.html" mapper="/index.aspx" id="首页" remapper="index.aspx" reurl="/"></url>
  <url url="/([A-Za-z]+)" mapper="/index.aspx?city=$1" id="切换城市" remapper="/([A-Za-z]+)" reurl="/index.aspx?city=$1"></url>

	<url url="/team/list/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*).html" mapper="{0}/userControls_tuandetail.aspx?catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;areaid=$4" id="分类列表" remapper="{0}/userControls_tuandetail.aspx?catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;areaid=$4" reurl="/team/list/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*).html"></url>
	
	<url url="/team/list/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*).html(.{0,})" mapper="{0}/userControls_tuandetail.aspx$5&amp;catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;areaid=$4" id="搜索分类列表" remapper="{0}/userControls_tuandetail.aspx$5&amp;catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;areaid=$4" reurl="/team/list/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*).html$1"></url>
	
	
	<!--注册登录-->
	<url url="/account/login.html(.{0,})" mapper="{0}/account_login.aspx$1" id="用户登录" remapper="account_login.aspx(.{0,})" reurl="/account/login.html$1"></url>
	<url url="/account/loginandreg.html(.{0,})" mapper="{0}/account_loginandreg.aspx$1" id="用户注册" remapper="account_loginandreg.aspx(.{0,})" reurl="/account/loginandreg.html$1"></url>
	  <url url="/account/signuped.aspx" mapper="{0}/account_signuped.aspx" id="注册邮件" remapper="account_signuped.aspx" reurl="/account/signuped.aspx"></url>
	  <url url="/account/verify.html(.{0,})" mapper="{0}/account_verify.aspx$1" id="验证邮件" remapper="account_verify.aspx(.{0,})" reurl="/account/verify.html$1"></url>
		<url url="/account/resetlogin.html" mapper="{0}/account_resetlogin.aspx" id="UC用户绑定" remapper="account_resetlogin.aspx" reurl="/account/resetlogin.html"></url>
	<url url="/account/resetNewlogin.html" mapper="{0}/account_resetNewlogin.aspx" id="一站通登录绑定" remapper="account_resetNewlogin.aspx" reurl="/account/resetNewlogin.html"></url>
	<url url="/account/resetNoLogin.html" mapper="{0}/account_resetNoLogin.aspx" id="一站通注册绑定" remapper="account_resetNoLogin.aspx" reurl="/account/resetNoLogin.html"></url>
  <url url="/account/repass.html" mapper="{0}/account_repass.aspx" id="用户忘记密码" remapper="account_repass.aspx" reurl="/account/repass.html"></url>
	<url url="/account/reset.html(.{0,})" mapper="{0}/account_reset.aspx$1" id="用户重设密码" remapper="account_reset.aspx(.{0,})" reurl="/account/reset.html$1"></url>
	<!--注册登录结束-->
	  
	
	
	<!--团购导航-->
	<url url="/tuan/index.html(.{0,})" mapper="{0}/index_tuanmore.aspx$1" id="一日多团一" remapper="index_tuanmore.aspx(.{0,})" reurl="/tuan/index.html$1"></url>
	<url url="/tuan2/index.html(.{0,})" mapper="{0}/index_tuanmore2.aspx$1" id="一日多团二" remapper="index_tuanmore2.aspx(.{0,})" reurl="/tuan2/index.html$1"></url>
	<url url="/tuan3/index.html(.{0,})" mapper="{0}/index_tuanmore3.aspx$1" id="一日多团三" remapper="index_tuanmore3.aspx(.{0,})" reurl="/tuan3/index.html$1"></url>
	<url url="/tuan4/index.html(.{0,})" mapper="{0}/index_tuanmore4.aspx$1" id="一日多团四" remapper="index_tuanmore4.aspx(.{0,})" reurl="/tuan4/index.html$1"></url>
	<url url="/tuan5/index.html(.{0,})" mapper="{0}/index_tuanmore5.aspx$1" id="一日多团五" remapper="index_tuanmore5.aspx(.{0,})" reurl="/tuan5/index.html$1"></url>
	<url url="/tuan6/index.html(.{0,})" mapper="{0}/index_tuanmore6.aspx$1" id="一日多团六" remapper="index_tuanmore6.aspx(.{0,})" reurl="/tuan6/index.html$1"></url>
	<url url="/partner/index.html(.{0,})" mapper="{0}/partner_index.aspx$1" id="品牌商户" remapper="partner_index.aspx(.{0,})" reurl="/partner/index.html$1"></url>
		<url url="/buy/list_comments.html(.{0,})" mapper="{0}/buy_list_comments.aspx$1" id="到货评价" remapper="buy_list_comments.aspx(.{0,})" reurl="/buy/list_comments.html$1"></url>
	<url url="/partner/view.html(.{0,})" mapper="{0}/partner_view.aspx$1" id="品牌商户详情" remapper="partner_view.aspx(.{0,})" reurl="/partner/view.html$1"></url>
	<url url="/team/goods.html(.{0,})" mapper="{0}/team_goods.aspx$1" id="热销项目" remapper="team_goods.aspx(.{0,})" reurl="/team/goods.html$1"></url>
	<url url="/team/seconds.html(.{0,})" mapper="{0}/team_seconds.aspx$1" id="秒杀项目" remapper="team_seconds.aspx(.{0,})" reurl="/team/seconds.html$1"></url>
	<url url="/shopcart/show.html(.{0,})" mapper="{0}/shopcart_show.aspx$1" id="购物车列表" remapper="shopcart_show.aspx(.{0,})" reurl="/shopcart/show.html$1"></url>
	<url url="/mall/cart.html(.{0,})" mapper="{0}/mall_jdcart.aspx$1" id="京东购物车列表" remapper="mall_jdcart.aspx(.{0,})" reurl="/mall/cart.html$1"></url>
	<url url="/team/index.html(.{0,})" mapper="{0}/team_index.aspx$1" id="往期团购" remapper="team_index.aspx(.{0,})" reurl="/team/index.html$1"></url>
	<url url="/team/predict.html(.{0,})" mapper="{0}/team_predict.aspx$1" id="团购预告" remapper="team_predict.aspx(.{0,})" reurl="/team/predict.html$1"></url>
	<url url="/team/maps.html(.{0,})" mapper="{0}/team_maps.aspx$1" id="团购地图" remapper="team_maps.aspx(.{0,})" reurl="/team/maps.html$1"></url>
  <url url="/team/team_predict.aspx(.{0,})" mapper="{0}/team_index.aspx$1" id="往期团购搜索" remapper="team_predict.aspx(.{0,})" reurl="/team/team_predict.aspx$1"></url>
  <url url="/team/team_index.aspx(.{0,})" mapper="{0}/team_predict.aspx$1" id="团购预告搜索" remapper="team_index.aspx(.{0,})" reurl="/team/team_index.aspx$1"></url>
  <url url="/account/invite.html(.{0,})" mapper="{0}/account_invite.aspx$1" id="邀请有奖" remapper="account_invite.aspx(.{0,})" reurl="/account/invite.html$1"></url>
  <url url="/buy_send_listcomments.html(.{0,})" mapper="{0}/buy_send_listcomments.aspx$1" id="产品未评论分页用" remapper="buy_send_listcomments.aspx(.{0,})" reurl="/buy_send_listcomments.html$1"></url>
  <url url="/mobile/subscribe.html(.{0,})" mapper="{0}/mobile_subscribe.aspx$1" id="手机订阅" remapper="mobile_subscribe.aspx(.{0,})" reurl="/mobile/subscribe.html$1"></url>
  <url url="/template/default/seconds.aspx(.{0,})" mapper="{0}/team_seconds.aspx$1" id="预定" remapper="team_seconds.aspx(.{0,})" reurl="/team_seconds.aspx$1"></url>
	<url url="/team/(.{0,})/(.{0,}).html" mapper="/team.aspx?id=$2&amp;r=$1" id="分享团购项目详情" remapper="team.aspx(.{0,})" reurl="/team/$1.html"></url>
  <url url="/team/(.{0,}).html" mapper="/team.aspx?id=$1" id="团购项目详情" remapper="team.aspx(.{0,})" reurl="/team/$1.html"></url>
		<url url="/city.html(.{0,})" mapper="/city.aspx$1" id="城市列表" remapper="city.aspx(.{0,})" reurl="/city.html$1"></url>
	<url url="/closeweb.html" mapper="/closeweb.aspx" id="网站关闭" remapper="closeweb.aspx" reurl="/closeweb.html"></url>
	<url url="/forum/city.html(.{0,})" mapper="{0}/forum_city.aspx$1" id="讨论区城市" remapper="forum_city.aspx(.{0,})" reurl="/forum/city.html$1"></url>
	<url url="/forum/index.html(.{0,})" mapper="{0}/forum_index.aspx$1" id="讨论区所有" remapper="forum_index.aspx(.{0,})" reurl="/forum/index.html$1"></url>
	<url url="/forum/aspublic.html(.{0,})" mapper="{0}/forum_aspublic.aspx$1" id="公共讨论区" remapper="forum_aspublic.aspx(.{0,})" reurl="/forum/aspublic.html$1"></url>
	<url url="/forum/new.html(.{0,})" mapper="{0}/forum_new.aspx$1" id="发表新话题" remapper="forum_new.aspx(.{0,})" reurl="/forum/new.html$1"></url>
	<url url="/forum/topic.html(.{0,})" mapper="{0}/forum_topic.aspx$1" id="城市讨论区" remapper="forum_topic.aspx(.{0,})" reurl="/forum/topic.html$1"></url>
	<!--团购导航结束-->
	

	<!--右侧控件-->
	<url url="/feedback/success.html" mapper="{0}/feedback_success.aspx" id="商务合作成功" remapper="feedback_success.aspx" reurl="/feedback/success.html"></url>
	<url url="/vote/index.html" mapper="{0}/vote_index.aspx" id="小调查" remapper="vote_index.aspx" reurl="/vote/index.html"></url>
	<url url="/UserControls/morenewlist.html(.{0,})" mapper="{0}/usercontrols_Morenewlist.aspx$1" id="新闻公告" remapper="usercontrols_Morenewlist.aspx(.{0,})" reurl="/UserControls/morenewlist.html$1"></url>
	<url url="/team/ask.html(.{0,})" mapper="{0}/team_ask.aspx$1" id="本单答疑" remapper="team_ask.aspx(.{0,})" reurl="/team/ask.html$1"></url>
	<url url="/UserControls/newlist.html(.{0,})" mapper="{0}/usercontrols_newlist.aspx$1" id="新闻" remapper="usercontrols_newlist.aspx(.{0,})" reurl="/UserControls/newlist.html$1"></url>
	<!--右侧控件结束-->
	
	
	<!--积分商城-->
	<url url="/PointsShop/PointList.html(.{0,})" mapper="{0}/PointsShop_PointList.aspx$1" id="积分商城" remapper="PointsShop_PointList.aspx(.{0,})" reurl="/PointsShop/PointList.html$1"></url>
	<url url="/PointsShop/PointCar.html(.{0,})" mapper="{0}/PointsShop_PointCar.aspx$1" id="积分购物车" remapper="PointsShop_PointCar.aspx(.{0,})" reurl="/PointsShop/PointCar.html$1"></url>
	<url url="/PointsShop/Shopservice.html(.{0,})" mapper="{0}/PointsShop_Service.aspx$1" id="积分确认" remapper="PointsShop_Service.aspx(.{0,})" reurl="/PointsShop/Shopservice.html$1"></url>
	<url url="/PointsShop/Pconfir.html(.{0,})" mapper="{0}/PointsShop_Pconfir.aspx$1" id="积分支付" remapper="PointsShop_Pconfir.aspx(.{0,})" reurl="/PointsShop/Pconfir.html$1"></url>
	<url url="/PointsShop/Pointshop.html(.{0,})" mapper="{0}/pointsshop_index.aspx$1" id="积分详情" remapper="pointsshop_index.aspx(.{0,})" reurl="/PointsShop/Pointshop.html$1"></url>
	<!--积分商城结束-->
	

	<!--购买流程-->
		<url url="/shopcart/confirmation.html(.{0,})" mapper="{0}/shopcart_confirmation.aspx$1" id="购物车订单" remapper="shopcart_confirmation.aspx(.{0,})" reurl="/shopcart/confirmation.html$1"></url>
	<url url="/shopcart/notpriceation.html(.{0,})" mapper="{0}/shopcart_notpriceation.aspx$1" id="不同价格订单" remapper="shopcart_notpriceation.aspx(.{0,})" reurl="/shopcart/notpriceation.html$1"></url>
	<url url="/shop/orderInfoMain.html(.{0,})" mapper="{0}/shop_jdconfirmation.aspx$1" id="京东购物车订单" remapper="shop_jdconfirmation.aspx(.{0,})" reurl="/shop/orderInfoMain.html$1"></url>
	<url url="/shop/payment.html(.{0,})" mapper="{0}/shop_jdservice.aspx$1" id="京东选择银行" remapper="shop_jdservice.aspx(.{0,})" reurl="/shop/payment.html$1"></url>
	<url url="/shopcart/service.html(.{0,})" mapper="{0}/shopcart_service.aspx$1" id="选择银行" remapper="shopcart_service.aspx(.{0,})" reurl="/shopcart/service.html$1"></url>
	<url url="/shop/jdservice.html(.{0,})" mapper="{0}/shop_jdservice.aspx$1" id="京东选择银行" remapper="shop_jdservice.aspx(.{0,})" reurl="/shop/jdservice.html$1"></url>
	<url url="/shop/payInfoShow.html(.{0,})" mapper="{0}/shop_jdserviceinfo.aspx$1" id="京东银行支付" remapper="shop_jdserviceinfo.aspx(.{0,})" reurl="/shop/payInfoShow.html$1"></url>
	<url url="/order/pay.html(.{0,})" mapper="{0}/order_pay.aspx$1" id="银行支付" remapper="order_pay.aspx(.{0,})" reurl="/order/pay.html$1"></url>
		<url url="/order/success.html(.{0,})" mapper="{0}/order_success.aspx$1" id="支付通知" remapper="order_success.aspx(.{0,})" reurl="/order/success.html$1"></url>
	<url url="/team/buy.html(.{0,})" mapper="{0}/team_buy.aspx$1" id="优惠卷购买" remapper="team_buy.aspx(.{0,})" reurl="/team/buy.html$1"></url>
	<url url="/order/check.html(.{0,})" mapper="{0}/order_check.aspx$1" id="优惠卷确认" remapper="order_check.aspx(.{0,})" reurl="/order/check.html$1"></url>
	<!--购买流程结束-->


	<!--商城-->
	<url url="/mall/index.html" mapper="{0}/mall_index.aspx" id="商城首页" remapper="mall_index.aspx" reurl="/mall/index.html"></url>
  <url url="/mall/product/(.{0,})/(.{0,}).html" mapper="{0}/mall_jdproduct.aspx?id=$2&amp;r=$1" id="分享京东项目详情" remapper="mall_jdproduct.aspx(.{0,})" reurl="/mall/product/$1.html"></url>
	<url url="/mall/product/(.{0,}).html" mapper="{0}/mall_jdproduct.aspx?id=$1" id="京东项目详情" remapper="mall_jdproduct.aspx(.{0,})" reurl="/mall/product/$1.html"></url>
	<url url="/mall/cart.html(.{0,})" mapper="{0}/mall_jdcart.aspx$1" id="京东购物车" remapper="mall_jdcart.aspx(.{0,})" reurl="/mall/cart.html$1"></url>
  <url url="/list/([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*).html" mapper="{0}/mallcategorys_jingdong.aspx?catalogid=$1&amp;smallid=$2&amp;endid=$3&amp;brandid=$4&amp;price=$5&amp;discount=$6&amp;sort=$7" id="京东商品分类" remapper="mallcategorys_jingdong.aspx?catalogid=$1&amp;smallid=$2&amp;endid=$3&amp;brandid=$4&amp;price=$5&amp;discount=$6&amp;sort=$7" reurl="/list/([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*).html"></url>
	<url url="/list/([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*).html(.{0,})" mapper="{0}/mallcategorys_jingdong.aspx$8&amp;catalogid=$1&amp;smallid=$2&amp;endid=$3&amp;brandid=$4&amp;price=$5&amp;discount=$6&amp;sort=$7" id="搜索京东商品分类" remapper="mallcategorys_jingdong.aspx$8&amp;catalogid=$1&amp;smallid=$2&amp;endid=$3&amp;brandid=$4&amp;price=$5&amp;discount=$6&amp;sort=$7" reurl="/list/([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*)-([0-9]\d*).html$1"></url>

  <url url="/mall/goods/(.{0,})/(.{0,}).html" mapper="{0}/mall_goods.aspx?id=$2&amp;r=$1" id="分享商城项目详情" remapper="mall_goods.aspx(.{0,})" reurl="/mall/goods/$1.html"></url>
  <url url="/mall/goods/(.{0,}).html" mapper="{0}/mall_goods.aspx?id=$1" id="米奇商城项目详情" remapper="mall_goods.aspx(.{0,})" reurl="/mall/goods/$1.html"></url>
    <url url="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*).html" mapper="{0}/mall_categorylist.aspx?catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" id="商城商品分类" remapper="mall_categorylist.aspx?catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" reurl="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*).html"></url>
    <url url="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*-[0-9]\d*).html" mapper="{0}/mall_categorylist.aspx?catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" id="商城商品分类_价格" remapper="mall_categorylist.aspx?catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" reurl="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*-[0-9]\d*).html"></url>
    <url url="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*-[0-9]\d*)/([0-9]\d*).html" mapper="{0}/mall_categorylist.aspx?catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" id="商城商品分类_折扣" remapper="mall_categorylist.aspx?catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" reurl="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*-[0-9]\d*)/([0-9]\d*).html"></url>
    <url url="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*-[0-9]\d*)/([0-9]\d*-[0-9]\d*).html" mapper="{0}/mall_categorylist.aspx?catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" id="商城商品分类_价格和折扣" remapper="mall_categorylist.aspx?catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" reurl="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*-[0-9]\d*)/([0-9]\d*-[0-9]\d*).html"></url>
    <url url="/mall/brand/list.html" mapper="{0}/mall_brandlist.aspx" id="商城品牌大全" remapper="mall_brandlist.aspx" reurl="/mall/brand/list.html"></url>
    <url url="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*).html(.{0,})" mapper="{0}/mall_categorylist.aspx$6&amp;catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" id="商城搜索分类详情" remapper="mall_categorylist.aspx$6&amp;catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" reurl="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*).html$1"></url>
    <url url="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*-[0-9]\d*).html(.{0,})" mapper="{0}/mall_categorylist.aspx$6&amp;catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" id="商城搜索分类详情_价格" remapper="mall_categorylist.aspx$6&amp;catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" reurl="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*-[0-9]\d*).html$1"></url>
    <url url="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*-[0-9]\d*)/([0-9]\d*).html(.{0,})" mapper="{0}/mall_categorylist.aspx$6&amp;catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" id="商城搜索分类详情_折扣" remapper="mall_categorylist.aspx$6&amp;catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" reurl="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*-[0-9]\d*)/([0-9]\d*).html$1"></url>
    <url url="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*-[0-9]\d*)/([0-9]\d*-[0-9]\d*).html(.{0,})" mapper="{0}/mall_categorylist.aspx$6&amp;catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" id="商城搜索分类详情_价格和折扣" remapper="mall_categorylist.aspx$6&amp;catalogid=$1&amp;brandid=$2&amp;sort=$3&amp;discount=$4&amp;price=$5" reurl="/mall/catalist/([0-9]\d*)/([0-9]\d*)/([0-9]\d*)/([0-9]\d*-[0-9]\d*)/([0-9]\d*-[0-9]\d*).html$1"></url>
    <!--商城结束-->

	<!--用户个人中心-->
	<url url="/order/index.html(.{0,})" mapper="{0}/order_index.aspx$1" id="我的订单" remapper="order_index.aspx(.{0,})" reurl="/order/index.html$1"></url>
	<url url="/coupon/coupon.html(.{0,})" mapper="{0}/coupon_coupon.aspx$1" id="我的优惠券" remapper="coupon_coupon.aspx(.{0,})" reurl="/coupon/coupon.html$1"></url>
	<url url="/coupon/print.html(.{0,})" mapper="{0}/coupon_print.aspx$1" id="优惠券打印" remapper="coupon_print.aspx(.{0,})" reurl="/coupon/print.html$1"></url>
	<url url="/coupon/index.html(.{0,})" mapper="{0}/coupon_index.aspx$1" id="我的优惠券全部" remapper="coupon_index.aspx(.{0,})" reurl="/coupon/index.html$1"></url>
	<url url="/coupon/pcoupon.html(.{0,})" mapper="{0}/coupon_pcoupon.aspx$1" id="我的站外券全部" remapper="coupon_pcoupon.aspx(.{0,})" reurl="/coupon/pcoupon.html$1"></url>
	<url url="/account/subscribe.html(.{0,})" mapper="{0}/account_subscribe.aspx$1" id="我的订阅" remapper="account_subscribe.aspx(.{0,})" reurl="/account/subscribe.html$1"></url>
	<url url="/order/packet.html(.{0,})" mapper="{0}/order_packet.aspx$1" id="我的红包" remapper="order_packet.aspx(.{0,})" reurl="/order/packet.html$1"></url>
	<url url="/order/card.html(.{0,})" mapper="{0}/order_card.aspx$1" id="我的代金券" remapper="order_card.aspx(.{0,})" reurl="/order/card.html$1"></url>
	<url url="/order/draw.html(.{0,})" mapper="{0}/order_draw.aspx$1" id="我的抽奖" remapper="order_draw.aspx(.{0,})" reurl="/order/draw.html$1"></url>
	<url url="/order/drawlist.html(.{0,})" mapper="{0}/order_drawlist.aspx$1" id="我的抽奖详情" remapper="order_drawlist.aspx(.{0,})" reurl="/order/drawlist.html$1"></url>
	<url url="/account/refer.html(.{0,})" mapper="{0}/account_refer.aspx$1" id="我的邀请" remapper="account_refer.aspx(.{0,})" reurl="/account/refer.html$1"></url>
	<url url="/PointsShop/PointScore.html(.{0,})" mapper="{0}/pointsshop_pointscore.aspx$1" id="我的积分" remapper="pointsshop_pointscore.aspx(.{0,})" reurl="/PointsShop/PointScore.html$1"></url>
	<url url="/buy/Send_list_partner.html(.{0,})" mapper="{0}/buy_Send_list_partner.aspx$1" id="个人中心商户评论" remapper="buy_Send_list_partner.aspx(.{0,})" reurl="/buy/Send_list_partner.html$1"></url>
    <url url="/buy/Send_list_pcomments.html(.{0,})" mapper="{0}/buy_Send_list_pcomments.aspx$1" id="个人中心商户已评论" remapper="buy_Send_list_pcomments.aspx(.{0,})" reurl="/buy/Send_list_pcomments.html$1"></url>
    <url url="/buy/Send_list_team.html(.{0,})" mapper="{0}/buy_Send_list_team.aspx$1" id="个人中心产品评论" remapper="buy_Send_list_team.aspx(.{0,})" reurl="/buy/Send_list_team.html$1"></url>
	<url url="/credit/index.html(.{0,})" mapper="{0}/credit_index.aspx$1" id="账户余额" remapper="credit_index.aspx(.{0,})" reurl="/credit/index.html$1"></url>
	<url url="/account/settings.html(.{0,})" mapper="{0}/account_settings.aspx$1" id="账户设置" remapper="account_settings.aspx(.{0,})" reurl="/account/settings.html$1"></url>
	    <url url="/order/view.html(.{0,})" mapper="{0}/order_view.aspx$1" id="订单详情" remapper="order_view.aspx(.{0,})" reurl="/order/view.html$1"></url>
	<url url="/order/charge.html(.{0,})" mapper="{0}/order_charge.aspx$1" id="个人中心账户充值" remapper="order_charge.aspx(.{0,})" reurl="/order/charge.html$1"></url>
	<url url="/credit/charge.html(.{0,})" mapper="{0}/credit_charge.aspx$1" id="支付方式" remapper="credit_charge.aspx(.{0,})" reurl="/credit/charge.html$1"></url>
	<!--用户个人中心结束-->

    
    
    <!--页面顶部和底部-->
    <url url="/help/tour.html" mapper="{0}/help_tour.aspx" id="玩转东购团" remapper="help_tour.aspx" reurl="/help/tour.html"></url>
    <url url="/help/faqs.html" mapper="{0}/help_faqs.aspx" id="常见问题" remapper="help_faqs.aspx" reurl="/help/faqs.html"></url>
    <url url="/help/asdht.html" mapper="{0}/help_asdht.aspx" id="东购团概念" remapper="help_asdht.aspx" reurl="/help/asdht.html"></url>
    <url url="/help/api.html" mapper="{0}/help_api.aspx" id="开发API" remapper="help_api.aspx" reurl="/help/api.html"></url>
    <url url="/help/pendant.html" mapper="{0}/help_pendant.aspx" id="团购挂件" remapper="help_pendant.aspx" reurl="/help/pendant.html"></url>
    <url url="/Subscribe.html(.{0,})" mapper="{0}/help_Email_Subscribe.aspx$1" id="邮件订阅" remapper="help_Email_Subscribe.aspx(.{0,})" reurl="/Subscribe.html$1"></url>
    <url url="/feed.html(.{0,})" mapper="{0}/help_RSS_feed.aspx$1" id="RSS订阅" remapper="help_RSS_feed.aspx(.{0,})" reurl="/feed.html$1"></url>
    <url url="/feedback/seller.html" mapper="{0}/feedback_seller.aspx" id="商务合作" remapper="feedback_seller.aspx" reurl="/feedback/seller.html"></url>
	<url url="/help/link.html(.{0,})" mapper="{0}/help_link.aspx$1" id="友情链接" remapper="help_link.aspx(.{0,})" reurl="/help/link.html$1"></url>
    <url url="/login.html(.{0,})" mapper="/Login.aspx$1" id="后台管理" remapper="Login.aspx(.{0,})" reurl="/login.html$1"></url>
    <url url="/about/us.html" mapper="{0}/about_us.aspx" id="关于东购团" remapper="about_us.aspx" reurl="/about/us.html"></url>
    <url url="/about/job.html" mapper="{0}/about_job.aspx" id="工作机会" remapper="about_job.aspx" reurl="/about/job.html"></url>
    <url url="/about/contact.html" mapper="{0}/about_contact.aspx" id="联系方式" remapper="about_contact.aspx" reurl="/about/contact.html"></url>
    <url url="/about/terms.html" mapper="{0}/about_terms.aspx" id="用户协议" remapper="about_terms.aspx" reurl="/about/terms.html"></url>
    <url url="/about/privacy.html" mapper="{0}/about_privacy.aspx" id="用户协议" remapper="about_privacy.aspx" reurl="/about/privacy.html"></url>
    <url url="/feedback/suggest.html" mapper="{0}/feedback_suggest.aspx" id="意见反馈" remapper="feedback_suggest.aspx" reurl="/feedback/suggest.html"></url>
	<url url="/about/privacy.html" mapper="{0}/about_privacy.aspx" id="隐私声明" remapper="about_privacy.aspx" reurl="/about/privacy.html"></url>
	<!--页面顶部和底部结束-->




</root>
