<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="AuthorMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Author" type="AS.GroupOn.Domain.Spi.Author,AS.GroupOn" />
    <typeAlias alias="AuthorFilter" type="AS.GroupOn.DataAccess.Filters.AuthorFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Author" >
      insert into [Author]
      (Roleid,Menuid)
      values
      (#Roleid#,#Menuid#)
      <selectKey type="post" resultClass="System.Int32" property="Id">
        select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Author">
      update [Author] set
      Roleid=#Roleid#,Menuid=#Menuid#
      where Id=#Id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Author] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [Author]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="Id">
          Id=#Id#
        </isNotNull>
        <isNotNull prepend="and" property="Roleid">
          Roleid=#Roleid#
        </isNotNull>
        <isNotNull prepend="and" property="Menuid">
          Menuid=#Menuid#
        </isNotNull>
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="Author" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="AuthorFilter" resultClass="Author" cacheModel="c">
      select top 1
      * from [Author]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="AuthorFilter" resultClass="Author" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Author]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="AuthorFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Author]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="Author" parameterClass="AuthorFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Author]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>