<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="CityMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="City" type="AS.GroupOn.Domain.Spi.City,AS.GroupOn" />
    <typeAlias alias="CityFilter" type="AS.GroupOn.DataAccess.Filters.CityFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="City" >
      insert into [category]
      (Zone,Name,Ename,Letter,Sort_order,Display)
      values
      ('city',#Name#,#Ename#,#Letter#,#Sort_order#,#Display#)
      <selectKey type="post" resultClass="System.Int32" property="Id">
          select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="City">
      update [category] set
      Name=#Name#,Ename=#Ename#,Letter=#Letter#,Sort_order=#Sort_order#,Display=#Display#
      where Id=#Id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [category] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [category]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="ID">
          Id=#ID#
        </isNotNull>
        <isNotNull prepend="and" property="Ename">
          Ename=#Ename#
        </isNotNull>
        <isNotNull prepend="and" property="Display">
          Display=#Display#
        </isNotNull>
		<isNotNull prepend="and" property="Name">
		  Name =#Name#
		</isNotNull>
        <isNotNull prepend="and" property="Letter">
          Letter=#Letter#
        </isNotNull>
	   <isNotNull prepend="and" property="City_pid">
			  City_pid=#City_pid#
		</isNotNull>
        <isNotNull prepend="and" property="Zone">
          zone='city'
        </isNotNull>
      </dynamic>
      
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="City" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="CityFilter" resultClass="City" cacheModel="c">
      select top 1
      * from [category]
      <include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="CityFilter" resultClass="City" cacheModel="c">
		select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
		* from [category]
		<include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="CityFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [category]
     <include refid="wheresql"/>
    </select>
    <select id="getbypage" resultClass="City" parameterClass="CityFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [category]
      <include refid="wheresql"/>
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>