<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="CustomMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <!--<insert id="insert" parameterClass="obj" >
      insert into [category]
      (Zone,Name,Ename,Letter,Sort_order,Display)
      values
      ('city',#Name#,#Ename#,#Letter#,#Sort_order#,#Display#)
      <selectKey type="post" resultClass="System.Int32" property="ID">
          select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="obj">
      update [category] set
Name=#Name#,Ename=#Ename#,Letter=#Letter#,Sort_order=#Sort_order#,Display=#Display#
      where ID=#ID#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [category] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [category]
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="obj" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="filter" resultClass="obj" cacheModel="c">
      select top 1
      * from [category]
      <dynamic prepend="where">
      <isNotNull prepend="and" property="ID">
        ID=#ID#
      </isNotNull>
      <isNotNull prepend="and" property="Ename">
        Ename=#Ename#
      </isNotNull>
      <isNotNull prepend="and" property="Display">
        Display=#Display#
      </isNotNull>
      <isNotNull prepend="and" property="Letter">
        Letter=#Letter#
      </isNotNull>
	  zone='city'
    </dynamic>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="filter" resultClass="obj" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      from [category]
     <dynamic prepend="where">
      <isNotNull prepend="and" property="ID">
        ID=#ID#
      </isNotNull>
      <isNotNull prepend="and" property="Ename">
        Ename=#Ename#
      </isNotNull>
      <isNotNull prepend="and" property="Display">
        Display=#Display#
      </isNotNull>
      <isNotNull prepend="and" property="Letter">
        Letter=#Letter#
      </isNotNull>
	  zone='city'
    </dynamic>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="filter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [category]
     <dynamic prepend="where">
      <isNotNull prepend="and" property="ID">
        ID=#ID#
      </isNotNull>
      <isNotNull prepend="and" property="Ename">
        Ename=#Ename#
      </isNotNull>
      <isNotNull prepend="and" property="Display">
        Display=#Display#
      </isNotNull>
      <isNotNull prepend="and" property="Letter">
        Letter=#Letter#
      </isNotNull>
	  zone='city'
    </dynamic>
    </select>
    <select id="getbypage" resultClass="obj" parameterClass="filter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [category]
      <dynamic prepend="where">
      <isNotNull prepend="and" property="ID">
        ID=#ID#
      </isNotNull>
      <isNotNull prepend="and" property="Ename">
        Ename=#Ename#
      </isNotNull>
      <isNotNull prepend="and" property="Display">
        Display=#Display#
      </isNotNull>
      <isNotNull prepend="and" property="Letter">
        Letter=#Letter#
      </isNotNull>
	  zone='city'
    </dynamic>
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>-->
    <!-- 定制需求开始-->
    <update id="updateTeamInterval" resultClass="System.Int32" parameterClass="System.Collections.Hashtable">
      update team set time_interval=time_interval-1 where [Manualupdate]=1
      <isNotNull prepend="and" property="End_time">
        <![CDATA[End_time>=#End_time#]]>
      </isNotNull>
      <isNotNull prepend="and" property="Begin_time">
        <![CDATA[Begin_time<=#Begin_time#]]>
      </isNotNull>
      <![CDATA[  and update_value>0  and time_state>0 and (autolimit>=Now_number+update_value or autolimit=0) and (Max_number=0 or (Now_number+update_value<=Max_number) )
     ]]>
    </update>
    <update id="updateTeamNowNumber" resultClass="System.Int32" parameterClass="System.Collections.Hashtable">
      update team set Now_number=Now_number+update_value,time_interval=time_state where
      <![CDATA[ time_interval<=0]]>
      and  Manualupdate=1
      <isNotNull prepend="and" property="End_time">
          <![CDATA[End_time>=#End_time#]]>
        </isNotNull>
        <isNotNull prepend="and" property="Begin_time">
          <![CDATA[Begin_time<=#Begin_time#]]>
        </isNotNull>
        <![CDATA[  and update_value>0  and time_state>0 and (autolimit>=Now_number+update_value or autolimit=0) and (Max_number=0 or (Now_number+update_value<=Max_number) )
     ]]>
    </update>
    
    
    <select id="selectSMSSubscribe" resultClass="Hashtable"  parameterClass="System.DateTime">
      select * from (select mobile,coupon.id from coupon inner join [user] on(coupon.user_id=[user].id) where DATEDIFF(day,getdate(),Expire_time)=#NowTime# and  Consume='N' group by mobile,coupon.id)t
    </select>
    
    <select id="selectTeamIsEndTime" resultClass="Hashtable"  parameterClass="System.Int32">
      select  * from team where  and (Team_type='normal' or Team_type='draw' or Team_type='seconds')   and year(end_time)=year(DATEADD(day,#Days#,getdate()))  and month(end_time)=month(DATEADD(day,#Days#,getdate()))  and day(end_time)=day(dateadd(d,#Days#,getdate())) and teamcata=0  order by  sort_order desc,Begin_time desc,id desc
    </select>
    
    <update id="updateTeamEndTime" parameterClass="System.Collections.Hashtable">
      update team set End_time=#End_Time# where id=#ID#
    </update>

    <select id="selectTable" resultClass="Hashtable"  parameterClass="Hashtable">
      select #selectFilds# from #tableName#
      <isNotEmpty property="WhereString">
      where  #WhereString#
      </isNotEmpty>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>

    <select id="Query" resultClass="Hashtable"  parameterClass="System.String">
          $SelectString$   
    </select>
    

    <update id="updateTable" parameterClass="System.String">
     #updateString#
    </update>
    
    <select id="selectTeamCount" resultClass="System.Int32" parameterClass="System.Collections.Hashtable">
      select TeamCount from CateTeamCount
      <dynamic prepend="where">
        <isNotNull prepend="and" property="CatID">
          CatID=#CatID#
        </isNotNull>
        <isNotNull prepend="and" property="CityID">
          (CityID=#CityID#)
        </isNotNull>
        <isNotNull prepend="and" property="TypeID">
          Type=#TypeID#
        </isNotNull>
      </dynamic>
    </select>
  </statements>
</sqlMap>