<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="DrawMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Draw" type="AS.GroupOn.Domain.Spi.Draw,AS.GroupOn" />
    <typeAlias alias="DrawFilter" type="AS.GroupOn.DataAccess.Filters.DrawFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Draw">
      insert into [Draw]
      (userid,createtime,number,teamid,orderid,inviteid,state)
      values
      (#userid#,#createtime#,#number#,#teamid#,#orderid#,#inviteid#,#state#)
      <selectKey type="post" resultClass="System.Int32" property="id">
        select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Draw">
      update [Draw] set
      userid=#userid#,createtime=#createtime#,number=#number#,teamid=#teamid#,orderid=#orderid#,inviteid=#inviteid#,state=#state#
      where id=#id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Draw] where Id=#value#
    </delete>
    <sql id="selectsql">
      select * from [Draw]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="id">
          id=#id#
        </isNotNull>
        <isNotNull prepend="and" property="userid">
          userid=#userid#
        </isNotNull>
        <isNotNull prepend="and" property="number">
          number=#number#
        </isNotNull>
        <isNotNull prepend="and" property="teamid">
          teamid=#teamid#
        </isNotNull>
        <isNotNull prepend="and" property="orderid">
          orderid=#orderid#
        </isNotNull>
        <isNotNull prepend="and" property="state">
          state=#state#
        </isNotNull>
        <isNotNull prepend="and" property="FromCreateTime">
          <![CDATA[
          createtime>=#FromCreateTime#
          ]]>
        </isNotNull>
        <isNotNull prepend="and" property="ToCreateTime">
          <![CDATA[
          createtime<=#ToCreateTime#
          ]]>
        </isNotNull>
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="Draw" cacheModel="c">
      <include refid="selectsql"/>
      where id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="DrawFilter" resultClass="Draw" cacheModel="c">
      select top 1
      * from [Draw]
      <include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="DrawFilter" resultClass="Draw" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Draw]
      <include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="DrawFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Draw]
      <include refid="wheresql"/>
    </select>
    <select id="getbypage" resultClass="Draw" parameterClass="DrawFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Draw]
      <include refid="wheresql"/>
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
    <select id="sumgetbypage" resultClass="Draw" parameterClass="DrawFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM (select teamid, sum  from (select teamid,count(id) as sum from draw
      <include refid="wheresql"/>
      group by teamid) tt) cc

      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow# ;
    </select>

    <select id="getchou" parameterClass="DrawFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from $table$
      <include refid="wheresql"/>
    </select>
    <select id="getpagechou" resultClass="Draw" parameterClass="DrawFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM $table$
      <include refid="wheresql"/>
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>

  </statements>

</sqlMap>