<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="ExpresspriceMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Expressprice" type="AS.GroupOn.Domain.Spi.Expressprice,AS.GroupOn" />
    <typeAlias alias="ExpresspriceFilter" type="AS.GroupOn.DataAccess.Filters.ExpresspriceFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Expressprice" >
      insert into [Expressprice]
      (expressid,oneprice,twoprice)
      values
      (#expressid#,#oneprice#,#twoprice#)
      <selectKey type="post" resultClass="System.Int32" property="id">
        select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Expressprice">
      update [Expressprice] set
      expressid=#expressid#,oneprice=#oneprice#,twoprice=#twoprice#
      where id=#id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Expressprice] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [Expressprice]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="id">
          id=#id#
        </isNotNull>
        <isNotNull prepend="and" property="expressid">
          expressid=#expressid#
        </isNotNull>
        
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="Expressprice" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    <select id="getbyexpressid" parameterClass="System.Int32" resultClass="Expressprice" cacheModel="c">
      <include refid="selectsql" />
      where expressid=#expressid#
    </select>
    <select id="gettop1byfilter" parameterClass="ExpresspriceFilter" resultClass="Expressprice" cacheModel="c">
      select top 1
      * from [Expressprice]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="ExpresspriceFilter" resultClass="Expressprice" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Expressprice]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="ExpresspriceFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Expressprice]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="Expressprice" parameterClass="ExpresspriceFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Expressprice]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>