<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="FareTemplateMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="FareTemplate" type="AS.GroupOn.Domain.Spi.FareTemplate,AS.GroupOn" />
    <typeAlias alias="FareTemplateFilter" type="AS.GroupOn.DataAccess.Filters.FareTemplateFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="FareTemplate" >
      insert into [FareTemplate]
      (name,value)
      values
      (#name#,#value#)
      <selectKey type="post" resultClass="System.Int32" property="id">
          select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="FareTemplate">
      update [FareTemplate] set
      name=#name#,value=#value#
      where id=#id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [FareTemplate] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [FareTemplate]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="ID">
          id=#ID#
        </isNotNull>
        <isNotNull prepend="and" property="name">
          name=#name#
        </isNotNull>
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="FareTemplate" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="FareTemplateFilter" resultClass="FareTemplate" cacheModel="c">
      select top 1
      * from [FareTemplate]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="FareTemplateFilter" resultClass="FareTemplate" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [FareTemplate]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="FareTemplateFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [FareTemplate]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="FareTemplate" parameterClass="FareTemplateFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [FareTemplate]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>