<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="FarecitysMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Farecitys" type="AS.GroupOn.Domain.Spi.Farecitys,AS.GroupOn" />
    <typeAlias alias="FarecitysFilter" type="AS.GroupOn.DataAccess.Filters.FarecitysFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Farecitys" >
      insert into [Farecitys]
      (pid,name)
      values
      (#pid#,#name#)
      <selectKey type="post" resultClass="System.Int32" property="id">
        select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Farecitys">
      update [Farecitys] set
      pid=#pid#,name=#name#
      where id=#id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Farecitys] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [Farecitys]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="id">
          id=#id#
        </isNotNull>
        <isNotNull prepend="and" property="pid">
          pid=#pid#
        </isNotNull>
        
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="Farecitys" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="FarecitysFilter" resultClass="Farecitys" cacheModel="c">
      select top 1
      * from [Farecitys]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="FarecitysFilter" resultClass="Farecitys" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Farecitys]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="FarecitysFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Farecitys]
      <include refid="wheresql" />
    </select>
    <select id="getbypid" parameterClass="FarecitysFilter" resultClass="Hashtable" cacheModel="c">
      select id,pid,name, t.cid from (select id,pid,name,isnull(SUM(cid),0) as cid from (select t.*,farecitys.id as cid from farecitys as t
      left join farecitys on(t.id=farecitys.pid) where t.pid=#pid#)t group by id,pid,name)t
    </select>
    <select id="getbypage" resultClass="Farecitys" parameterClass="FarecitysFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Farecitys]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>