<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="FeedbackMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Feedback" type="AS.GroupOn.Domain.Spi.Feedback,AS.GroupOn" />
    <typeAlias alias="FeedbackFilter" type="AS.GroupOn.DataAccess.Filters.FeedbackFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Feedback" >
      insert into [Feedback]
      (City_id,User_id,Category,title,Contact,Content,Create_time)
      values
      (#City_id#,#User_id#,#Category#,#title#,#Contact#,#Content#,#Create_time#)
      <selectKey type="post" resultClass="System.Int32" property="Id">
        select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Feedback">
      update [Feedback] set
      City_id=#City_id#,User_id=#User_id#,Category=#Category#,title=#title#,Contact=#Contact#,Content=#Content#,Create_time=#Create_time#
      where Id=#Id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Feedback] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [Feedback]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="Id">
          Id=#Id#
        </isNotNull>
        <isNotNull prepend ="and" property="City_id">
          City_id=#City_id#
        </isNotNull>
        <isNotNull prepend="and" property="User_id">
          User_id=#User_id#
        </isNotNull>
        <isNotNull prepend="and" property="Category">
          Category=#Category#
        </isNotNull>
        <isNotNull prepend="and" property="Content">
          Content like '%'+#Content#+'%'
        </isNotNull>
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="Feedback" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="FeedbackFilter" resultClass="Feedback" cacheModel="c">
      select top 1
      * from [Feedback]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="FeedbackFilter" resultClass="Feedback" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Feedback]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="FeedbackFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Feedback]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="Feedback" parameterClass="FeedbackFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Feedback]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>