<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="FriendLinkMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="FriendLink" type="AS.GroupOn.Domain.Spi.FriendLink,AS.GroupOn" />
    <typeAlias alias="FriendLinkFilter" type="AS.GroupOn.DataAccess.Filters.FriendLinkFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="FriendLink" >
      insert into [FriendLink]
      (Title,url,Logo,Sort_order)
      values
      (#Title#,#url#,#Logo#,#Sort_order#)
      <selectKey type="post" resultClass="System.Int32" property="Id">
          select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="FriendLink">
      update [FriendLink] set
      Title=#Title#,url=#url#,Logo=#Logo#,Sort_order=#Sort_order#
      where Id=#Id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [FriendLink] where Id=#value#
    </delete>
    <sql id="selectsql">
      select * from [FriendLink]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull property="Logo">
          <isEqual compareValue="true" prepend="and" property="Logo">
             <![CDATA[len(logo)>0 ]]>
          </isEqual>
          <isEqual compareValue="false" prepend="and" property="Logo">
            <![CDATA[len(logo)=0 or Logo is null]]>
          </isEqual>
        </isNotNull>
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="FriendLink" cacheModel="c">
      <include refid="selectsql" />
      where Id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="FriendLinkFilter" resultClass="FriendLink" cacheModel="c">
      select top 1
      * from [FriendLink]
      <include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="FriendLinkFilter" resultClass="FriendLink" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [FriendLink]
      <include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="FriendLinkFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [FriendLink]
      <include refid="wheresql"/>
    </select>
    <select id="getbypage" resultClass="FriendLink" parameterClass="FriendLinkFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [FriendLink]
      <include refid="wheresql"/>
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>