<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="GetDataMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<cacheModels>
		<cacheModel id="c" implementation="MEMORY" readOnly="true">
			<flushInterval minutes="5" />
			<property name="CacheSize" value="10000" />
		</cacheModel>
	</cacheModels>
	<statements>
		<select id="selectsql" parameterClass="System.String" resultClass="System.Collections.Hashtable" cacheModel="c">
			$value$
		</select>
	</statements>
</sqlMap>