<?xml version="1.0" encoding="utf-8" ?>
<!--创建时间 2012-10-24 创建人 郑立军-->
<sqlMap namespace="GuidMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Guid" type="AS.GroupOn.Domain.Spi.Guid,AS.GroupOn" />
    <typeAlias alias="GuidFilter" type="AS.GroupOn.DataAccess.Filters.GuidFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>

  <statements>
    <insert id="insert" parameterClass="Guid" >
        insert into [Guid]
        (guidtitle,guidlink,guidopen,guidparent,guidsort,teamormall)
        values
        (#guidtitle#,#guidlink#,#guidopen#,#guidparent#,#guidsort#,#teamormall#)
        <selectKey type="post" resultClass="System.Int32" property="id">
          select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Guid">
        update [Guid] set
        guidtitle=#guidtitle#,guidlink=#guidlink#,guidopen=#guidopen#,guidparent=#guidparent#,guidsort=#guidsort#
        where id=#id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Guid] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [Guid]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="id">
          id=#id#
        </isNotNull>
        <isNotNull prepend="and" property="guidopen">
          guidopen=#guidopen#
        </isNotNull>
        <isNotNull prepend="and" property="teamormall">
          teamormall=#teamormall#
        </isNotNull>
        <isNotNull prepend="and" property="guidlink">
          guidlink in($guidlink$)
        </isNotNull>
        <isNotNull prepend="and" property="likeguidlink">
          guidlink like '%'+#likeguidlink#+'%'
        </isNotNull>
        <isNotNull prepend="or" property="likeguidlinknew">
          guidlink like '%'+#likeguidlinknew#+'%'
        </isNotNull>
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="Guid" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="GuidFilter" resultClass="Guid" cacheModel="c">
      select top 1
      * from [Guid]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="GuidFilter" resultClass="Guid" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Guid]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="GuidFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Guid]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="Guid" parameterClass="GuidFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Guid]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>