<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="InviteMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Invite" type="AS.GroupOn.Domain.Spi.Invite,AS.GroupOn" />
    <typeAlias alias="InviteFilter" type="AS.GroupOn.DataAccess.Filters.InviteFilter,AS.GroupOn" />
  </alias>
    
    <resultMap id="GetYaoqingTongji" class="Invite">
        <result property="num" column="num"/>
    </resultMap>
    
    <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Invite" >
        insert into [Invite]
        (User_id,Admin_id,User_ip,Other_user_id,Other_user_ip,Team_id,Pay,Credit,Buy_time,Create_time)
        values
        (#User_id#,#Admin_id#,#User_ip#,#Other_user_id#,#Other_user_ip#,#Team_id#,#Pay#,#Credit#,#Buy_time#,#Create_time#)
        <selectKey type="post" resultClass="System.Int32" property="Id">
          select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Invite">
      update [Invite] set
      User_id=#User_id#,Admin_id=#Admin_id#,User_ip=#User_ip#,Other_user_id=#Other_user_id#,Other_user_ip=#Other_user_ip#,Team_id=#Team_id#,Pay=#Pay#,Credit=#Credit#,Buy_time=#Buy_time#,Create_time=#Create_time#
      where Id=#Id#
    </update>

    <update id="updatepaytime" parameterClass="Invite">
      update [Invite] set
      Team_id=#Team_id#,Pay=#Pay#,Buy_time=#Buy_time#
      where Id=#Id#
    </update>
    
    <delete id="delete" parameterClass="System.Int32">
      delete from [Invite] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [Invite]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="Id">
          Id=#Id#
        </isNotNull>
        <isNotNull prepend="and" property="User_id">
          User_id=#User_id#
        </isNotNull>
        <isNotNull prepend="and" property="Pay">
          Pay=#Pay#
        </isNotNull>
        <isNotNull prepend="and" property="Buy_time">
          Buy_time=#Buy_time#
        </isNotNull>
        <isNotNull prepend="and" property="Credit">
          Credit=#Credit#
        </isNotNull>
        <isNotNull prepend="and" property="Team_id">
            Team_id=#Team_id#
        </isNotNull>
        <isNotNull prepend="and" property="TeamidNotZero">
            Team_id!=0
        </isNotNull>
        <isNotNull prepend="and" property="Other_user_id">
            Other_user_id=#Other_user_id#
        </isNotNull>
        <isNotNull prepend="and" property="FromCreate_time">
        <![CDATA[
            Create_time>=#FromCreate_time#
        ]]>
        </isNotNull>
        <isNotNull prepend="and" property="ToCreate_time">
        <![CDATA[
            Create_time<=#ToCreate_time#
        ]]>
        </isNotNull>
        <isNotNull prepend="and" property="FromBuy_time">
            <![CDATA[
                Buy_time>=#FromBuy_time#
            ]]>
        </isNotNull>
        <isNotNull prepend="and" property="ToBuy_time">
            <![CDATA[
                Buy_time<=#ToBuy_time#
            ]]>
        </isNotNull>
          <isNotNull prepend="and" property="FromCredit">
            <![CDATA[
            Credit>#FromCredit#
            ]]>  <!--返利记录-->
        </isNotNull>
        <isNotNull prepend="and" property="Username">
            Username=#Username#
        </isNotNull>
        <isNotNull prepend="and" property="Mobile">
            Mobile=#Mobile#
        </isNotNull>
        <isNotNull prepend="and" property="email">
            email=#email#
        </isNotNull>
        <isNotNull prepend="and" property="Name">
            Name=#Name#
        </isNotNull>
        <isNotNull prepend="and" property="Ip_Address">
            Ip_Address like '%'+#Ip_Address#+'%'
        </isNotNull>
      </dynamic>
    </sql>

    <select id="getbyother_userid" parameterClass="System.Int32" resultClass="Invite" cacheModel="c">
      select  top 1 Id,User_id,Admin_id,User_ip,Other_user_id,Other_user_ip,Team_id,Pay,Credit,Buy_time,Create_time from Invite 
      where Other_user_id=#Other_user_id#
    </select>
    
    <select id="getbyid" parameterClass="System.Int32" resultClass="Invite" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="InviteFilter" resultClass="Invite" cacheModel="c">
      select top 1
      * from [Invite]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="InviteFilter" resultClass="Invite" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Invite]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="InviteFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Invite]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="Invite" parameterClass="InviteFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Invite]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>

      <select id="getcount2" parameterClass="InviteFilter" resultClass="System.Int32" cacheModel="c">
          select count(*) from (select [User].Id,Username,Email,Mobile,num,City_id,IP_Address from(select User_id,count(Other_user_id) as num from Invite group by User_id) t inner join [user] on([user].id=t.User_id)  ) t1 left join Category on Category.id=t1.City_id
          <include refid="wheresql" />
      </select>
      <select id="getbypage2" resultClass="Invite" parameterClass="InviteFilter" cacheModel="c">
          WITH datatable AS
          (
          select t1.Id,Email,Mobile,IP_Address,Username,Name,num,
          ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
          FROM  ( select [User].Id,Username,Email,Mobile,num,City_id,IP_Address from(select User_id,count(Other_user_id) as num from Invite group by User_id) t inner join [user] on([user].id=t.User_id)  ) t1 left join Category on Category.id=t1.City_id
          <include refid="wheresql" />
          )
          SELECT *
          FROM datatable
          WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
      </select>
      
      <select id="selectFanli" resultClass="Invite" parameterClass="">
          select Invite.Id,User_id,Admin_id,User_ip,Other_user_id,Other_user_ip,Team_id,Pay,Credit,Buy_time,Invite.Create_time
          from Invite INNER JOIN [User] ON Invite.User_id = [User].Id where Pay='Y' and Credit=0 order by Buy_time desc
      </select>

    <select id="GetYaoqingTongji" resultClass="Invite" parameterClass="InviteFilter">
        select t1.Id,email,Mobile,IP_Address,Username,num,Name from ( select [User].Id,Username,email,Mobile,num,City_id,IP_Address from ( select User_id,count(Other_user_id) as num from Invite group by User_id ) t inner join [user] on([user].id=t.user_id) ) t1 left join Category on Category.id=t1.City_id
        <dynamic prepend="where">
            <isNotNull prepend="and" property="Username">
                Username=#Username#
            </isNotNull>
            <isNotNull prepend="and" property="Mobile">
                Mobile=#Mobile#
            </isNotNull>
            <isNotNull prepend="and" property="email">
                email=#email#
            </isNotNull>
            <isNotNull prepend="and" property="Name">
                Name=#Name#
            </isNotNull>
            <isNotNull prepend="and" property="Ip_Address">
                Ip_Address like '%'+#Ip_Address#+'%'
            </isNotNull>
            <isNotEmpty property="SortOrderString">
                order by num desc
            </isNotEmpty>
        </dynamic>
    </select>
  </statements>
</sqlMap>