<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="LocationMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <alias>
        <typeAlias alias="Location" type="AS.GroupOn.Domain.Spi.Location,AS.GroupOn"/>
        <typeAlias alias="LocationFilter" type="AS.GroupOn.DataAccess.Filters.LocationFilter,AS.GroupOn"/>
    </alias>
    <cacheModels>
        <cacheModel id="c" implementation="MEMORY" readOnly="true">
            <flushInterval  seconds="3" />
            <flushOnExecute statement="insert"/>
            <flushOnExecute statement="update"/>
            <flushOnExecute statement="delete"/>
            <property name="CacheSize" value="10000" />
        </cacheModel>
    </cacheModels>
    <statements>
        <insert id="insert" parameterClass="Location">
            insert into [Location]
            (locationname,pageurl,image,location,createdate,visibility,type,width,height,begintime,endtime,decpriction,cityid)
            values
            (#locationname#,#pageurl#,#image#,#location#,#createdate#,#visibility#,#type#,#width#,#height#,#begintime#,#endtime#,#decpriction#,#cityid#)
            <selectKey type="post" resultClass="System.Int32" property="id">
                select @@identity as value
            </selectKey>
        </insert>

        <update id="update" parameterClass="Location">
            update [Location] set
            locationname=#locationname#,pageurl=#pageurl#,image=#image#,location=#location#,createdate=#createdate#,visibility=#visibility#,type=#type#,width=#width#,height=#height#,begintime=#begintime#,endtime=#endtime#,decpriction=#decpriction#,cityid=#cityid#
             where id=#id#
        </update>
        
        <delete id="delete" parameterClass="System.Int32">
            delete from [Location] where id=#value#
        </delete>
        <sql id="selectsql">
            select * from [Location]
        </sql>
        <sql id="wheresql">
            <dynamic prepend="where">
                <isNotNull prepend="and" property="id">
                    id=#id#
                </isNotNull>
				<isNotNull prepend="and" property="Location">
					location=#Location# 
				</isNotNull>
                <isNotNull prepend="and" property="type">
                    type=#type#
                </isNotNull>

        <isNotNull prepend="and" property="visibility">
           visibility=#visibility# 
         </isNotNull>
              
				<isNotNull prepend="and" property="visibilityS">
          visibility=#visibility#
          and  <![CDATA[(convert(varchar(10),begintime,120)<=convert(varchar(10),getdate(),120) and convert(varchar(10),endtime,120)>=convert(varchar(10),getdate(),120))  ]]>
        </isNotNull>
              
				<isNotNull prepend="and" property="height">
					height=#height#
				</isNotNull>
                <isNotNull prepend="and" property="From_Createdate">
                    <![CDATA[
                       createdate >=#From_Createdate#
                    ]]>
                </isNotNull>
                <isNotNull prepend="and" property="To_Createdate">
                    <![CDATA[
                        createdate<=#To_Createdate#
                    ]]>
                </isNotNull>
                <isNotNull prepend="and" property="From_Begintime">
                    <![CDATA[
                        begintime>=#From_Begintime#
                    ]]>
                </isNotNull>
                <isNotNull prepend="and" property="To_Begintime">
                    <![CDATA[
                        begintime<=#To_Begintime#
                    ]]>
                </isNotNull>
                <isNotNull prepend="and" property="From_Endtime">
                    <![CDATA[
                        endtime>=#From_Endtime#
                    ]]>
                </isNotNull>
                <isNotNull prepend="and" property="To_Endtime">
                    <![CDATA[
                        endtime>=#To_Endtime#
                    ]]>
                </isNotNull>
                
                <isNotNull prepend="and" property="Cityid">
					(cityid  like '%'+#Cityid#+'%' or cityid like '%,0,%')
				</isNotNull>


              <isNotNull prepend="and" property="CityidS">
               (','+cityid+',' like ('%,#Cityid#,%')  or cityid like '%,0,%' ) and <![CDATA[(convert(varchar(10),begintime,120)<=convert(varchar(10),getdate(),120) and convert(varchar(10),endtime,120)>=convert(varchar(10),getdate(),120))]]>
              </isNotNull>
              
            </dynamic>
        </sql>
        <select id="getcount" parameterClass="LocationFilter" cacheModel="c" resultClass="System.Int32">
            select count(*) from [Location] 
            <include refid="wheresql"/>
        </select>
        <select id="getbyfilter" parameterClass="LocationFilter" cacheModel="c" resultClass="Location">
            select 
            <isNotNull property="Top">
                top $Top$
            </isNotNull>
            * from [Location]
            <include refid="wheresql"/>
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>

        <select id="getbyid" parameterClass="System.Int32" cacheModel="c" resultClass="Location">
            <include refid="selectsql"/>
            where id=#value#
        </select>

        <select id="gettop1byfilter" parameterClass="LocationFilter" cacheModel="c" resultClass="Location">
            select top 1 * from [Location]
            <include refid="wheresql"/>
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>

        <select id="getbypage" parameterClass="LocationFilter" cacheModel="c" resultClass="Location">
            WITH datatable AS
            (
                SELECT *,ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
                FROM[Location]
                <include refid="wheresql"/>
            )
            SELECT * FROM datatable WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
        </select>
    </statements>
    
</sqlMap>