<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="MailerMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Mailer" type="AS.GroupOn.Domain.Spi.Mailer,AS.GroupOn" />
    <typeAlias alias="MailerFilter" type="AS.GroupOn.DataAccess.Filters.MailerFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Mailer" >
        insert into [Mailer]
        (Email,City_id,Secret,sendmailids,readcount,provider)
        values
        (#Email#,#City_id#,#Secret#,#sendmailids#,#readcount#,#provider#)
        <selectKey type="post" resultClass="System.Int32" property="Id">
          select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Mailer">
        update [Mailer] set
        Email=#Email#,City_id=#City_id#,Secret=#Secret#,sendmailids=#sendmailids#,readcount=#readcount#,provider=#provider#
        where Id=#Id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Mailer] where id=#value#
    </delete>

    <sql id="selectsql">
      select * from [Mailer]
    </sql>
      <sql id="wheresql">
          <dynamic prepend="where">
              <isNotNull prepend="and" property="Id">
                    Id =#Id#
              </isNotNull>
              <isNotNull prepend="and" property="Email">
                  <![CDATA[
                    Email like '%'+#Email#+'%'
                  ]]>
              </isNotNull>
              <isNotNull prepend="and" property="Secret">
                  Secret=#Secret#
              </isNotNull>
              <isNotNull prepend="and" property="sendmailids">
                  sendmailids=#sendmailids#
              </isNotNull>
            <isNotNull prepend="and" property="City_id">
              ( City_id=0  or City_id=#City_id# )
            </isNotNull>
            <isNotNull prepend="and" property="City_ids">
                City_id in($City_ids$)
            </isNotNull>
              <isNotNull prepend="and" property="cityid">
                City_id=#cityid#
              </isNotNull>
          </dynamic>
      </sql>
      <select id="getbyid" parameterClass="System.Int32" resultClass="Mailer" cacheModel="c">
          <include refid="selectsql" />
          where id=#value#
      </select>
      <select id="gettop1byfilter" parameterClass="MailerFilter" resultClass="Mailer" cacheModel="c">
          select top 1
          * from [Mailer]
      <include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="MailerFilter" resultClass="Mailer" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
     * from [Mailer]
   <include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="MailerFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Mailer]
  <include refid="wheresql"/>
    </select>
    <select id="getbypage" resultClass="Mailer" parameterClass="MailerFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Mailer]
    <include refid="wheresql"/>
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
      <select id="selectMail" resultClass="HashMap" parameterClass="MailerFilter">
          select email from(select * from(select COUNT(*) as num,SUBSTRING(Email,CHARINDEX('@',email),LEN(email)) as email from Mailer
          <dynamic prepend="where">
              <isNotNull prepend="and" property="City_ids">
                  City_id in($City_ids$)
              </isNotNull>
          </dynamic>
          group by SUBSTRING(Email,CHARINDEX('@',email),LEN(email)) )t where email like '@%')tt
      </select>
  </statements>
</sqlMap>