<?xml version="1.0" encoding="utf-8"?>
<sqlMap namespace="MailserviceproviderMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <alias>
        <typeAlias alias="Mailserviceprovider" type="AS.GroupOn.Domain.Spi.mailserviceprovider,AS.GroupOn"/>
        <typeAlias alias="MailserviceproviderFilter" type="AS.GroupOn.DataAccess.Filters.MailserviceproviderFilter,AS.GroupOn"/>
    </alias>
    <cacheModels>
        <cacheModel id="c" implementation="MEMORY" readOnly="true">
            <flushInterval seconds="3"/>
            <flushOnExecute statement="insert"/>
            <flushOnExecute statement="update"/>
            <flushOnExecute statement="delete"/>
            <property name="CacheSize" value="10000"/>
        </cacheModel>
    </cacheModels>
    <statements>
        <insert id="insert" parameterClass="Mailserviceprovider">
            insert into [Mailserviceprovider]
            (mailtasks_id,serviceprovider)
            values
            (#mailtasks_id#,#serviceprovider#)
            <selectKey type="post" resultClass="System.Int32" property="id">
                select @@identity as value
            </selectKey>
        </insert>
        <update id="update" parameterClass="Mailserviceprovider">
            update [Mailserviceprovider] set
            mailtasks_id=#mailtasks_id#,serviceprovider=#serviceprovider#
            where id=#id#
        </update>
        <delete id="delete" parameterClass="System.Int32">
            delete from [Mailserviceprovider]
            where id=#value#
        </delete>
        <delete id="deleteWhere" parameterClass="System.Int32">
            delete from [Mailserviceprovider]
            where mailtasks_id=#value#
        </delete>
        <sql id="selectsql">
            select * from [Mailserviceprovider]
        </sql>
        <sql id="wheresql">
            <dynamic prepend="where">
                <isNotNull prepend="and" property="id">
                    id=#id#
                </isNotNull>
            </dynamic>
        </sql>
        <select id="getbyid" parameterClass="System.Int32" resultClass="Mailserviceprovider" cacheModel="c">
            <include refid="selectsql"/>
            where id=#value#
        </select>
        <select id="getbyfilter" parameterClass="MailserviceproviderFilter" resultClass="Mailserviceprovider" cacheModel="c">
            select
            <isNotNull property="Top">
                top $Top$
            </isNotNull>
            * from [Mailserviceprovider]
            <include refid="wheresql" />
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>
        <select id="gettop1byfilter" parameterClass="MailserviceproviderFilter" resultClass="Mailserviceprovider" cacheModel="c">
            select top 1
            * from [Mailserviceprovider]
            <include refid="wheresql"/>
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>
        <select id="getcount" parameterClass="MailserviceproviderFilter" resultClass="System.Int32" cacheModel="c">
            select count(*) from [Mailserviceprovider]
           <include refid="wheresql"/>
        </select>
        <select id="getbypage" resultClass="Mailserviceprovider" parameterClass="MailserviceproviderFilter" cacheModel="c">
            WITH datatable AS
            (
            SELECT *,
            ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
            FROM [Mailserviceprovider]
            <include refid="wheresql" />
            )
            SELECT *
            FROM datatable
            WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
        </select>
    </statements>
</sqlMap>