<?xml version="1.0" encoding="utf-8"?>
<!--创建时间: 2012-10-25  创建人: 郑立军-->
<sqlMap namespace="MailserverMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <alias>
        <typeAlias alias="Mailserver" type="AS.GroupOn.Domain.Spi.Mailserver,AS.GroupOn"/>
        <typeAlias alias="MailserverFilter" type="AS.GroupOn.DataAccess.Filters.MailserverFilter,AS.GroupOn"/>
    </alias>
  <cacheModels>
        <cacheModel id="c" implementation="MEMORY" readOnly="true">
            <flushInterval seconds="3"/>
            <flushOnExecute statement="insert"/>
            <flushOnExecute statement="update"/>
            <flushOnExecute statement="delete"/>
            <property name="CacheSize" value="10000" />
        </cacheModel>
    </cacheModels>
    <statements>
        <insert id="insert" parameterClass="Mailserver">
            insert into [Mailserver]
            (smtphost,smtpport,ssl,mailuser,realname,mailpass,sendmail, receivemail, sendcount)
            values
            (#smtphost#, #smtpport#, #ssl#, #mailuser#, #realname#, #mailpass#, #sendmail#, #receivemail#, #sendcount#)
            <selectKey type="post" resultClass="System.Int32" property="id">
                select @@identity as value
            </selectKey>
        </insert>
        <update id="update" parameterClass="Mailserver">
            update [Mailserver] set
            smtphost=#smtphost#,smtpport=#smtpport#,ssl=#ssl#,mailuser=#mailuser#,realname=#realname#,mailpass=#mailpass#,sendmail=#sendmail#, receivemail=#receivemail#, sendcount=#sendcount#
            where id = #id#
        </update>
        <delete id="delete" parameterClass="System.Int32">
            delete from [Mailserver] where id = #value#
        </delete>
        <sql id="selectsql">
            select * from [Mailserver]
        </sql>
        <sql id="wheresql">
            <dynamic prepend="where">
                <isNotNull prepend="and" property="id">
                    id=#id#
                </isNotNull>
                <isNotNull prepend="and" property="sendcount">
                    sendcount=#sendcount#
                </isNotNull>
            </dynamic>
        </sql>
        <select id="gettop1byfilter" parameterClass="MailserverFilter" cacheModel="c" resultClass="Mailserver">
            select top 1 * from [Mailserver]
            <include refid="wheresql"/>
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>
        <select id="getbyid" parameterClass="System.Int32" resultClass="Mailserver" cacheModel="c">
            <include refid="selectsql"/>
            where id=#value#
        </select>
        <select id="getbyfilter" parameterClass="MailserverFilter" cacheModel="c" resultClass="Mailserver">
           select 
           <isNotNull property="Top">
               Top $Top$
           </isNotNull>
            * from [Mailserver]
            <include refid="wheresql"/>
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>
        <select id="getcount" parameterClass="MailserverFilter" cacheModel="c" resultClass="System.Int32">
            select count(*) from [Mailserver]
            <include refid="wheresql"/>
        </select>
  
        <select id="getbypage" resultClass="Mailserver" parameterClass="MailserverFilter" cacheModel="c">
            WITH datatable AS
            (
            SELECT *,
            ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
            FROM [Mailserver]
            <include refid="wheresql" />
            )
            SELECT *
            FROM datatable
            WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
        </select>
    </statements>
    
</sqlMap>