<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="MenuRelationMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="MenuRelation" type="AS.GroupOn.Domain.Spi.MenuRelation,AS.GroupOn" />
		<typeAlias alias="MenuRelationFilter" type="AS.GroupOn.DataAccess.Filters.MenuRelationFilter,AS.GroupOn" />
	</alias>
	<cacheModels>
		<cacheModel id="c" implementation="MEMORY" readOnly="true">
			<flushInterval  seconds="3" />
			<flushOnExecute statement="insert"/>
			<flushOnExecute statement="update"/>
			<flushOnExecute statement="delete"/>
			<property name="CacheSize" value="10000" />
		</cacheModel>
	</cacheModels>
	<statements>
		<insert id="insert" parameterClass="MenuRelation" >
			INSERT INTO [MenuRelation]
			(farthermenuid,childmenuid)
			values
			(#farthermenuid#,#childmenuid#)
			<selectKey type="post" resultClass="System.Int32" property="Id">
				select @@identity as value
			</selectKey>
		</insert>
		<update id="update" parameterClass="MenuRelation">
			update [MenuRelation] set
			farthermenuid=#farthermenuid#,childmenuid=#childmenuid#
			where Id=#Id#
		</update>
		<delete id="delete" parameterClass="System.Int32">
			delete from [MenuRelation] where Id=#value#
		</delete>
		<sql id="selectsql">
			select * from [MenuRelation]
		</sql>
		<select id="getbyid" parameterClass="System.Int32" resultClass="MenuRelation" cacheModel="c">
			<include refid="selectsql" />
			where Id=#value#
		</select>
		<select id="gettop1byfilter" parameterClass="MenuRelationFilter" resultClass="MenuRelation" cacheModel="c">
			select top 1
			* from [MenuRelation]
			<dynamic prepend="where">
				<isNotNull prepend="and" property="farthermenuid">
					farthermenuid=#farthermenuid#
				</isNotNull>
				<isNotNull prepend="and" property="childmenuid">
					childmenuid=#childmenuid#
				</isNotNull>
			</dynamic>
			<isNotEmpty property="SortOrderString">
				order by $SortOrderString$
			</isNotEmpty>
		</select>
		<select id="getbyfilter" parameterClass="MenuRelationFilter" resultClass="MenuRelation" cacheModel="c">
			select
			<isNotNull property="Top">
				top $Top$
			</isNotNull>
			* from [MenuRelation]
			<dynamic prepend="where">
				<isNotNull prepend="and" property="farthermenuid">
					farthermenuid=#farthermenuid#
				</isNotNull>
				<isNotNull prepend="and" property="childmenuid">
					childmenuid=#childmenuid#
				</isNotNull>
			</dynamic>
			<isNotEmpty property="SortOrderString">
				order by $SortOrderString$
			</isNotEmpty>
		</select>
		<select id="getcount" parameterClass="MenuRelationFilter" resultClass="System.Int32" cacheModel="c">
			select count(*) from [MenuRelation]
			<dynamic prepend="where">
				<isNotNull prepend="and" property="farthermenuid">
					farthermenuid=#farthermenuid#
				</isNotNull>
				<isNotNull prepend="and" property="childmenuid">
					childmenuid=#childmenuid#
				</isNotNull>
			</dynamic>
		</select>
		<select id="getbypage" resultClass="MenuRelation" parameterClass="MenuRelationFilter" cacheModel="c">
			WITH datatable AS
			(
			SELECT *,
			ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
			FROM [MenuRelation]
			<dynamic prepend="where">
				<isNotNull prepend="and" property="farthermenuid">
					farthermenuid=#farthermenuid#
				</isNotNull>
				<isNotNull prepend="and" property="childmenuid">
					childmenuid=#childmenuid#
				</isNotNull>
			</dynamic>
			)
			SELECT *
			FROM datatable
			WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
		</select>
	</statements>
</sqlMap>