<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="OrderDetailMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="OrderDetail" type="AS.GroupOn.Domain.Spi.OrderDetail,AS.GroupOn" />
    <typeAlias alias="OrderDetailFilter" type="AS.GroupOn.DataAccess.Filters.OrderDetailFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="OrderDetail" >
		insert into [OrderDetail]
		(Order_id,Num,Teamid,Teamprice,result,carno,Credit,discount,totalscore,orderscore)
		values
		(#Order_id#,#Num#,#Teamid#,#Teamprice#,#result#,#carno#,#Credit#,#discount#,#totalscore#,#orderscore#)
		<selectKey type="post" resultClass="System.Int32" property="id">
          select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="OrderDetail">
		update [OrderDetail] set
		Order_id=#Order_id#,Num=#Num#,Teamid=#Teamid#,Teamprice=#Teamprice#,result=#result#,carno=#carno#,Credit=#Credit#,discount=#discount#,totalscore=#totalscore#,orderscore=#orderscore#
		where id=#id#
	</update>
    <update id="updateorderscore" parameterClass="OrderDetail">
        update [OrderDetail] set
        orderscore=#orderscore#
        where id=#id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [OrderDetail] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [OrderDetail]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="Order_ID">
          Order_ID=#Order_ID#
        </isNotNull>
        <isNotNull prepend="and" property="TeamidOrder">
          (Teamid=#TeamidOrder# and Order_id in (select id from [Order] where state='pay'))          
        </isNotNull>
        
        <isNotNull prepend="and" property="Teamprice">
          Teamprice=#Teamprice#
        </isNotNull>
        <isNotNull prepend="and" property="Teamid">
          Teamid=#Teamid#
        </isNotNull>

        <isNotNull prepend="and" property="order_userid">
          [Order].User_id =#order_userid#
        </isNotNull>
        <isNotNull prepend="and" property="order_state">
          [Order].State= #order_state#
        </isNotNull>
        <isNotNull prepend="and" property="orderdetail_orderid">
            orderdetail.Order_id= #orderdetail_orderid#
        </isNotNull>
      </dynamic>
    </sql>

    <select id="getbyorderid_team" parameterClass="System.Int32" cacheModel="c">
      select top 1 Id from Team where Id in (select Teamid from orderdetail where Order_id=#Order_ID#) group by Id order by max(Bonus) desc
    </select>
    
    <select id="getbyid" parameterClass="System.Int32" resultClass="OrderDetail" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    <select id="getbyorderid" parameterClass="System.Int32" resultClass="OrderDetail" cacheModel="c">
      <include refid="selectsql" />
      where Order_id=#Order_id# order by Teamid  asc
    </select>
    <select id="gettop1byfilter" parameterClass="OrderDetailFilter" resultClass="OrderDetail" cacheModel="c">
      select top 1
      * from [OrderDetail]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="OrderDetailFilter" resultClass="OrderDetail" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
     * from [OrderDetail]
     <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="GetBuyCount2" parameterClass="OrderDetailFilter" resultClass="System.Int32" cacheModel="c">
      select sum(num)as n2 from [orderdetail] inner join [order] on(orderdetail.order_id=[order].id)
      <include refid="wheresql" />
    </select>
    <select id="getcount" parameterClass="OrderDetailFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [OrderDetail]
     <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="OrderDetail" parameterClass="OrderDetailFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [OrderDetail]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>

    <select id="GetDetailTeam" resultClass="OrderDetail" parameterClass="OrderDetailFilter">
        select a.Teamid,a.Num,a.result,b.Title,b.Product from orderdetail as a left join team as b on a.Teamid=b.Id
        <dynamic prepend="where">
            <isNotNull>
                Order_id=#Order_ID#
            </isNotNull>
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </dynamic>
    </select>

    <select id="getdetailcount" resultClass="System.Int32"  parameterClass="OrderDetailFilter">
      select count(*) from [orderdetail] inner join [Order] on(orderdetail.Order_id=[Order].Id)
      <include refid="wheresql" />
    </select>

    <select id="getpartnernum" resultClass="System.Collections.Hashtable"  parameterClass="OrderDetailFilter">
        select Team.Partner_id from orderdetail inner join Team on orderdetail.Teamid=Team.Id
        <include refid="wheresql" />
        group by Team.Partner_id
    </select>
    
  </statements>
</sqlMap>