<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="OrderMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Order" type="AS.GroupOn.Domain.Spi.Order,AS.GroupOn" />
    <typeAlias alias="OrderFilter" type="AS.GroupOn.DataAccess.Filters.OrderFilter,AS.GroupOn" />
  </alias>

    <resultMap id="getplteam" class="Order">
        <result property="vtid" column="vtid"/>
        <result property="urid" column="urid"/>
        <result property="ur_create_time" column="ur_create_time"/>
    </resultMap>
    
    <resultMap id="getpartner" class="Order">
        <result property="tid" column="tid"/>
        <result property="ttitle" column="ttitle"/>
        <result property="tpartnerid" column="tpartnerid"/>
        <result property="ptitle" column="ptitle"/>
        <result property="urevid" column="urevid"/>
        <result property="uPartner_id" column="uPartner_id"/>
        <result property="urecreate_time" column="urecreate_time"/>
        <result property="urtype" column="urtype"/>
    </resultMap>

  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Order" >
		insert into [order]
		(Pay_id,Service,User_id,Admin_id,Team_id,City_id,Card_id,State,Quantity,Realname,Mobile,Zipcode,Address,Express,Express_xx,Express_id,Express_no,Price,Money,Origin,Credit,Card,Fare,Remark,Create_time,Pay_time,IP_Address,result,fromdomain,refundtype,adminremark,orderscore,discount,totalscore,checkcode,disamount,disinfo,Parent_orderid,Partner_id,cashondelivery,returnmoney,rviewstate,rviewremarke,userremarke,CashParent_orderid,Partnerfare,refundTime)
		values
		(#Pay_id#,#Service#,#User_id#,#Admin_id#,#Team_id#,#City_id#,#Card_id#,#State#,#Quantity#,#Realname#,#Mobile#,#Zipcode#,#Address#,#Express#,#Express_xx#,#Express_id#,#Express_no#,#Price#,#Money#,#Origin#,#Credit#,#Card#,#Fare#,#Remark#,#Create_time#,#Pay_time#,#IP_Address#,#result#,#fromdomain#,#refundtype#,#adminremark#,#orderscore#,#discount#,#totalscore#,#checkcode#,#disamount#,#disinfo#,#Parent_orderid#,#Partner_id#,#cashondelivery#,#Returnmoney#,#rviewstate#,#rviewremarke#,#userremarke#,#CashParent_orderid#,#Partnerfare#,#refundTime#)
		<selectKey type="post" resultClass="System.Int32" property="Id">
          select @@identity as value
      </selectKey>
    </insert> 
    <update id="update" parameterClass="Order">
		update [Order] set
		Pay_id=#Pay_id#,Service=#Service#,User_id=#User_id#,Admin_id=#Admin_id#,Team_id=#Team_id#,City_id=#City_id#,Card_id=#Card_id#,State=#State#,Quantity=#Quantity#,Realname=#Realname#,Mobile=#Mobile#,Zipcode=#Zipcode#,Address=#Address#,Express=#Express#,Express_xx=#Express_xx#,Express_id=#Express_id#,Express_no=#Express_no#,Price=#Price#,Money=#Money#,Origin=#Origin#,Credit=#Credit#,Card=#Card#,Fare=#Fare#,Remark=#Remark#,Create_time=#Create_time#,Pay_time=#Pay_time#,IP_Address=#IP_Address#,result=#result#,fromdomain=#fromdomain#,refundtype=#refundtype#,adminremark=#adminremark#,orderscore=#orderscore#,discount=#discount#,totalscore=#totalscore#,checkcode=#checkcode#,disamount=#disamount#,disinfo=#disinfo#,Parent_orderid=#Parent_orderid#,Partner_id=#Partner_id#,cashondelivery=#cashondelivery#,returnmoney=#Returnmoney#,rviewstate=#rviewstate#,rviewremarke=#rviewremarke#,userremarke=#userremarke#,CashParent_orderid=#CashParent_orderid#,partnerfare=#Partnerfare#,refundTime=#refundTime#
		where Id=#Id#
	</update>
   
    <update id="updateExpress_id" parameterClass="Order">
      update [Order] set Express_id=#Express_id#
      where Id=#Id#
    </update>
    <update id="updateExpress_id_all" parameterClass="Order">
      update [Order] set Express_id=#Express_id#
      where Id in ($all_id$)
    </update>
    
    <update id="updateUpload" parameterClass="Order">
      update [Order] set Express_id=#Express_id#,Express_no=#Express_no#
      where Id=#Id#
    </update>

    <update id="UpdateOrder" parameterClass="Order">
      update [Order] set Quantity=#Quantity#,Remark=#Remark#,Realname=#Realname#,Mobile=#Mobile#,Address=#Address#,Zipcode=#Zipcode#,Origin=#Origin#,Fare=#Fare#
      where Id=#Id#
    </update>
    
    <update id="updatepaytime" parameterClass="Order">
      update [Order] set State=#State#,Pay_time=#Pay_time#
      where Id=#Id#
    </update>
    
    <update id="UpdateUnpayOrder" parameterClass="Order" resultClass="System.Int32">
      update [Order] set State='cancel' where <![CDATA[datediff(hh,Create_time,getdate())<=1]]> and State=#State# and User_id=#User_id#  and service is null
    </update>
    
    <update id="updatetotalamount" parameterClass="OrderFilter">
      update [user] set totalamount=amount from (select user_id,sum(Origin-fare) as amount
      from [order] where state='pay' group by user_id)t where t.user_id=[user].id
    </update>

    <update id="updatestate" parameterClass="Order">
        update [Order] set State='cancel' 
        where datediff(hh,Create_time,getdate())<![CDATA[<=1]]>  and State=#State# and User_id=#User_id# and service is null
    </update>

    <update id="updatefare" parameterClass="Order">
        update [Order] set Fare=#Fare#
        where Id=#Id#
    </update>

    <update id="updateorigin" parameterClass="Order">
        update [Order] set Origin=#Origin#
        where Id=#Id#
    </update>
    
    <delete id="delete" parameterClass="System.Int32">
      delete from [Order] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [Order]
    </sql>
	<select id="GetMaxid" parameterClass="System.Int32">
		select max(Id) from [Order]
	</select>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="Id">
          Id=#Id#
        </isNotNull>
        <isNotNull prepend="and" property="Pay_id">
          Pay_id=#Pay_id#
        </isNotNull>
        <isNotNull prepend="and" property="User_id">
          User_id=#User_id#
        </isNotNull>
        <isNotNull prepend="and" property="State">
          State=#State#
        </isNotNull>
		  <isNotNull prepend="and" property="City_id">
			  City_id=#City_id#
		  </isNotNull>
		  <isNotNull prepend="or" property="orState">
			  State=#orState#
		  </isNotNull>
		  <isNotNull prepend="and" property="UnState">
        <![CDATA[ 
          isnull(State,'')<>#UnState#
          ]]>
		  </isNotNull>
        <isNotNull prepend="and" property="Team_id">
          Team_id=#Team_id#
        </isNotNull>
        
        <isNotNull prepend="and" property="TeamOr">
          (Team_id=$TeamOr$ or Teamid=$TeamOr$)
        </isNotNull>

        <isNotNull prepend="and" property="StateIn">
          State in($StateIn$)
        </isNotNull>
        
        <isNotNull prepend="and" property="StateOr">
          State=#StateOr# and (Express_id=0 or len(Express_no)=0)
        </isNotNull>
        
        <isNotNull prepend="and" property="Realname">
          Realname=#Realname#
        </isNotNull>
        <isNotNull prepend="and" property="Mobile">
          Mobile=#Mobile#
        </isNotNull>
        <isNotNull prepend="and" property="Express">
          Express=#Express#
        </isNotNull>
        <isNotNull prepend="and" property="Express_xx">
          Express_xx=#Express_xx#
        </isNotNull>

        <isNotNull prepend="and" property="No_Express_xx">
          <![CDATA[ 
          isnull(Express_xx,'')<>#No_Express_xx#
          ]]>
        </isNotNull>
        
        <isNotNull prepend="and" property="Express_id">
          Express_id=#Express_id#
        </isNotNull>

        <isNotNull prepend="and" property="No_Express_id">
          <![CDATA[ 
          isnull(Express_id,'')<>#No_Express_id#
          ]]> 
        </isNotNull>
        
        <isNotNull prepend="and" property="Express_no">
          Express_no=#Express_no#
        </isNotNull>

        <isNotNull prepend="and" property="LenDa_Express_no">
          <![CDATA[
          len(Express_no)>#LenDa_Express_no#
          ]]> 
        </isNotNull>
        <isNotNull prepend="and" property="Len_Express_no">
          len(Express_no)= #Len_Express_no#
        </isNotNull>
        
        <isNotNull prepend="and" property="No_Service">
          <![CDATA[ 
          isnull(Service,'')<>#No_Service#
          ]]>
        </isNotNull>

        <isNotNull prepend="and" property="Service">
          Service = #Service#
        </isNotNull>
        
        <isNotNull prepend="and" property="FromCreate_time">
          <![CDATA[
          Create_time>=#FromCreate_time#
          ]]>
        </isNotNull>
        <isNotNull prepend="and" property="ToCreate_time">
          <![CDATA[
          Create_time<=#ToCreate_time#
          ]]>
        </isNotNull>
        <isNotNull prepend="and" property="FromPay_time">
          <![CDATA[
          Pay_time>=#FromPay_time#
          ]]>
        </isNotNull>
        <isNotNull prepend="and" property="ToPay_time">
          <![CDATA[
          Pay_time<=#ToPay_time#
          ]]>
        </isNotNull>
        <isNotNull prepend="and" property="Parent_orderid">
          Parent_orderid=#Parent_orderid#
        </isNotNull>
		  <isNotNull prepend="and" property="checkcode">
			  checkcode=#checkcode#
		  </isNotNull>
        <isNotNull prepend="and" property="Partner_id">
          Partner_id=#Partner_id#
        </isNotNull>
		  <isNotNull prepend="and" property="Address">
			  Address=#Address#
		  </isNotNull>
		  <isNotNull prepend="and" property="RviewstateIn">
			  rviewstate in($RviewstateIn$)
		  </isNotNull>
        <isNotNull prepend="and" property="Fare">
          Fare=#Fare#
        </isNotNull>
        <isNotNull prepend="and" property="Origin">
          Origin=#Origin#
        </isNotNull>
		  <isNotNull prepend="and" property="CashParent_orderid">
			  CashParent_orderid=#CashParent_orderid#
		  </isNotNull>
		  <isNotNull prepend="and" property="Team_In">
			  (Team_id=#Team_In# or id in(select order_id from orderdetail where teamid=#Team_In#))
		  </isNotNull>
        <isNotNull prepend="and" property="Incoupon">
          (Team_id=#Incoupon# or id in(select order_id from Coupon where Team_id=#Incoupon#))
        </isNotNull>
        <isNotNull prepend="and" property="NoCouponTeamID">
          (team_id=#NoCouponTeamID# and state='pay' and id not in(select order_id from coupon where team_id=#NoCouponTeamID#)
        </isNotNull>
        <isNotNull prepend="and" property="Wheresql1">
          ($Wheresql1$)
        </isNotNull>
        <isNotNull prepend="and" property="Wheresql2">
          ($Wheresql2$)
        </isNotNull>
        <isNotNull prepend="and" property="Wheresql3">
          ($Wheresql3$)
        </isNotNull>
        <isNotNull prepend="and" property="Wheresql4">
          ($Wheresql4$)
        </isNotNull>
      </dynamic>
    </sql>

    <select id="orderbyprint" parameterClass="System.Int32" resultClass="Order"  cacheModel="c">
      select t.Realname,t.Mobile,t.Zipcode,t.Address,t.Remark,t.result,[template_print].template_value,[template_print].id as printid, Express_no,t.Id as orderid,t.Team_id as teamid,t.Quantity as quantity from(select [Order].*,[Category].Ename from [Order]  left join [Category]  on([Order].Express_id=[Category].Id))t left join [template_print] on(t.Ename=[template_print].template_name) where t.Id=#Id#
    </select>
    
    <select id="selbyid1" parameterClass="OrderFilter" resultClass="Hashtable"  cacheModel="c">
      select * from (select team.partner_id,t.*,team.End_time from team inner join (select isnull(teamid,team_id) as teamid,
      [order].id as orderid,isnull(num,quantity) as num,mobile,pay_time from [order] left join [orderdetail]
      on([order].id=[orderdetail].order_id) where (team_id=#Team_id#
      or teamid=#Team_id#)  and (state='pay' or state='scorepay'))t
      on(team.id=teamid) where  team.delivery='coupon' and  partner_id=#Partner_id#
      and teamid=#Team_id#)tt order by Pay_time
    </select>
    <select id="selbyid2" parameterClass="OrderFilter" resultClass="Hashtable"  cacheModel="c">
      select * from (select team.partner_id,t.* from team inner join (select service,isnull(teamid,team_id) as teamid,[order].id as orderid,
      isnull(num,quantity) as num,state,mobile,realname,zipcode,address,pay_time,remark,isnull([orderdetail].result,
      [order].result)as result from [order] left join [orderdetail] on([order].id=[orderdetail].order_id) where
      (team_id=#Team_id# or teamid=#Team_id#)and (state='pay' or state='scorepay'))t on(team.id=teamid)
      where team.delivery='express' and partner_id=#Partner_id# and teamid=#Team_id#)tt order by Pay_time
    </select>
    <select id="selbyid3" parameterClass="OrderFilter" resultClass="Hashtable"  cacheModel="c">
      select * from (select team.partner_id,t.*,team.End_time from team inner join (select isnull(teamid,team_id) as teamid,[order].id as orderid,
      isnull(num,quantity) as num,mobile,pay_time from [order] left join [orderdetail] on([order].id=[orderdetail].order_id)
      where (team_id=#Team_id# or teamid=#Team_id#)  and (state='pay' or state='scorepay'))t on(team.id=teamid)
      where  team.delivery='pcoupon' and partner_id=#Partner_id# and teamid=#Team_id#)tt order by Pay_time
    </select>
    <select id="selorder" parameterClass="OrderFilter" resultClass="Hashtable"  cacheModel="c">
      select t.Id,t.Name,COUNT(*) as num from (select id,name from Category where zone='express')t
      left join [Order] on(t.Id=[Order].Express_id) where [Order].State='pay' and express='Y'
      and [Order].Express_id>0 and isnull([Order].Express_xx,'')!='已打印' group by t.Id,t.Name
    </select>

    <select id="sel" parameterClass="OrderFilter" resultClass="Hashtable"  cacheModel="c">
      select t.Id,t.Name,COUNT(*) as num from (select id,name from Category where zone='express')t left join [Order]
      on(t.Id=[Order].Express_id) where [Order].Partner_id=#Partner_id# and [Order].State='pay' and service!='cashondelivery'
      and express='Y' and [Order].Express_id>0 and isnull([Order].Express_xx,'')!='已打印' group by t.Id,t.Name
    </select>
    <select id="count" parameterClass="OrderFilter" resultClass="System.Int32" cacheModel="c">
      select count(1) from [Order]
      where Id=#Id# and Partner_id=#Partner_id#
    </select>

    <select id="sellnumber" parameterClass="OrderFilter" resultClass="System.Int32" cacheModel="c">
      select sum(isnull(num,quantity)) as num from [order] left join orderdetail on([order].id=orderdetail.order_id)
      <include refid="wheresql"/>
    </select>
    <select id="sendnumber" parameterClass="OrderFilter" resultClass="System.Int32" cacheModel="c">
      select sum(isnull(num,quantity)) as num from [order] left join orderdetail on([order].id=orderdetail.order_id)
      
      <include refid="wheresql"/>
    </select>
    <select id="ordertongji" parameterClass="OrderFilter" resultClass="Order"  cacheModel="c">
      select [Order].* from [Order] left join orderdetail on [Order].Id=orderdetail.Order_id
      <include refid="wheresql"/>
    </select>
    
    
    <select id="getbyid" parameterClass="System.Int32" resultClass="Order" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    
    <select id="gettop1byfilter" parameterClass="OrderFilter" resultClass="Order" cacheModel="c">
      select top 1
      * from [Order]
      <include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    
    <select id="getbyfilter" parameterClass="OrderFilter" resultClass="Order" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
     * from [Order]
    <include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="OrderFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Order]
     <include refid="wheresql"/>
    </select>
    <select id="GetBuyCount1" parameterClass="OrderFilter" resultClass="System.Int32" cacheModel="c">
      select sum(quantity) as n1 from [order]
      <include refid="wheresql"/>
    </select>
    <select id="getsumOrigin" parameterClass="OrderFilter" resultClass="System.Decimal" cacheModel="c">
		  select sum(Origin) as num  from  [order]
		  <include refid="wheresql"/>
	  </select>
    <select id="getbypage" resultClass="Order" parameterClass="OrderFilter" cacheModel="c">
     
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Order]
      <include refid="wheresql"/>
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>

    <select id="GetYx_TeamDown" resultClass="Order" parameterClass="OrderFilter">
        select o.Id,o.Team_id,o.Price,o.Fare,o.Origin,o.cashondelivery,o.Money,o.Credit,o.totalscore,o.State,o.Pay_time,o.Remark,o.Pay_id,o.result,o.Quantity,o.Service,u.Username,u.Email,u.Mobile,u.Realname,u.Zipcode,u.Address from [order] as o
        left join orderdetail as od
        on o.Id=od.order_id
        left join [user] as u
        on User_id=u.Id
        left join team as t
        on ISNULL(Teamid,Team_id)=t.id
        <dynamic prepend="where">
            <isNotNull prepend="and" property="strTeam_id">
                (o.Team_id=#strTeam_id# or od.teamid=#strTeam_id#)
            </isNotNull>
            <isNotNull prepend="and" property="sPay_time">
                <![CDATA[
                o.Pay_time>= #sPay_time#
                ]]>
            </isNotNull>
            <isNotNull prepend="and" property="ePay_time">
                <![CDATA[
                o.Pay_time <= #ePay_time#
                ]]>
            </isNotNull>
            <isNotNull prepend="and" property="sCreate_Time">
                <![CDATA[
                o.create_Time >= #sCreate_Time#
                ]]>
            </isNotNull>
            <isNotNull prepend="and" property="eCreate_Time">
                <![CDATA[
                o.create_Time <= #eCreate_Time#
                ]]>
            </isNotNull>
            <isNotEmpty  prepend="and" property="where1">
               ($where1$)
            </isNotEmpty >
            <isNotEmpty prepend="and" property="where2">
                ($where2$)
            </isNotEmpty>
            <isNotEmpty prepend="and" property="where3">
                ($where3$)
            </isNotEmpty>
            <isNotNull prepend="and" property="sPartner_id">
                t.partner_id =#sPartner_id#
            </isNotNull>
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </dynamic>
    </select>

    <select id="getunpay" parameterClass="OrderFilter" resultClass="System.Int32"  cacheModel="c">
      select count(*) from [Order] left join [orderdetail] on([Order].Id=[orderdetail].Order_id)
      
      <include refid="wheresql" />

    </select>

    <select id="getcount2" parameterClass="OrderFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from (select t.*,Category.name as Category_name from (select [Order].Id ,[Order].Team_id as order_team_id,
      [Order].result,[order].Address,[order].remark as order_remark,[User_id],Email,Username,
      Quantity,Origin,Service,Credit,[order].Money as order_money,cashondelivery,Express,[Order].Create_time as order_create_time,
      [order].Parent_orderid as order_parent_orderid,[order].Partner_id ,Pay_time,[user].mobile as user_mobile,[State],
      Team_id,pay_id,Express_no,[order].Mobile,Express_id,Express_xx from [Order] inner join [User]
      on([Order].[User_id]=[User].Id))t  left join [Category] on(Category.id=express_id))t
      <include refid="wheresql"/>
    </select>
    <select id="getbypage2" resultClass="Order" parameterClass="OrderFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM (select t.*,Category.name as Category_name from (select [Order].Id ,[Order].Team_id as order_team_id,
      [Order].result,[order].Address,[order].remark as order_remark,[User_id],Email,Username,
      Quantity,Origin,Service,Credit,[order].Money as order_money,cashondelivery,Express,[Order].Create_time as order_create_time,
      [order].Parent_orderid as order_parent_orderid,[order].Partner_id ,Pay_time,[user].mobile as user_mobile,[State],
      Team_id,pay_id,Express_no,[order].Mobile,Express_id,Express_xx from [Order] inner join [User]
      on([Order].[User_id]=[User].Id))t  left join [Category] on(Category.id=express_id))t
      <include refid="wheresql"/>
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
    <select id="getbranchcount" parameterClass="OrderFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from $table$
      <include refid="wheresql"/>
    </select>

    <select id="getbranchpage" resultClass="Order" parameterClass="OrderFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM $table$
      <include refid="wheresql"/>
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
    <select id="selcountbranch" resultClass="System.Int32" parameterClass="OrderFilter" cacheModel="c">
      select count(1) from [Order],orderdetail
      <include refid="wheresql"/>
     
    </select>
      <select id="getpayprice" parameterClass="OrderFilter" resultClass="Order"  cacheModel="c">
          select origin,[user].money as user_money from [order] inner join [user] on([order].user_id=[user].id)
          <include refid="wheresql" />
      </select>

    <select id="getplteamcount" parameterClass="OrderFilter" resultClass="System.Int32" cacheModel="c">
        select count(*) from
        (select Team_id as Team_id from [Order] as tt where (State='pay'or State='scorepay') and [User_id]=#userid# and Team_id != 0 union select Teamid from orderdetail where order_id in(select id from [order] where (State='pay'or State='scorepay') and [User_id]=#userid#)) v_tt left join Userreview on v_tt.Team_id = Userreview.Team_id and User_id =#userid# and (Userreview.Partner_id=0 or Userreview.Partner_id is null)
        <include refid="wheresql"/>
    </select>
    <select id="getplteam" resultClass="Order" parameterClass="OrderFilter" cacheModel="c">
        WITH datatable AS
        (
        SELECT v_tt.Team_id as vtid,Userreview.id as urid,Userreview.create_time as ur_create_time,
        ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
        FROM
        (select Team_id as Team_id from [Order] as tt where (State='pay'or State='scorepay') and [User_id]=#userid# and Team_id != 0 union select Teamid from orderdetail where order_id in(select id from [order] where (State='pay'or State='scorepay') and [User_id]=#userid#)) v_tt left join Userreview on v_tt.Team_id = Userreview.Team_id and User_id =#userid# and (Userreview.Partner_id=0 or Userreview.Partner_id is null)
        <include refid="wheresql"/>
        )
        SELECT *
        FROM datatable
        WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>

      <select id="getpartnercount" parameterClass="OrderFilter" resultClass="System.Int32" cacheModel="c">
          select count(*) from
          (select Team_id as Team_id from [Order] as tt where (State='pay'or State='scorepay') and tt.[User_id]=#userid# and Team_id != 0 union select Teamid from orderdetail where order_id in(select id from [order] where (State='pay'or State='scorepay') and [order].[User_id]=#userid#)) v_tt left join Team on v_tt.Team_id = Team.id inner join Partner on Partner.id = Team.Partner_id and Team.Partner_id != 0 left join Userreview on Team.Partner_id = Userreview.Partner_id and Userreview.[Type] = 'partner' and Userreview.[User_id]=#userid# and Userreview.Team_id = v_tt.Team_id
          <include refid="wheresql"/>
      </select>
      <select id="getpartner" resultClass="Order" parameterClass="OrderFilter" cacheModel="c">
          WITH datatable AS
          (
          SELECT v_tt.Team_id as tid,Team.Title as ttitle,Team.Partner_id as tpartnerid,Partner.Title as ptitle,Userreview.id as urevid,Userreview.Partner_id as uPartner_id,Userreview.create_time as urecreate_time,Userreview.[Type] as urtype,
          ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
          FROM
          (select Team_id as Team_id from [Order] as tt where (State='pay'or State='scorepay') and tt.[User_id]=#userid# and Team_id != 0 union select Teamid from orderdetail where order_id in(select [order].Id from [order] where (State='pay'or State='scorepay') and [order].[User_id]=#userid#)) v_tt left join Team on v_tt.Team_id = Team.Id inner join [Partner] on [Partner].Id = Team.Partner_id and Team.Partner_id != 0 left join Userreview on Team.Partner_id = Userreview.Partner_id and Userreview.[Type] = 'partner' and Userreview.[User_id]=#userid# and Userreview.Team_id = v_tt.Team_id
          <include refid="wheresql"/>
          )
          SELECT *
          FROM datatable
          WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
      </select>
      
  </statements>
</sqlMap>

