<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="PageMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Page" type="AS.GroupOn.Domain.Spi.Page,AS.GroupOn" />
    <typeAlias alias="PageFilter" type="AS.GroupOn.DataAccess.Filters.PageFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Page" >
      insert into [Page]
      (id,value)
      values
      (#Id#,#Value#)
    </insert>
    <update id="update" parameterClass="Page">
      update [Page] set
      value=#Value#
      where Id=#Id#
    </update>
    <delete id="delete" parameterClass="System.String">
      delete from [Page] where Id=#value#
    </delete>
    <sql id="selectsql">
      select * from [Page]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="Id">
          Id=#Id#
        </isNotNull>
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.String" resultClass="Page" cacheModel="c">
      <include refid="selectsql" />
      where Id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="PageFilter" resultClass="Page" cacheModel="c">
      select top 1
      * from [Page]
      <include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="PageFilter" resultClass="Page" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Page]
      <include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="PageFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Page]
      <include refid="wheresql"/>
    </select>
    <select id="getbypage" resultClass="Page" parameterClass="PageFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Page]
      <include refid="wheresql"/>
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>