<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="PartnerMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Partner" type="AS.GroupOn.Domain.Spi.Partner,AS.GroupOn" />
    <typeAlias alias="PartnerFilter" type="AS.GroupOn.DataAccess.Filters.PartnerFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Partner" >
      insert into [Partner]
      (Username,Password,Title,Group_id,Homepage,City_id,Bank_name,Bank_no,Bank_user,Location,Contact,Image,Image1,Image2,Phone,Address,Other,Mobile,[Open],Enable,Head,User_id,Create_time,area,point,Secret,sale_id,saleid,verifymobile)
      values
      (#Username#,#Password#,#Title#,#Group_id#,#Homepage#,#City_id#,#Bank_name#,#Bank_no#,#Bank_user#,#Location#,#Contact#,#Image#,#Image1#,#Image2#,#Phone#,#Address#,#Other#,#Mobile#,#Open#,#Enable#,#Head#,#User_id#,#Create_time#,#area#,#point#,#Secret#,#sale_id#,#saleid#,#verifymobile#)
      <selectKey type="post" resultClass="System.Int32" property="Id">
          select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Partner">
      update [Partner] set
      Username=#Username#,Password=#Password#,Title=#Title#,Group_id=#Group_id#,Homepage=#Homepage#,City_id=#City_id#,Bank_name=#Bank_name#,Bank_no=#Bank_no#,Bank_user=#Bank_user#,Location=#Location#,Contact=#Contact#,Image=#Image#,Image1=#Image1#,Image2=#Image2#,Phone=#Phone#,Address=#Address#,Other=#Other#,Mobile=#Mobile#,[Open]=#Open#,Head=#Head#,User_id=#User_id#,area=#area#,point=#point#,Secret=#Secret#,sale_id=#sale_id#,saleid=#saleid#,verifymobile=#verifymobile#
      where Id=#Id#
    </update>

    <update id="updatesaleid" parameterClass="Partner">
      update [Partner] set
         saleid=#saleid#
      where Id=#Id#
    </update>
    <update id="updateImage1" parameterClass="Partner">
      update [Partner] set
      Image1=#Image1#
      where Id=#Id#
    </update>
    <update id="updateImage2" parameterClass="Partner">
      update [Partner] set
      Image2=#Image2#
      where Id=#Id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Partner] where Id=#Id#
    </delete>
    <sql id="selectsql">
      select * from [Partner]
    </sql>
      <select id="getbyid" parameterClass="System.Int32" resultClass="Partner" cacheModel="c">
          <include refid="selectsql" />
          where Id=#Id#
      </select>
    
    <select id="getsaleid" parameterClass="PartnerFilter" resultClass="System.Int32" cacheModel="c">
      select count(1) from partner where saleid like '%'+#saleid#+'%'  and Id=#Id#
    </select>
    
    <select id="gettop1byfilter" parameterClass="PartnerFilter" resultClass="Partner" cacheModel="c">
      select top 1
      * from [partner]
      <dynamic prepend="where">
      <isNotNull prepend="and" property="Id">
        Id=#Id#
      </isNotNull>
      <isNotNull prepend="and" property="Username">
        Username=#Username#
      </isNotNull>
      <isNotNull prepend="and" property="Title">
          Title like '%'+#Title#+'%'
      </isNotNull>
      <isNotNull prepend="and" property="Titles">
        Title=#Titles#
      </isNotNull>
      <isNotNull prepend="and" property="Group_id">
        Group_id=#Group_id#
      </isNotNull>
      <isNotNull prepend="and" property="Open">
          
            [Open]=#Open#
       
      </isNotNull>
      <isNotNull prepend="and" property="Enable">
        Enable=#Enable#
      </isNotNull>
      <isNotNull prepend="and" property="FromCreate_time">
        <![CDATA[
          Create_time>=#FromCreate_time#
          ]]>
      </isNotNull>
      <isNotNull prepend="and" property="ToCreate_time">
        <![CDATA[
          Create_time<=#ToCreate_time#
          ]]>
      </isNotNull>
      <isNotNull prepend="and" property="sale_id">
        sale_id=#sale_id#
      </isNotNull>
      <isNotNull prepend="and" property="saleid">
          saleid like '%'+#saleid#+'%'
      </isNotNull>
    </dynamic>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
        <isNotNull prepend="and" property="City_id">
            City_id = #City_id#
        </isNotNull>
    </select>
    <select id="getbyfilter" parameterClass="PartnerFilter" resultClass="Partner" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
     * from [partner]
      <dynamic prepend="where">
        <isNotNull prepend="and" property="Id">
          Id = #Id#
        </isNotNull>
        <isNotNull prepend="and" property="Password">
          Password = #Password#
        </isNotNull>
        <isNotNull prepend="and" property="Username">
          Username=#Username#
        </isNotNull>
          <isNotNull prepend="and" property="Title">
              Title like '%'+#Title#+'%'
          </isNotNull>
          <isNotNull prepend="and" property="Titlelike">
			(Title like '%'+#Titlelike#+'%' or id like '%'+#Titlelike#+'%')
		  </isNotNull>
          <isNotNull prepend="and" property="Titles">
              Title=#Titles#
          </isNotNull>
        <isNotNull prepend="and" property="Group_id">
          Group_id=#Group_id#
        </isNotNull>
        <isNotNull prepend="and" property="Open">
          [Open]=#Open#
        </isNotNull>
        <isNotNull prepend="and" property="Enable">
          Enable=#Enable#
        </isNotNull>
        <isNotNull prepend="and" property="FromCreate_time">
          <![CDATA[
          Create_time>=#FromCreate_time#
          ]]>
        </isNotNull>
        <isNotNull prepend="and" property="ToCreate_time">
          <![CDATA[
          Create_time<=#ToCreate_time#
          ]]>
        </isNotNull>
        <isNotNull prepend="and" property="sale_id">
          sale_id=#sale_id#
        </isNotNull>
          <isNotNull prepend="and" property="saleid">
              saleid like '%'+#saleid#+'%'
          </isNotNull>
          <isNotNull prepend="and" property="City_id">
              City_id = #City_id#
          </isNotNull>
      </dynamic>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="PartnerFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Partner]
      <dynamic prepend="where">
      <isNotNull prepend="and" property="Id">
        Id=#Id#
      </isNotNull>
        <isNotNull prepend="and" property="NotId">
          Id!=#NotId#
        </isNotNull>
        <isNotNull prepend="and" property="par_Id">
            Id in ($par_Id$)
        </isNotNull>
      <isNotNull prepend="and" property="Username">
        Username=#Username#
      </isNotNull>
      <isNotNull prepend="and" property="Title">
           Title like '%'+#Title#+'%'
      </isNotNull>
      <isNotNull prepend="and" property="Title">
          Title =#Title#
      </isNotNull>
        <isNotNull prepend="and" property="Contact">
          Contact =#Contact#
        </isNotNull>
      <isNotNull prepend="and" property="Group_id">
        Group_id=#Group_id#
      </isNotNull>
      <isNotNull prepend="and" property="Open">
        [Open]=#Open#
      </isNotNull>
      <isNotNull prepend="and" property="Enable">
        Enable=#Enable#
      </isNotNull>
      <isNotNull prepend="and" property="FromCreate_time">
        <![CDATA[
          Create_time>=#FromCreate_time#
          ]]>
      </isNotNull>
      <isNotNull prepend="and" property="ToCreate_time">
        <![CDATA[
          Create_time<=#ToCreate_time#
          ]]>
      </isNotNull>
      <isNotNull prepend="and" property="sale_id">
        sale_id=#sale_id#
      </isNotNull>
      <isNotNull prepend="and" property="saleid">
        saleid like '%'+#saleid#+'%'
      </isNotNull>
          <isNotNull prepend="and" property="City_id">
              City_id = #City_id#
          </isNotNull>
    </dynamic>
    </select>
    <select id="getbypage" resultClass="Partner" parameterClass="PartnerFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Partner]
      <dynamic prepend="where">
      <isNotNull prepend="and" property="Id">
        Id=#Id#
      </isNotNull>
        <isNotNull prepend="and" property="Title">
          Title =#Title#
        </isNotNull>
        <isNotNull prepend="and" property="Contact">
          Contact =#Contact#
        </isNotNull>
      <isNotNull prepend="and" property="Username">
        Username=#Username#
      </isNotNull>
      <isNotNull prepend="and" property="par_Id">
          Id in ($par_Id$)
      </isNotNull>
      <isNotNull prepend="and" property="Title">
          Title like '%'+#Title#+'%'
      </isNotNull>
      <isNotNull prepend="and" property="Group_id">
        Group_id=#Group_id#
      </isNotNull>
      <isNotNull prepend="and" property="Open">
        [Open]=#Open#
      </isNotNull>
      <isNotNull prepend="and" property="Enable">
        Enable=#Enable#
      </isNotNull>
      <isNotNull prepend="and" property="FromCreate_time">
        <![CDATA[
          Create_time>=#FromCreate_time#
          ]]>
      </isNotNull>
      <isNotNull prepend="and" property="ToCreate_time">
        <![CDATA[
          Create_time<=#ToCreate_time#
          ]]>
      </isNotNull>
      <isNotNull prepend="and" property="sale_id">
        sale_id=#sale_id#   
      </isNotNull>
      <isNotNull prepend="and" property="saleid">
          saleid like '%'+#saleid#+'%'
       </isNotNull>
    <isNotNull prepend="and" property="City_id">
        City_id = #City_id#
    </isNotNull>
    </dynamic>
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
    <select id="count" parameterClass="PartnerFilter" resultClass="System.Int32" cacheModel="c">
      select count(1) from $table$
    </select>
    <select id="page" resultClass="Partner" parameterClass="PartnerFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM $table$
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>