<?xml version="1.0" encoding="utf-8" ?>
<!--站外优惠劵-->
<sqlMap namespace="PcouponMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <alias>
        <typeAlias alias="Pcoupon" type="AS.GroupOn.Domain.Spi.Pcoupon,AS.GroupOn" />
        <typeAlias alias="PcouponFilter" type="AS.GroupOn.DataAccess.Filters.PcouponFilter,AS.GroupOn" />
    </alias>
    <cacheModels>
        <cacheModel id="c" implementation="MEMORY" readOnly="true">
            <flushInterval  seconds="3" />
            <flushOnExecute statement="insert"/>
            <flushOnExecute statement="update"/>
            <flushOnExecute statement="delete"/>
            <property name="CacheSize" value="10000" />
        </cacheModel>
    </cacheModels>
    <statements>
        <insert id="insert" parameterClass="Pcoupon" >
			insert into [Pcoupon]
			(number,userid,partnerid,teamid,create_time,buy_time,state,start_time,expire_time,orderid,sms,sms_time)
			values
			(#number#,#userid#,#partnerid#,#teamid#,#create_time#,#buy_time#,#state#,#start_time#,#expire_time#,#orderid#,#sms#,#sms_time#)
			<selectKey type="post" resultClass="System.Int32" property="id">
                select @@identity as value
            </selectKey>
        </insert>
        <update id="update" parameterClass="Pcoupon">
			update [Pcoupon] set
			number=#number#,userid=#userid#,partnerid=#partnerid#,teamid=#teamid#,create_time=#create_time#,buy_time=#buy_time#,state=#state#,start_time=#start_time#,expire_time=#expire_time#,orderid=#orderid#,sms=#sms#,sms_time=#sms_time#
			where id=#id#
		</update>
        <delete id="delete" parameterClass="System.Int32">
            delete from [Pcoupon] where id=#value#
        </delete>
        <sql id="selectsql">
            select * from [Pcoupon]
        </sql>
        <sql id="wheresql">
            <dynamic prepend="where">
				<isNotNull prepend="and" property="id">
					id=#id#
				</isNotNull>
                <isNotNull prepend="and" property="userid">
					userid=#userid#
				</isNotNull>
				<isNotNull prepend="and" property="orderid">
					orderid=#orderid#
				</isNotNull>
                <isNotNull prepend="and" property="teamid">
					teamid=#teamid#
				</isNotNull>
                <isNotNull prepend="and" property="partnerid">
					partnerid=#partnerid#
				</isNotNull>
				<isNotNull prepend="and" property="inOrderid">
					orderid in (select id from [Order] where City_id=#inOrderid#)
				</isNotNull>
                <isNotNull prepend="and" property="number">
					number=#number#    <!--优惠劵号-->
                </isNotNull>
                <isNotNull prepend="and" property="state">
					state=#state#      <!--优惠券状态是否被购买 nobuy(默认),buy-->
                </isNotNull>
                <isNotNull prepend="and" property="FromCreate_time">
                    <![CDATA[
                    create_time>=#FromCreate_time#
                    ]]>  <!--生成时间-->
                </isNotNull>
                <isNotNull prepend="and" property="ToCreate_time">
                    <![CDATA[
                    create_time<=#ToCreate_time#
                    ]]>
                </isNotNull>
                <isNotNull prepend="and" property="FromBuy_time">
                    <![CDATA[
                    buy_time>=#FromBuy_time#
                    ]]>  <!--购买时间-->
                </isNotNull>
                <isNotNull prepend="and" property="ToBuy_time">
                    <![CDATA[
                    buy_time<=#ToBuy_time#
                    ]]>
                </isNotNull>
                <isNotNull prepend="and" property="FromStart_time">
                    <![CDATA[
                    start_time>=#FromStart_time#
                    ]]>  <!--优惠券开始时间-->
                </isNotNull>
                <isNotNull prepend="and" property="ToStart_time">
                    <![CDATA[
                    start_time<=#ToStart_time#
                    ]]>
                </isNotNull>
                <isNotNull prepend="and" property="FromExpire_time">
                    <![CDATA[
                    expire_time>=#FromExpire_time#
                    ]]>  <!--优惠券结束时间-->
                </isNotNull>
                <isNotNull prepend="and" property="ToExpire_time">
                    <![CDATA[
                    expire_time<=#ToExpire_time#
                    ]]>
                </isNotNull>
            </dynamic>
        </sql>

      <select id="selbyid1" parameterClass="PcouponFilter" resultClass="System.Int32" cacheModel="c">
		  select count(c.id) from pcoupon c inner join team t on c.teamid=t.id  where  t.delivery='pcoupon'
		  and c.partnerid=#partnerid#
		  and c.teamid=#teamid#
	  </select>
      <select id="selbyid2" parameterClass="PcouponFilter" resultClass="System.Int32" cacheModel="c">
		  select count(c.id) from pcoupon c inner join team t on c.teamid=t.id
		  where  t.delivery='pcoupon' and c.state='buy' and
		  c.partnerid=#partnerid# and c.teamid=#teamid#
	  </select>
      <select id="selbyid3" parameterClass="PcouponFilter" resultClass="System.Int32" cacheModel="c">
		  select count(c.id) from pcoupon c inner join team t on c.teamid=t.id
		  where  t.delivery='pcoupon' and c.state='nobuy'
		  and c.partnerid=#partnerid# and c.teamid=#teamid#
	  </select>

      <select id="getbyid" parameterClass="System.Int32" resultClass="Pcoupon" cacheModel="c">
            <include refid="selectsql" />
            where id=#value#
        </select>
        <select id="gettop1byfilter" parameterClass="PcouponFilter" resultClass="Pcoupon" cacheModel="c">
            select top 1
            * from [Pcoupon]
            <include refid="wheresql" />
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>
        <select id="getbyfilter" parameterClass="PcouponFilter" resultClass="Pcoupon" cacheModel="c">
            select
            <isNotNull property="Top">
                top $Top$
            </isNotNull>
            * from [Pcoupon]
            <include refid="wheresql" />
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>
        <select id="getcount" parameterClass="PcouponFilter" resultClass="System.Int32" cacheModel="c">
            select count(*) from [Pcoupon]
            <include refid="wheresql" />
        </select>

      <select id="selectcount" parameterClass="PcouponFilter" resultClass="System.Int32" cacheModel="c">
		  select count(id) from pcoupon where partnerid=#partnerid#
		  and teamid=#teamid#
	  </select>
        <select id="getbypage" resultClass="Pcoupon" parameterClass="PcouponFilter" cacheModel="c">
            WITH datatable AS
            (
            SELECT *,
            ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
            FROM [Pcoupon]
            <include refid="wheresql" />
            )
            SELECT *
            FROM datatable
            WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
        </select>
      <select id="getcount2" parameterClass="PcouponFilter" resultClass="System.Int32" cacheModel="c">
        select count(*) from (SELECT   [User].Username, [User].Email, Team.Title,team.city_id, pcoupon.*
        FROM pcoupon LEFT OUTER JOIN Team ON pcoupon.teamid = Team.Id LEFT OUTER JOIN [User] ON pcoupon.userid = [User].Id)t
        <include refid="wheresql" />
      </select>
      <select id="getbypage2" resultClass="Pcoupon" parameterClass="PcouponFilter" cacheModel="c">
        WITH datatable AS
        (
        select *,
        ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
        FROM  (SELECT   [User].Username, [User].Email, Team.Title,team.city_id, pcoupon.*
        FROM pcoupon LEFT OUTER JOIN Team ON pcoupon.teamid = Team.Id LEFT OUTER JOIN [User] ON pcoupon.userid = [User].Id)t
        <include refid="wheresql" />
        )
        SELECT *
        FROM datatable
        WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
      </select>
      <select id="countpcoupon" parameterClass="PcouponFilter" resultClass="System.Int32" cacheModel="c">
        select count(*) from $table$
        <include refid="wheresql" />
      </select>
      <select id="pagerpcoupon" resultClass="Pcoupon" parameterClass="PcouponFilter" cacheModel="c">
        WITH datatable AS
        (
        select *,
        ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
        FROM  $table$
        <include refid="wheresql" />
        )
        SELECT *
        FROM datatable
        WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
      </select>
    </statements>
</sqlMap>