<?xml version="1.0" encoding="utf-8" ?>
<!--促销活动规则-->
<sqlMap namespace="Promotion_rulesMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <alias>
        <typeAlias alias="Promotion_rules" type="AS.GroupOn.Domain.Spi.Promotion_rules,AS.GroupOn" />
        <typeAlias alias="Promotion_rulesFilter" type="AS.GroupOn.DataAccess.Filters.Promotion_rulesFilter,AS.GroupOn" />
    </alias>
    <cacheModels>
        <cacheModel id="c" implementation="MEMORY" readOnly="true">
            <flushInterval  seconds="3" />
            <flushOnExecute statement="insert"/>
            <flushOnExecute statement="update"/>
            <flushOnExecute statement="delete"/>
            <property name="CacheSize" value="10000" />
        </cacheModel>
    </cacheModels>
    <statements>
        <insert id="insert" parameterClass="Promotion_rules" >
            insert into [Promotion_rules]
            (full_money,typeid,feeding_amount,start_time,end_time,sort,rule_description,enable,free_shipping,deduction,activtyid)
            values
            (#full_money#,#typeid#,#feeding_amount#,#start_time#,#end_time#,#sort#,#rule_description#,#enable#,#free_shipping#,#deduction#,#activtyid#)
            <selectKey type="post" resultClass="System.Int32" property="id">
                select @@identity as value
            </selectKey>
        </insert>
        <update id="update" parameterClass="Promotion_rules">
            update [Promotion_rules] set
            full_money=#full_money#,typeid=#typeid#,feeding_amount=#feeding_amount#,start_time=#start_time#,end_time=#end_time#,sort=#sort#,rule_description=#rule_description#,enable=#enable#,free_shipping=#free_shipping#,deduction=#deduction#,activtyid=#activtyid#
            where id=#id#
        </update>
        <delete id="delete" parameterClass="System.Int32">
            delete from [Promotion_rules] where id=#value#
        </delete>
        <sql id="selectsql">
            select * from [Promotion_rules]
        </sql>
        <sql id="wheresql">
            <dynamic prepend="where">
                <isNotNull prepend="and" property="enable">
                    enable=#enable#   <!--是否启用-->
                </isNotNull>
                <isNotNull prepend="and" property="activtyid">
                    activtyid=#activtyid#
                </isNotNull>
                <isNotNull prepend="and" property="Fromend_time">
                    <![CDATA[
                      end_time>=#Fromend_time#
                    ]]>
                </isNotNull>
                <isNotNull prepend="and" property="Tostart_time">
                    <![CDATA[
                      start_time<=#Tostart_time#
                    ]]>
                </isNotNull>
                <isNotNull prepend="and" property="Tofull_money">
                    <![CDATA[
                      full_money<=#Tofull_money#
                    ]]>
                </isNotNull>
            </dynamic>
        </sql>
        <select id="getbyid" parameterClass="System.Int32" resultClass="Promotion_rules" cacheModel="c">
            <include refid="selectsql" />
            where id=#value#
        </select>
        <select id="gettop1byfilter" parameterClass="Promotion_rulesFilter" resultClass="Promotion_rules" cacheModel="c">
            select top 1
            * from [Promotion_rules]
            <include refid="wheresql" />
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>
        <select id="getbyfilter" parameterClass="Promotion_rulesFilter" resultClass="Promotion_rules" cacheModel="c">
            select
            <isNotNull property="Top">
                top $Top$
            </isNotNull>
            * from [Promotion_rules]
            <include refid="wheresql" />
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>
        <select id="getcount" parameterClass="Promotion_rulesFilter" resultClass="System.Int32" cacheModel="c">
            select count(*) from [Promotion_rules]
            <include refid="wheresql" />
        </select>
        <select id="getbypage" resultClass="Promotion_rules" parameterClass="Promotion_rulesFilter" cacheModel="c">
            WITH datatable AS
            (
            SELECT *,
            ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
            FROM [Promotion_rules]
            <include refid="wheresql" />
            )
            SELECT *
            FROM datatable
            WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
        </select>
    </statements>
</sqlMap>