<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="SalesMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Sales" type="AS.GroupOn.Domain.Spi.Sales,AS.GroupOn" />
    <typeAlias alias="SalesFilter" type="AS.GroupOn.DataAccess.Filters.SalesFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Sales">
      insert into [Sales]
      (username,password,realname,contact)
      values
      (#username#,#password#,#realname#,#contact#)
      <selectKey type="post" resultClass="System.Int32" property="id">
        select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Sales">
      update [Sales] set
      username=#username#,password=#password#,realname=#realname#,contact=#contact#
      where id=#id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Sales] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [Sales]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="id">
          id=#id#
        </isNotNull>
        <isNotNull prepend="and" property="username">
          username=#username#
        </isNotNull>
        <isNotNull prepend="and" property="password">
          password=#password#
        </isNotNull>
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="Sales" cacheModel="c">
      <include refid="selectsql"/>
      where id=#id#
    </select>
    <select id="gettop1byfilter" parameterClass="SalesFilter" resultClass="Sales" cacheModel="c">
      select top 1
      * from [Sales]
      <include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="SalesFilter" resultClass="Sales" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Sales]
      <include refid="wheresql"/>
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="SalesFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Sales]
      <include refid="wheresql"/>
    </select>
    <select id="getbypage" resultClass="Sales" parameterClass="SalesFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Sales]
      <include refid="wheresql"/>
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>





</sqlMap>