<?xml version="1.0" encoding="utf-8" ?>
<!--促销活动-->
<sqlMap namespace="Sales_promotionMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <alias>
        <typeAlias alias="Sales_promotion" type="AS.GroupOn.Domain.Spi.Sales_promotion,AS.GroupOn" />
        <typeAlias alias="Sales_promotionFilter" type="AS.GroupOn.DataAccess.Filters.Sales_promotionFilter,AS.GroupOn" />
    </alias>
    <cacheModels>
        <cacheModel id="c" implementation="MEMORY" readOnly="true">
            <flushInterval  seconds="3" />
            <flushOnExecute statement="insert"/>
            <flushOnExecute statement="update"/>
            <flushOnExecute statement="delete"/>
            <property name="CacheSize" value="10000" />
        </cacheModel>
    </cacheModels>
    <statements>
        <insert id="insert" parameterClass="Sales_promotion" >
            insert into [Sales_promotion]
            (name,description,enable,start_time,end_time,sort)
            values
            (#name#,#description#,#enable#,#start_time#,#end_time#,#sort#)
            <selectKey type="post" resultClass="System.Int32" property="id">
                select @@identity as value
            </selectKey>
        </insert>
        <update id="update" parameterClass="Sales_promotion">
            update [Sales_promotion] set
            name=#name#,description=#description#,enable=#enable#,start_time=#start_time#,end_time=#end_time#,sort=#sort#
            where id=#id#
        </update>
        <delete id="delete" parameterClass="System.Int32">
            delete from [Sales_promotion] where id=#id#
        </delete>
        <sql id="selectsql">
            select * from [Sales_promotion]
        </sql>
        <sql id="wheresql">
            <dynamic prepend="where">
                <isNotNull prepend="and" property="enable">
                    enable=#enable#
                </isNotNull>
                <isNotNull prepend="and" property="Fromstart_time">
                    <![CDATA[
                      start_time>=#Fromstart_time#
                    ]]>
                </isNotNull>
                <isNotNull prepend="and" property="Tostart_time">
                    <![CDATA[
                      start_time<=#Tostart_time#
                    ]]>
                </isNotNull>

              <isNotNull prepend="and" property="start_time">
                <![CDATA[
                      start_time<=#start_time#
               ]]>
              </isNotNull>

              <isNotNull prepend="and" property="end_time">
                <![CDATA[
                      end_time>=#end_time#
               ]]>
              </isNotNull>

            </dynamic>
        </sql>
        <select id="getbyid" parameterClass="System.Int32" resultClass="Sales_promotion" cacheModel="c">
            <include refid="selectsql" />
            where id=#id#
        </select>
        <select id="gettop1byfilter" parameterClass="Sales_promotionFilter" resultClass="Sales_promotion" cacheModel="c">
            select top 1
            * from [Sales_promotion]
            <include refid="wheresql" />
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>
        <select id="getbyfilter" parameterClass="Sales_promotionFilter" resultClass="Sales_promotion" cacheModel="c">
            select
            <isNotNull property="Top">
                top $Top$
            </isNotNull>
            * from [Sales_promotion]
            <include refid="wheresql" />
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>
        <select id="getcount" parameterClass="Sales_promotionFilter" resultClass="System.Int32" cacheModel="c">
            select count(*) from [Sales_promotion]
            <include refid="wheresql" />
        </select>
        <select id="getbypage" resultClass="Sales_promotion" parameterClass="Sales_promotionFilter" cacheModel="c">
            WITH datatable AS
            (
            SELECT *,
            ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
            FROM [Sales_promotion]
            <include refid="wheresql" />
            )
            SELECT *
            FROM datatable
            WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
        </select>
    </statements>
</sqlMap>