<?xml version="1.0" encoding="utf-8" ?>
<!--短信订阅-->
<sqlMap namespace="SmssubscribeMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <alias>
        <typeAlias alias="Smssubscribe" type="AS.GroupOn.Domain.Spi.Smssubscribe,AS.GroupOn" />
        <typeAlias alias="SmssubscribeFilter" type="AS.GroupOn.DataAccess.Filters.SmssubscribeFilter,AS.GroupOn" />
    </alias>
    <cacheModels>
        <cacheModel id="c" implementation="MEMORY" readOnly="true">
            <flushInterval  seconds="3" />
            <flushOnExecute statement="insert"/>
            <flushOnExecute statement="update"/>
            <flushOnExecute statement="delete"/>
            <property name="CacheSize" value="10000" />
        </cacheModel>
    </cacheModels>
    <statements>
        <insert id="insert" parameterClass="Smssubscribe" >
            insert into [Smssubscribe]
            (Mobile,City_id,Secret,Enable)
            values
            (#Mobile#,#City_id#,#Secret#,#Enable#)
            <selectKey type="post" resultClass="System.Int32" property="Id">
                select @@identity as value
            </selectKey>
        </insert>
        <update id="update" parameterClass="Smssubscribe">
            update [Smssubscribe] set
            Mobile=#Mobile#,City_id=#City_id#,Secret=#Secret#,Enable=#Enable#
            where Id=#Id#
        </update>
      
      
       <update id="updateSecret" parameterClass="Smssubscribe">
         update [Smssubscribe] set
         Secret=#Secret#
         where Mobile=#Mobile#
       </update>
      

      <update id="updateEnable" parameterClass="Smssubscribe">
        update [Smssubscribe] set
        Enable=#Enable#
        where Mobile=#Mobile#
      </update>
        <delete id="delete" parameterClass="System.Int32">
            delete from [Smssubscribe] where Id=#value#
        </delete>

      <delete id="deleteBymobile" parameterClass="SmssubscribeFilter">
        delete from [Smssubscribe] where Mobile=#Mobile#
      </delete>
      
        <sql id="selectsql">
            select * from [Smssubscribe]
        </sql>
        <sql id="wheresql">
            <dynamic prepend="where">
                <isNotNull prepend="and" property="Mobile">
                    Mobile=#Mobile#  
                </isNotNull>
                <isNotNull prepend="and" property="Enable">
                    Enable=#Enable#  
                </isNotNull>
                <isNotNull prepend="and" property="City_id">
                    City_id=#City_id# 
                </isNotNull>
            </dynamic>
        </sql>
        <select id="getbyid" parameterClass="System.Int32" resultClass="Smssubscribe" cacheModel="c">
            <include refid="selectsql" />
            where Id=#value#
        </select>
        <select id="gettop1byfilter" parameterClass="SmssubscribeFilter" resultClass="Smssubscribe" cacheModel="c">
            select top 1
            * from [Smssubscribe]
            <include refid="wheresql" />
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>
        <select id="getbyfilter" parameterClass="SmssubscribeFilter" resultClass="Smssubscribe" cacheModel="c">
            select
            <isNotNull property="Top">
                top $Top$
            </isNotNull>
            * from [Smssubscribe]
            <include refid="wheresql" />
            <isNotEmpty property="SortOrderString">
                order by $SortOrderString$
            </isNotEmpty>
        </select>
        <select id="getcount" parameterClass="SmssubscribeFilter" resultClass="System.Int32" cacheModel="c">
            select count(*) from [Smssubscribe]
            <include refid="wheresql" />
        </select>
        <select id="getbypage" resultClass="Smssubscribe" parameterClass="SmssubscribeFilter" cacheModel="c">
            WITH datatable AS
            (
            SELECT *,
            ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
            FROM [Smssubscribe]
            <include refid="wheresql" />
            )
            SELECT *
            FROM datatable
            WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
        </select>
    </statements>
</sqlMap>