<?xml version="1.0" encoding="utf-8" ?>

<sqlMap namespace="SmssubscribedetailMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Smssubscribedetail" type="AS.GroupOn.Domain.Spi.Smssubscribedetail,AS.GroupOn" />
    <typeAlias alias="SmssubscribedetailFilter" type="AS.GroupOn.DataAccess.Filters.SmssubscribedetailFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Smssubscribedetail" >
      insert into [Smssubscribedetail]
      (teamid,mobile,sendtime,issend)
      values
      (#teamid#,#mobile#,#sendtime#,#issend#)
      <selectKey type="post" resultClass="System.Int32" property="id">
        select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Smssubscribedetail">
      update [Smssubscribedetail] set
      teamid=#teamid#,mobile=#mobile#,sendtime=#sendtime#,issend=#issend#
      where id=#id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Smssubscribedetail] where id=#id#
    </delete>
    <sql id="selectsql">
      select * from [Smssubscribedetail]
    </sql>
    <sql id="wheresql">
      
      <dynamic prepend="where">
        
        <isNotNull prepend="and" property="Teamid">
            teamid=#Teamid#
        </isNotNull>
        <isNotNull prepend="and" property="Mobile">
          mobile=#Mobile#
        </isNotNull>
        <isNotNull prepend="and" property="Sendtime">
          sendtime=#Sendtime#
        </isNotNull>
        <isNotNull prepend="and" property="Issend">
          issend=#Issend#
        </isNotNull>
        
      </dynamic>
      
    </sql>
    
    <select id="getbyid" parameterClass="System.Int32" resultClass="Smssubscribedetail" cacheModel="c">
      <include refid="selectsql" />
      where id=#id#
    </select>
    <select id="gettop1byfilter" parameterClass="SmssubscribedetailFilter" resultClass="Smssubscribedetail" cacheModel="c">
      select top 1
      * from [Smssubscribedetail]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="SmssubscribedetailFilter" resultClass="Smssubscribedetail" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Smssubscribedetail]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="SmssubscribedetailFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Smssubscribedetail]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="Smssubscribedetail" parameterClass="SmssubscribedetailFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Smssubscribedetail]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>