<?xml version="1.0" encoding="utf-8" ?>

<sqlMap namespace="SmstemplateMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Smstemplate" type="AS.GroupOn.Domain.Spi.Smstemplate,AS.GroupOn" />
    <typeAlias alias="SmstemplateFilter" type="AS.GroupOn.DataAccess.Filters.SmstemplateFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Smstemplate" >
      insert into [smstemplate]
      (name,value)
      values
      (#name#,#value#)
    </insert>
    <update id="update" parameterClass="Smstemplate">
      update [smstemplate] set
      value=#value#
      where name=#name#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [smstemplate] where name=#name#
    </delete>
    <sql id="selectsql">
      select * from [smstemplate]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        
        <isNotNull prepend="and" property="Name">
          name=#Name#
        </isNotNull>
       
      </dynamic>
    </sql>
    <select id="getbyname" parameterClass="System.Int32" resultClass="Smstemplate" cacheModel="c">
      <include refid="selectsql" />
      where name=#name#
    </select>
    <select id="gettop1byfilter" parameterClass="SmstemplateFilter" resultClass="Smstemplate" cacheModel="c">
      select top 1
      * from [smstemplate]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="SmstemplateFilter" resultClass="Smstemplate" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [smstemplate]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="SmstemplateFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [smstemplate]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="Smstemplate" parameterClass="SmstemplateFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [smstemplate]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>