<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
  </settings>
  
  <providers resource="${root}\providers.config"/>
  
	<!-- Database connection information -->
	<database>
		<provider name="sqlServer2005"/>
		<dataSource name="ASGroupOn" connectionString="${masterSqlserver}" />
	</database>

	<sqlMaps>
    <sqlMap resource="${root}\GuidMap.config" />
    <sqlMap resource="${root}\InventorylogMap.config"/>
    <sqlMap resource="${root}\MenuMap.config"/>
    <sqlMap resource="${root}\LocationMap.config"/>
    <sqlMap resource="${root}\MailserviceproviderMap.config"/>
    <sqlMap resource="${root}\MailtasksMap.config"/>
    <sqlMap resource="${root}\MailserverMap.config"/>
    <sqlMap resource="${root}\MailerMap.config" />
    <sqlMap resource="${root}\InviteMap.config" />
    <sqlMap resource="${root}\AskMap.config" />
    <sqlMap resource="${root}\BrandMap.config" />
    <sqlMap resource="${root}\CityMap.config" />
    <sqlMap resource="${root}\CustomMap.config" />
    <sqlMap resource="${root}\CategoryMap.config"/>
    <sqlMap resource="${root}\OrderDetailMap.config" />
    <sqlMap resource="${root}\OrderMap.config" />
    <sqlMap resource="${root}\PartnerMap.config" />
    <sqlMap resource="${root}\TeamMap.config" />
    <sqlMap resource="${root}\UserMap.config" />
    <sqlMap resource="${root}\PageMap.config" />
    <sqlMap resource="${root}\FriendLinkMap.config" />
    <sqlMap resource="${root}\CouponMap.config" />
    <sqlMap resource="${root}\CardMap.config" />
    <sqlMap resource="${root}\Partner_DetailMap.config"/>
    <sqlMap resource="${root}\FlowMap.config" />
    <sqlMap resource="${root}\SystemMap.config" />
    <sqlMap resource="${root}\SmssubscribeMap.config"/>
    <sqlMap resource="${root}\CatalogsMap.config" />
    <sqlMap resource="${root}\BranchMap.config"/>
    <sqlMap resource="${root}\PayMap.config" />
    <sqlMap resource="${root}\FareTemplateMap.config" />
    <sqlMap resource="${root}\CpsMap.config" />
    <sqlMap resource="${root}\UserReviewMap.config" />
    <sqlMap resource="${root}\UserlevelrulesMap.config"/>
    <sqlMap resource="${root}\Vote_Feedback_InputMap.config"/>
    <sqlMap resource="${root}\Vote_Feedback_QuestionMap.config"/>
    <sqlMap resource="${root}\Vote_FeedbackMap.config"/>
    <sqlMap resource="${root}\Vote_OptionsMap.config"/>
    <sqlMap resource="${root}\Vote_QuestionMap.config"/>
    <sqlMap resource="${root}\YizhantongMap.config" />
    <sqlMap resource="${root}\DrawMap.config"/>
    <sqlMap resource="${root}\ExpressnocitysMap.config"/>
    <sqlMap resource="${root}\ExpresspriceMap.config"/>
    <sqlMap resource="${root}\FarecitysMap.config"/>
    <sqlMap resource="${root}\FeedbackMap.config"/>
    <sqlMap resource="${root}\SmssubscribedetailMap.config"/>
    <sqlMap resource="${root}\SmstemplateMap.config"/>
    <sqlMap resource="${root}\SubscribeMap.config"/>
    <sqlMap resource="${root}\Template_printMap.config"/>
    <sqlMap resource="${root}\TopicMap.config"/>
	<sqlMap resource="${root}\MenuRelationMap.config"/>
	<sqlMap resource="${root}\NewsMap.config"/>
	<sqlMap resource="${root}\PacketMap.config"/>
    <sqlMap resource="${root}\RoleMap.config"/>
    <sqlMap resource="${root}\PcouponMap.config"/>
    <sqlMap resource="${root}\SalesMap.config"/>
    <sqlMap resource="${root}\Sales_promotionMap.config"/>
    <sqlMap resource="${root}\AuthorMap.config"/>
    <sqlMap resource="${root}\ScorelogMap.config"/>
    <sqlMap resource="${root}\ProductMap.config"/>
    <sqlMap resource="${root}\AreaMap.config"/>
    <sqlMap resource="${root}\RoleAuthorityMap.config"/>
    <sqlMap resource="${root}\AuthorityMap.config"/>
    <sqlMap resource="${root}\Promotion_rulesMap.config"/>
	<sqlMap resource="${root}\RefundsMap.config"/>
	<sqlMap resource="${root}\Refunds_detailMap.config"/>
	<sqlMap resource="${root}\GetDataMap.config"/>
    <sqlMap resource="${root}\AdjunctMap.config"/>
    <sqlMap resource="${root}\OprationLogMap.config"/>   
  </sqlMaps>
</sqlMapConfig>