<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="SubscribeMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Subscribe" type="AS.GroupOn.Domain.Spi.Subscribe,AS.GroupOn" />
    <typeAlias alias="SubscribeFilter" type="AS.GroupOn.DataAccess.Filters.SubscribeFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Subscribe" >
      insert into [Subscribe]
      (email,City_id,Secret)
      values
      (#email#,#City_id#,#Secret#)
      <selectKey type="post" resultClass="System.Int32" property="Id">
        select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Subscribe">
      update [Subscribe] set
      email=#email#,City_id=#City_id#,Secret=#Secret#
      where Id=#Id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Subscribe] where Id=#Id#
    </delete>
    <sql id="selectsql">
      select * from [Subscribe]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="Email">
         email=#Email#
        </isNotNull>
        <isNotNull prepend="and" property="City_Id">
          City_Id=#City_Id#
        </isNotNull>
        <isNotNull prepend="and" property="Secret">
          Secret=#Secret#
        </isNotNull>
       
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="Subscribe" cacheModel="c">
      <include refid="selectsql" />
      where Id=#Id#
    </select>
    <select id="gettop1byfilter" parameterClass="SubscribeFilter" resultClass="Subscribe" cacheModel="c">
      select top 1
      * from [Subscribe]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="SubscribeFilter" resultClass="Subscribe" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Subscribe]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="SubscribeFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Subscribe]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="Subscribe" parameterClass="SubscribeFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Subscribe]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>