<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="TeamMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="Team" type="AS.GroupOn.Domain.Spi.Team,AS.GroupOn" />
		<typeAlias alias="TeamFilter" type="AS.GroupOn.DataAccess.Filters.TeamFilter,AS.GroupOn" />
	</alias>

	<resultMap id="getbrandall" class="Team">
		<result property="Name" column="Name"/>
	</resultMap>

	<cacheModels>
		<cacheModel id="c" implementation="MEMORY" readOnly="true">
			<flushInterval  seconds="3" />
			<flushOnExecute statement="insert"/>
			<flushOnExecute statement="update"/>
			<flushOnExecute statement="delete"/>
			<property name="CacheSize" value="10000" />
		</cacheModel>
	</cacheModels>
	<statements>
		<insert id="insert" parameterClass="Team" >
      insert into [Team]
      (User_id,Title,Summary,City_id,Group_id,Partner_id,System,Team_price,Market_price,Product,
      Per_number,Min_number,Max_number,Now_number,Manualupdate,Image,Image1,Image2,PhoneImg,
      Flv,Mobile,Credit,Card,Fare,Farefree,
      Bonus,Address,Detail,Systemreview,Userreview,Notice,Express,Delivery,State,Conduser,Buyonce,Team_type,
      Sort_order,start_time,Expire_time,Begin_time,End_time,Reach_time,
      Close_time,bulletin,update_value,time_state,time_interval,
      autolimit,freighttype,inventory,invent_war,invent_result,teamscore,score,seotitle,seokeyword,
      seodescription,brand_id,open_invent,open_war,warmobile,Per_minnumber,shanhu,codeswitch,
      commentscore,othercity,cataid,teamhost,teamnew,catakey,apiopen,
      productid,cost_price,teamway,drawType,status,sale_id,isPredict,teamcata,
      level_cityid,mallstatus,areaid,circleid,isrefund,cashOnDelivery,branch_id)
      values
      (#User_id#,#Title#,#Summary#,#City_id#,#Group_id#,#Partner_id#,#System#,#Team_price#,#Market_price#,#Product#,#Per_number#,
      #Min_number#,#Max_number#,#Now_number#,#Manualupdate#,#Image#,#Image1#,#Image2#,#PhoneImg#,
      #Flv#,#Mobile#,#Credit#,#Card#,#Fare#,#Farefree#,
      #Bonus#,#Address#,#Detail#,#Systemreview#,#Userreview#,#Notice#,#Express#,#Delivery#,#State#,#Conduser#,#Buyonce#,#Team_type#,
      #Sort_order#,#start_time#,#Expire_time#,#Begin_time#,#End_time#,#Reach_time#,
      #Close_time#,#bulletin#,#update_value#,#time_state#,#time_interval#,
      #autolimit#,#freighttype#,#inventory#,#invent_war#,
      #invent_result#,#teamscore#,#score#,#seotitle#,#seokeyword#,
      #seodescription#,#brand_id#,#open_invent#,#open_war#,
      #warmobile#,#Per_minnumber#,#shanhu#,#codeswitch#,
      #commentscore#,#othercity#,#cataid#,#teamhost#,#teamnew#,#catakey#,#apiopen#,
      #productid#,#cost_price#,#teamway#,#drawType#,#status#,#sale_id#,#isPredict#,#teamcata#,
      #level_cityid#,#mallstatus#,#areaid#,#circleid#,#isrefund#,#cashOnDelivery#,#branch_id#)
      <selectKey type="post" resultClass="System.Int32" property="Id">
				select @@identity as value
			</selectKey>
		</insert>
		<update id="update" parameterClass="Team">
      update [Team] set
      User_id=#User_id#,Title=#Title#,Summary=#Summary#,City_id=#City_id#,Group_id=#Group_id#,Partner_id=#Partner_id#,System=#System#,
      Team_price=#Team_price#,Market_price=#Market_price#,Product=#Product#,Per_number=#Per_number#,Min_number=#Min_number#,Max_number=#Max_number#,
      Now_number=#Now_number#,Manualupdate=#Manualupdate#,Image=#Image#,Image1=#Image1#,Image2=#Image2#,PhoneImg=#PhoneImg#,
      Flv=#Flv#,Mobile=#Mobile#,Credit=#Credit#,Card=#Card#,Fare=#Fare#,Farefree=#Farefree#,
      Bonus=#Bonus#,Address=#Address#,Detail=#Detail#,Systemreview=#Systemreview#,Userreview=#Userreview#,Notice=#Notice#,
      Express=#Express#,Delivery=#Delivery#,State=#State#,Conduser=#Conduser#,Buyonce=#Buyonce#,Team_type=#Team_type#,
      Sort_order=#Sort_order#,start_time=#start_time#,Expire_time=#Expire_time#,Begin_time=#Begin_time#,End_time=#End_time#,Reach_time=#Reach_time#,
      Close_time=#Close_time#,bulletin=#bulletin#,update_value=#update_value#,time_state=#time_state#,time_interval=#time_interval#,
      autolimit=#autolimit#,freighttype=#freighttype#,inventory=#inventory#,invent_war=#invent_war#,
      invent_result=#invent_result#,teamscore=#teamscore#,score=#score#,seotitle=#seotitle#,seokeyword=#seokeyword#,
      seodescription=#seodescription#,brand_id=#brand_id#,open_invent=#open_invent#,open_war=#open_war#,
      warmobile=#warmobile#,Per_minnumber=#Per_minnumber#,shanhu=#shanhu#,codeswitch=#codeswitch#,
      commentscore=#commentscore#,othercity=#othercity#,cataid=#cataid#,teamhost=#teamhost#,teamnew=#teamnew#,catakey=#catakey#,apiopen=#apiopen#,
      productid=#productid#,cost_price=#cost_price#,teamway=#teamway#,drawType=#drawType#,status=#status#,sale_id=#sale_id#,isPredict=#isPredict#,teamcata=#teamcata#,
      level_cityid=#level_cityid#,mallstatus=#mallstatus#,areaid=#areaid#,circleid=#circleid#,isrefund=#isrefund#,cashOnDelivery=#cashOnDelivery#,branch_id=#branch_id#
      where Id=#Id#
    </update>

		<update id="updatesaleid" parameterClass="Team">
			update [Team] set
			sale_id=#sale_id#
			where Id=#Id#
		</update>
        <update id="updateclosetime" parameterClass="Team">
            update [Team] set
            Close_time=#Close_time#
            where Id=#Id#
        </update>
        <update id="updatereachtime" parameterClass="Team">
            update [Team] set
            Reach_time=#Reach_time#
            where Id=#Id#
        </update>
		<delete id="delete" parameterClass="System.Int32">
			delete from [Team] where Id=#Id#
		</delete>
		<sql id="selectsql">
			select * from [Team]
		</sql>
		<sql id="wheresql">
			<dynamic prepend="where">
				<isNotNull prepend="and" property="Id">
					Id=#Id#
				</isNotNull>
				<isNotNull prepend="and" property="isopen_invent">
					<![CDATA[					
					(open_invent=1 and inventory>0)
					]]>
				</isNotNull>
				<isNotNull prepend="or" property="oropen_invent">
					open_invent=0
				</isNotNull>
				<isNotNull prepend="and" property="IdnotIn">
					Id not in($IdnotIn$)
				</isNotNull>

				<isNotNull prepend="and" property="No_Id">
					Id != #No_Id#
				</isNotNull>
        <isNotNull prepend="and" property="isPredict">
          isPredict = #isPredict#
        </isNotNull>
				<isNotNull prepend="and" property="StarTeamScore">
					<![CDATA[
                teamscore >=#StarTeamScore#
              ]]>
				</isNotNull>
				<isNotNull prepend="and" property="EndTeamScore">
					<![CDATA[
                teamscore <#EndTeamScore#
              ]]>
				</isNotNull>
				<isNotNull prepend="and" property="TitleLike">
					Title like '%$TitleLike$%'
				</isNotNull>
				<isNotNull prepend="and" property="mallstatus">
					mallstatus=#mallstatus#
				</isNotNull>
				<isNotNull prepend="and" property="City_id">
					City_id=#City_id#
				</isNotNull>

				<isNotNull prepend="and" property="CityID">
					(City_id=#CityID# or City_id=0 or level_cityid=#CityID#)
				</isNotNull>
				<isNotNull prepend="and" property="Cityblockothers">
          (City_id=#Cityblockothers# or level_cityid=#Cityblockothers# or City_id=0 or othercity like '%$Cityblockothers$%')
        </isNotNull>
				<isNotNull prepend="and" property="CurrentCityId">
                    <![CDATA[
                    (city_id=#CurrentCityId# or level_cityid=#CurrentCityId# or city_id=0 or othercity like '%$CurrentCityId$%')
                    ]]>
                </isNotNull>
				<isNotNull prepend="and" property="DA_City_id">
					<![CDATA[City_id >=#DA_City_id#]]>
				</isNotNull>
				<isNotNull prepend="and" property="Group_id">
					Group_id=#Group_id#
				</isNotNull>
				<isNotNull prepend="and" property="Partner_id">
					Partner_id = #Partner_id#
				</isNotNull>
				<isNotNull prepend="and" property="Delivery">
					Delivery=#Delivery#
				</isNotNull>

				<isNotNull prepend="and" property="NotDelivery">
					Delivery!=#NotDelivery#
				</isNotNull>

				<isNotNull prepend="and" property="Team_type">
					Team_type=#Team_type#
				</isNotNull>
				<isNotNull prepend="and" property="CataID">
					cataid=#CataID#
				</isNotNull>
				<isNotNull prepend="and" property="CataIDin">
					cataid in($CataIDin$)
				</isNotNull>

				<isNotNull prepend="and" property="CataIDNotin">
					cataid not in($CataIDNotin$)
				</isNotNull>

				<isNotNull prepend="and" property="BrandID">
					brand_id=#BrandID#
				</isNotNull>
				<isNotNull prepend="and" property="BrandIDNotZero">
					brand_id!=0
				</isNotNull>
				<isNotNull prepend="and" property="status">
					status=#status#
				</isNotNull>
				<isNotNull prepend="and" property="teamcata">
					teamcata=#teamcata#
				</isNotNull>
				<isNotNull prepend="and" property="teamcataor">
					teamcata=#teamcataor# and ((open_invent=1 and <![CDATA[ inventory>0]]>) or open_invent=0)
				</isNotNull>
				<isNotNull prepend="and" property="teamhost">
					teamhost=#teamhost#
				</isNotNull>
				<isNotNull prepend="and" property="teamnew">
					teamnew=#teamnew#
				</isNotNull>
				<isNotNull prepend="and" property="productid">
					productid=#productid#
				</isNotNull>
				<isNotNull prepend="and" property="othercity">
					othercity like '%$othercity$%'
				</isNotNull>
				<isNotNull prepend="and" property="City_ids">
					((City_id in ($City_ids$)) or City_id=0)
				</isNotNull>
				<isNotNull prepend="and" property="KeyWord">
					(catakey like '%$KeyWord$%' or Title like '%$KeyWord$%')
				</isNotNull>
				<isNotNull prepend="and" property="OrderID">
					Id in(select team_id from [Order] where Id=#OrderID#) or Id in(select teamid from [orderdetail] where Order_id=#OrderID#)
				</isNotNull>
				<isNotNull prepend="and" property="cityidIn">
					City_id in(select Id from category where Name like '%$cityidIn$%')
				</isNotNull>
				<isNotNull prepend="and" property="TypeIn">
					Team_type in($TypeIn$)
				</isNotNull>
        <isNotNull prepend="and" property="unTeam_type">
          Team_type !=#unTeam_type#
        </isNotNull>
				<isNotNull prepend="and" property="FromTeam_price">
					<![CDATA[
          Team_price>=#FromTeam_price#
          ]]>
				</isNotNull>
				<isNotNull prepend="and" property="ToTeam_price">
					<![CDATA[
          Team_price<=#ToTeam_price#
          ]]>
				</isNotNull>
				<isNotNull prepend="and" property="FromMarketPrice">
					<![CDATA[
          Team_price/case Market_price when 0 then null else Market_price end>=#FromMarketPrice#
          ]]>
				</isNotNull>
				<isNotNull prepend="and" property="ToMarketPrice">
					<![CDATA[
          Team_price/case Market_price when 0 then null else Market_price end<=#ToMarketPrice#
          ]]>
				</isNotNull>
				<isNotNull prepend="and" property="FromBrand_id">
					<![CDATA[
          brand_id>#FromBrand_id#
          ]]>
				</isNotNull>
				<isNotNull prepend="and" property="FromBegin_time">
					<![CDATA[
          Begin_time>=#FromBegin_time#
          ]]>
				</isNotNull>
				<isNotNull prepend="or" property="orBegin_time">
					<![CDATA[
          Begin_time>#orBegin_time#
          ]]>
				</isNotNull>
				<isNotNull prepend="and" property="ToBegin_time">
					<![CDATA[
          Begin_time<=#ToBegin_time#
          ]]>
				</isNotNull>
				<isNotNull prepend="and" property="FromEndTime">
					<![CDATA[
        End_time>=#FromEndTime#
        ]]>
				</isNotNull>
				<isNotNull prepend="and" property="EndToTime">
					<![CDATA[
             End_time<#EndToTime#
             ]]>

				</isNotNull>
				<isNotNull prepend="and" property="ToEndTime">
					<![CDATA[
        (end_time<#ToEndTime# or status=8)
        ]]>
				</isNotNull>
				<isNotNull prepend="and" property="not">
					<![CDATA[
				not (End_time<GetDate() and Now_number<Min_number and not(open_invent='1' and inventory='0'))
				 ]]>
				</isNotNull>
				<isNotNull prepend="and" property="Fromnownumber">
					<![CDATA[
        ( now_number>=Min_number)
        ]]>
				</isNotNull>
				<isNotNull prepend="and" property="Tonownumber">
					<![CDATA[
        ( now_number<Min_number)
        ]]>
				</isNotNull>
				<isNotNull prepend="and" property="State">
					<isEqual property="State" compareValue="None">
						<![CDATA[
        Begin_time >= GETDATE() 
        ]]>
					</isEqual>

					<isEqual property="State" compareValue="success">
						<![CDATA[
        ((end_time<getdate() or status=8) and now_number>=Min_number)
        ]]>
					</isEqual>
					<isEqual property="State" compareValue="failure">
						<![CDATA[
        ((end_time<getdate() or status=8) and now_number<Min_number)
        ]]>
					</isEqual>
					<isEqual property="State" compareValue="Nowing">
						<![CDATA[
       ( begin_time <=getdate() and getdate()<=end_time  )
        ]]>
					</isEqual>
					<isEqual property="State" compareValue="Weikaishi">
						<![CDATA[
       ( ( begin_time >=getdate() and getdate()<=end_time ))
        ]]>
					</isEqual>
					<isEqual property="State" compareValue="xiajia">
						<![CDATA[
        ( End_time <GetDate() or Begin_time >GetDate())
        ]]>
					</isEqual>
				</isNotNull>
				<isNotNull prepend="and" property="unpoint">
					<![CDATA[
			  team_type<>'#unpoint#'
			  ]]>
				</isNotNull>

				<isNotEmpty prepend="and" property="sql">
					$sql$
				</isNotEmpty>

				<isNotEmpty prepend="and" property="where">
					$where$
				</isNotEmpty>
        <isNotEmpty prepend="and" property="branch_id">
          branch_id=#branch_id#
        </isNotEmpty>
			</dynamic>
		</sql>



		<select id="getteamlists" parameterClass="System.String" resultClass="Team" cacheModel="c">
			$value$
		</select>

		<select id="getbyCurrentTeam" parameterClass="TeamFilter" resultClass="Team" cacheModel="c">

			select * from (select top 1 id from team where (Team_type='normal' or Team_type='draw')  and teamcata=#teamcata# and Begin_time  <![CDATA[<='getdate()' ]]> and End_time<![CDATA[>='getdate()' ]]>  order by  sort_order desc,Begin_time desc,id desc) as t1

		</select>

		<select id="getbyCurrentotherTeam" parameterClass="TeamFilter" resultClass="Team" cacheModel="c">

			select * from (select top 1 id from team where (Team_type='normal' or Team_type='draw')  and teamcata=0 and ((City_id=#City_id# or city_id=0) or othercity=#othercity#) and  Begin_time <![CDATA[<='getdate()' ]]> and End_time>=<![CDATA[>='getdate()' ]]>  order by  sort_order desc,Begin_time desc,id desc ) as t1

		</select>


		<select id="getBrandId" parameterClass="TeamFilter" resultClass="Team" cacheModel="c">
			select distinct brand_id from [team]
			<include refid="wheresql"/>
			group by brand_id
		</select>

		<select id="getbyid" parameterClass="System.Int32" resultClass="Team" cacheModel="c">
			<include refid="selectsql" />
			where Id=#Id#
		</select>
		<select id="gettop1byfilter" parameterClass="TeamFilter" resultClass="Team" cacheModel="c">
			select top 1
			* from [Team]
			<include refid="wheresql"/>
			<isNotEmpty property="SortOrderString">
				order by $SortOrderString$
			</isNotEmpty>
		</select>
		<select id="getbyfilter" parameterClass="TeamFilter" resultClass="Team" cacheModel="c">
			select
			<isNotNull property="Top">
				top $Top$
			</isNotNull>
			* from [Team]
			<include refid="wheresql"/>
			<isNotEmpty property="SortOrderString">
				order by $SortOrderString$
			</isNotEmpty>
		</select>

		<select id="getsumid" parameterClass="TeamFilter" resultClass="System.Int32" cacheModel="c">
			select count(Id) as sum from [Team]
			<include refid="wheresql"/>
		</select>



		<select id="getdetailcount" parameterClass="TeamFilter" resultClass="System.Int32" cacheModel="c">
			select count(*) from $table$
			<include refid="wheresql"/>
		</select>

		<select id="getbydetailpage" resultClass="Team" parameterClass="TeamFilter" cacheModel="c">
			WITH datatable AS
			(
			SELECT *,
			ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
			FROM $table$
			<include refid="wheresql"/>
			)
			SELECT *
			FROM datatable
			WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
		</select>


		<select id="getcount" parameterClass="TeamFilter" resultClass="System.Int32" cacheModel="c">
			select count(*) from [Team]
			<include refid="wheresql"/>
		</select>
		<select id="getbypage" resultClass="Team" parameterClass="TeamFilter" cacheModel="c">
			WITH datatable AS
			(
			SELECT *,
			ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
			FROM [Team]
			<include refid="wheresql"/>
			)
			SELECT *
			FROM datatable
			WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
		</select>

		<select id="getblockothers" parameterClass="TeamFilter" resultClass="Team" cacheModel="c">
			select * from (select
			<isNotNull property="Top">
				top $Top$
			</isNotNull>
			* from [Team]
			<include refid="wheresql"/>
			order by  Sort_order desc,Begin_time desc,Id desc ) as t1
		</select>

		<select id="getbrandall" parameterClass="TeamFilter" resultClass="Team" cacheModel="c">
			select  t.*,category.Name from
			(
			select brand_id,count(*) as number from Team
			<include refid="wheresql" />
			group by brand_id
			)t
			left join category
			on(t.brand_id=category.id)
			order by number desc
		</select>

		<select id="getpinglun" parameterClass="TeamFilter" resultClass="Team" cacheModel="c">
			select team.Id,Username,Title,Image,comment,t1.create_time,t1.totalamount from
			(
			select userreview.Id,userreview.state, user_id,team_id,username,userreview.create_time,comment,totalamount
			from userreview left join [User]
			on  userreview.user_id=[User].Id
			)t1
			left join team on t1.team_id=team.Id and mallstatus=1
			<dynamic prepend="where">
				<isNotNull prepend="and" property="pl_teamid">
					team.id=#pl_teamid# and team.mallstatus=1 and t1.state!=2
				</isNotNull>
				<isNotNull prepend="and" property="pl_state">
					t1.state=1
				</isNotNull>
			</dynamic>
			order by t1.Id desc
		</select>

		<select id="getteamoper" parameterClass="TeamFilter" resultClass="Team" cacheModel="c">
			select * from Team where
			id in(
			select teamid from orderdetail
			<dynamic prepend="where">
				<isNotNull prepend="and" property="oper_teamid">
					order_id in
					(
					select order_id from orderdetail
					where teamid=#oper_teamid#
					)
					and teamid!=#oper_teamid#
					and teamcata=1 and mallstatus =1
				</isNotNull>
			</dynamic>
			)
		</select>

		<select id="getteamdto" parameterClass="TeamFilter" resultClass="Team" cacheModel="c">
			select
			<isNotNull property="Top">
				top $Top$
			</isNotNull>
			Id,Title,Image,Market_price,Team_price,Sort_order,Begin_time from team
			<dynamic prepend="where">
				<isNotNull prepend="and" property="dto_teamid">
					teamcata=1  and mallstatus =1
					and Id !=#dto_teamid#
					and cataid =
					(
					select cataid from team
					where Id=#dto_teamid# and mallstatus =1
					)
				</isNotNull>
			</dynamic>
			order by Sort_order desc,begin_time desc,id desc
		</select>

		<select id="getbypageteambuy" resultClass="Team" parameterClass="TeamFilter" cacheModel="c">
			WITH datatable AS
			(
			SELECT *,Team_price/case Market_price when 0 then null else Market_price end as discount,
			ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
			FROM [Team]
			<include refid="wheresql"/>
			)
			SELECT *
			FROM datatable
			WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
		</select>

		<select id="getPartnerid" resultClass="Team" parameterClass="TeamFilter" cacheModel="c">
			select partner_id from team
			<include refid="wheresql"/>
		</select>
    <select id="getpbranch" parameterClass="TeamFilter" resultClass="Hashtable" cacheModel="c">
      select t.Express_id, t.Category_name, count(*)as num  from (select t.*,Category.name as Category_name from
      (select [Order].Id as order_id, orderdetail.Teamid as order_team_id,[Order].result as order_result,
      [order].address as order_address,[order].remark as order_remark,User_id,Email,Username,Quantity,Origin,Service,
      [Order].Credit,[order].Money as order_money,cashondelivery,Express,[Order].Create_time as order_create_time,
      [order].Parent_orderid as order_parent_orderid,[order].Partner_id as order_Partner_id,Pay_time,[user].mobile as user_mobile,
      state,team_id,pay_id,Express_no,[order].mobile as order_mobile,Express_id,express_xx from [Order] inner join [User]
      on([Order].User_id=[User].Id)left join orderdetail on([Order].Id=orderdetail.Order_id ))t  left join [Category]
      on(Category.id=express_id) where t.order_team_id in(select Id from Team where Team.branch_id =#branch_id#))t
      where   service!='cashondelivery' and  state='pay' and Express='Y' and Express_id>0 and isnull(express_xx,'')!='已打印'
      group by t.Category_name ,t.Express_id order  by num desc
    </select>
    <select id="getpbranch1" parameterClass="TeamFilter" resultClass="Hashtable" cacheModel="c">
      select t.Express_id, t.Category_name, COUNT(*)as num  from (select t.*,Category.name as Category_name from
      (select [Order].Id as order_id, orderdetail.Teamid as order_team_id,[Order].result as order_result,
      [order].address as order_address,[order].remark as order_remark,User_id,Email,Username,Quantity,Origin,Service,
      [Order].Credit,[order].Money as order_money,cashondelivery,Express,[Order].Create_time as order_create_time,
      [order].Parent_orderid as order_parent_orderid,[order].Partner_id as order_Partner_id,Pay_time,[user].mobile as user_mobile,
      state,team_id,pay_id,Express_no,[order].mobile as order_mobile,Express_id,express_xx from [Order] inner join [User]
      on([Order].User_id=[User].Id)left join orderdetail on([Order].Id=orderdetail.Order_id ))t  left join [Category]
      on(Category.id=express_id) where t.order_team_id in(select Id from Team where Team.branch_id =#branch_id#))t
      where   service='cashondelivery' and (state='nocod' or state='pay') and Express='Y' and Express_id>0 and isnull(express_xx,'')!='已打印'
      group by t.Category_name ,t.Express_id order  by num desc
    </select>

        <select id="getsum" parameterClass="TeamFilter" resultClass="System.Int32" cacheModel="c">
            select sum(Now_number) from [Team]
            <include refid="wheresql"/>
        </select>
        
    </statements>
</sqlMap>