<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Template_printMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Template_print" type="AS.GroupOn.Domain.Spi.Template_print,AS.GroupOn" />
    <typeAlias alias="Template_printFilter" type="AS.GroupOn.DataAccess.Filters.Template_printFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Template_print" >
      insert into [template_print]
      (template_name,template_value)
      values
      (#template_name#,#template_value#)
      <selectKey type="post" resultClass="System.Int32" property="id">
        select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Template_print">
      update [template_print] set
      template_name=#template_name#,template_value=#template_value#
      where id=#id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [template_print] where id=#id#
    </delete>
    <sql id="selectsql">
      select * from [template_print]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="template_name">
          template_name=#template_name#
        </isNotNull>
        <isNotNull prepend="and" property="template_value">
          template_value=#template_value#
        </isNotNull>
      
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="Template_print" cacheModel="c">
      <include refid="selectsql" />
      where id=#id#
    </select>
    <select id="gettop1byfilter" parameterClass="Template_printFilter" resultClass="Template_print" cacheModel="c">
      select top 1
      * from [template_print]
      
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="Template_printFilter" resultClass="Template_print" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [template_print]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="Template_printFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [template_print]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="Template_print" parameterClass="Template_printFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [template_print]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>