<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="TopicMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Topic" type="AS.GroupOn.Domain.Spi.Topic,AS.GroupOn" />
    <typeAlias alias="TopicFilter" type="AS.GroupOn.DataAccess.Filters.TopicFilter,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Topic" >
      insert into [topic]
      (Parent_id,User_id,Title,Team_id,City_id,Public_id,Content,Head,Reply_number,View_number,Last_user_id,Last_time,create_time)
      values
      (#Parent_id#,#User_id#,#Title#,#Team_id#,#City_id#,#Public_id#,
      #Content#,#Head#,#Reply_number#,#View_number#,#Last_user_id#,#Last_time#,#create_time#)
      <selectKey type="post" resultClass="System.Int32" property="id">
        select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Topic">
      update [topic] set
      Parent_id=#Parent_id#,User_id=#User_id#,Title=#Title#,City_id=#City_id#,
      Public_id=#Public_id#,Content=#Content#,Head=#Head#,Reply_number=#Reply_number#,
      View_number=#View_number#,Last_user_id=#Last_user_id#,Last_time=#Last_time#,create_time=#create_time#
      where id=#id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [topic] where id=#id#
    </delete>
    <sql id="selectsql">
      select * from [topic]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="User_ID">
          User_id=#User_ID#
        </isNotNull>
        <isNotNull prepend="and" property="Team_ID">
          Team_id=#Team_ID#
        </isNotNull>
        <isNotNull prepend="and" property="City_ID">
          City_id=#City_ID#
        </isNotNull>
        <isNotNull prepend="and" property="Content">
          Content=#Content#
        </isNotNull>
        <isNotNull prepend="and" property="Create_Time">
            <![CDATA[
               create_Time=#Create_Time#
            ]]>
        </isNotNull>
          <isNotNull prepend="and" property="Parent_id">
              Parent_id=#Parent_id#
          </isNotNull>
          <isNotNull prepend="and" property="Public_id">
              Public_id=#Public_id#
          </isNotNull>
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="Topic" cacheModel="c">
      <include refid="selectsql" />
      where id=#id#
    </select>
    <select id="gettop1byfilter" parameterClass="TopicFilter" resultClass="Topic" cacheModel="c">
      select top 1
      * from [topic]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="TopicFilter" resultClass="Topic" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [topic]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="TopicFilter" resultClass="System.Int32" cacheModel="c">
      select count(*) from [topic]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="Topic" parameterClass="TopicFilter" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [topic]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
    <select id="getpages" resultClass="Topic" parameterClass="TopicFilter" cacheModel="c">
        WITH datatable AS
        (
        SELECT *,
        ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
        FROM (select topic.* from topic left join category on(topic.public_id=category.id)) AS tableName
        <include refid="wheresql"/>
        )
        SELECT *
        FROM datatable
        WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
      <select id="getbypages" resultClass="Topic" parameterClass="TopicFilter" cacheModel="c">
          WITH datatable AS
          (
              SELECT *,
              ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
              FROM (select topic.*,Category.Zone,Category.Id AS cateid from topic left join category on(topic.public_id=category.id)
              ) AS tableName
              where tableName.Parent_id=0  and  Zone='public' and tableName.cateid = tableName.Public_id
          )
          SELECT *
          FROM datatable
          WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
      </select>
      <select id="getcounta" parameterClass="TopicFilter" resultClass="System.Int32" cacheModel="c">
          SELECT
          COUNT(*) from (select topic.*,Category.Zone,Category.Id AS cateid from topic left join category on(topic.public_id=category.id)
          ) AS tableName
          where tableName.Parent_id=0  and  Zone='public' and tableName.cateid = tableName.Public_id
      </select>
  </statements>
</sqlMap>