<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Vote_Feedback_QuestionMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Vote_Feedback_Question" type="AS.GroupOn.Domain.Spi.Vote_Feedback_Question,AS.GroupOn" />
    <typeAlias alias="Vote_Feedback_QuestionFilters" type="AS.GroupOn.DataAccess.Filters.Vote_Feedback_QuestionFilters,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Vote_Feedback_Question" >
      insert into [Vote_Feedback_Question]
      (feedback_id,question_id,options_id)
      values
      (#feedback_id#,#question_id#,#options_id#)
      <selectKey type="post" resultClass="System.Int32" property="id">
          select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Vote_Feedback_Question">
      update [Vote_Feedback_Question] set
	 feedback_id=#feedback_id#,options_id=#options_id#,question_id=#question_id# 
      where id=#id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Vote_Feedback_Question] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [Vote_Feedback_Question]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="Feedback_ID">
          feedback_Id=#Feedback_ID#
        </isNotNull>
        <isNotNull prepend="and" property="Options_ID">
          Options_ID=#Options_ID#
        </isNotNull>
        <isNotNull prepend="and" property="Question_ID">
          Question_id=#Question_ID#
        </isNotNull>
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="Vote_Feedback_Question" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="Vote_Feedback_QuestionFilters" resultClass="Vote_Feedback_Question" cacheModel="c">
      select top 1
      * from [Vote_Feedback_Question]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="Vote_Feedback_QuestionFilters" resultClass="Vote_Feedback_Question" cacheModel="c">
      select								 
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Vote_Feedback_Question]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="Vote_Feedback_QuestionFilters" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Vote_Feedback_Question]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="Vote_Feedback_Question" parameterClass="Vote_Feedback_QuestionFilters" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Vote_Feedback_Question]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>