<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Vote_QuestionMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Vote_Question" type="AS.GroupOn.Domain.Spi.Vote_Question,AS.GroupOn" />
    <typeAlias alias="Vote_QuestionFilters" type="AS.GroupOn.DataAccess.Filters.Vote_QuestionFilters,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Vote_Question" >
      insert into [Vote_Question]
      (Title,Type,is_show,Addtime,[order])
      values
      (#Title#,#Type#,#is_show#,#Addtime#,#order#)
      <selectKey type="post" resultClass="System.Int32" property="id">
          select @@identity as value
      </selectKey>
    </insert>
    <update id="update" parameterClass="Vote_Question">
      update [Vote_Question] set
      Title=#Title#,Type=#Type#,is_show=#is_show#,[order]=#order#
      where id=#id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Vote_Question] where id=#id#
    </delete>
    <sql id="selectsql">
      select * from [Vote_Question]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="Title">
          title=#Title#
        </isNotNull>
        <isNotNull prepend="and" property="Type">
          type=#Type#
        </isNotNull>
        <isNotNull prepend="and" property="IsShow">
          is_show=#IsShow#
        </isNotNull>
   </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="Vote_Question" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="Vote_QuestionFilters" resultClass="Vote_Question" cacheModel="c">
      select top 1
      * from [Vote_Question]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="Vote_QuestionFilters" resultClass="Vote_Question" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Vote_Question]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="Vote_QuestionFilters" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Vote_Question]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="Vote_Question" parameterClass="Vote_QuestionFilters" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Vote_Question]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>