<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="YizhantongMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="Yizhantong" type="AS.GroupOn.Domain.Spi.Yizhantong,AS.GroupOn" />
    <typeAlias alias="YizhantongFilters" type="AS.GroupOn.DataAccess.Filters.YizhantongFilters,AS.GroupOn" />
  </alias>
  <cacheModels>
    <cacheModel id="c" implementation="MEMORY" readOnly="true">
      <flushInterval  seconds="3" />
      <flushOnExecute statement="insert"/>
      <flushOnExecute statement="update"/>
      <flushOnExecute statement="delete"/>
      <property name="CacheSize" value="10000" />
    </cacheModel>
  </cacheModels>
  <statements>
    <insert id="insert" parameterClass="Yizhantong" >
      insert into [Yizhantong]
      (userid,name,safekey)
      values
      (#userid#,#name#,#safekey#)
      <selectKey type="post" resultClass="System.Int32" property="id">
          select @@identity as value
      </selectKey>
    </insert>
    <insert id="insertyzt" parameterClass="Yizhantong" >
        insert into [Yizhantong]
        (userid,name)
        values
        (#userid#,#name#)
        <selectKey type="post" resultClass="System.Int32" property="id">
            select @@identity as value
        </selectKey>
    </insert>
    <update id="update" parameterClass="Yizhantong">
      update [Yizhantong] set
	  userid=#userid#,[name]=#name#,safekey=#safekey# 
      where Id=#id#
    </update>
    <delete id="delete" parameterClass="System.Int32">
      delete from [Yizhantong] where id=#value#
    </delete>
    <sql id="selectsql">
      select * from [Yizhantong]
    </sql>
    <sql id="wheresql">
      <dynamic prepend="where">
        <isNotNull prepend="and" property="User_ID">
          userid=#User_ID#
        </isNotNull>
        <isNotNull prepend="and" property="Name">
          name=#Name#
        </isNotNull>
        <isNotNull prepend="and" property="SafeKey">
          safekey=#SafeKey#
        </isNotNull>  
      </dynamic>
    </sql>
    <select id="getbyid" parameterClass="System.Int32" resultClass="Yizhantong" cacheModel="c">
      <include refid="selectsql" />
      where id=#value#
    </select>
    <select id="gettop1byfilter" parameterClass="YizhantongFilters" resultClass="Yizhantong" cacheModel="c">
      select top 1
      * from [Yizhantong]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getbyfilter" parameterClass="YizhantongFilters" resultClass="Yizhantong" cacheModel="c">
      select
      <isNotNull property="Top">
        top $Top$
      </isNotNull>
      * from [Yizhantong]
      <include refid="wheresql" />
      <isNotEmpty property="SortOrderString">
        order by $SortOrderString$
      </isNotEmpty>
    </select>
    <select id="getcount" parameterClass="YizhantongFilters" resultClass="System.Int32" cacheModel="c">
      select count(*) from [Yizhantong]
      <include refid="wheresql" />
    </select>
    <select id="getbypage" resultClass="Yizhantong" parameterClass="YizhantongFilters" cacheModel="c">
      WITH datatable AS
      (
      SELECT *,
      ROW_NUMBER() OVER (ORDER BY $SortOrderString$) AS 'RowNumber'
      FROM [Yizhantong]
      <include refid="wheresql" />
      )
      SELECT *
      FROM datatable
      WHERE RowNumber BETWEEN #StartRow# AND #EndRow#;
    </select>
  </statements>
</sqlMap>